html {height: 100% !important; }
body {
	position: relative;
	height: 100%;
	font-size: 14px;
	color: #363940;
}
body .body { height: 100%; }


.bgimg2-lg {
  background-image: url("../img/bg_rna_2.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 75%;
}


.cover {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	background-color: rgba(0, 46, 82, 0.15);
	padding: 20px;
}
.page {
  overflow: hidden;
  background-color: #fff;
  padding: 50px 0;
}

#home {
  float: left;
  display: block;
  position: relative;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.layer {
  display: block;
  position: absolute;
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
}
.layer-background {
	position: absolute;
	width: 110%;
	height: 110%;
	top: -5%;
	left: -5%;
	background-image: url('../img/bg_main.jpg'); 
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}


@font-face {
    font-family: "Tenor Sans Local";
    src: local("Tenor Sans"), url("fonts/TenorSans-Regular.ttf");
    font-weight: normal; font-style: normal;
}
* {
	font-family: 'Tenor Sans', 'Tenor Sans Local', Helvetica, Arial, sans-serif;
	border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
}
*:focus { 
	outline: none !important;
	box-shadow: none !important;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	margin-bottom: 10px;
}
h1 { font-size: 36px; }
h2 { font-size: 30px; }
h3 { font-size: 26px; }
h4 { font-size: 22px; }
h5 { font-size: 18px; }
p {	font-size: 14px/1.5em; }


section {
	position: relative;
}
.page-loader {
	text-align: center;
	position: fixed;
	left: 0px;
	top: 0px; 
	width: 100%;
	height: 100%;
	z-index: 99999;
	background-color: #fff;
}
.page-loader .load-center {
    display: inline-block;
    height: 100%;
    vertical-align: bottom;
}
.page-loader .load-content {
	vertical-align: bottom; 
	display: inline-block;
	max-width: 50%;
}
.divider {
	width: 100%;
	height: 52px;
	background: url('../img/fg_divider.gif') no-repeat center center;
	margin: -10px 0px -5px 0px;
}
.thumbnail {
	padding: 15px;
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid #ddd;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.form-control {
	-webkit-box-shadow: none;
	box-shadow: none;
}
.parallax {
	position: relative;
	background-position: 50% 30%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
  	background-size: cover;
}
.bg_rotate_fade {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}


.text-main { color: #363940; } /* Theme main color */
.text-white { color: #fff; }
.text-off-white { color: #e7e7e7;}
.text-dark { color: #000; }
.text-dark-green { color: #3e5b02;}
.text-green { color: #72a603; }
.text-light-green { color: #9fc906; }
.text-gray { color: #888; }
.text-light-gray { color: #ccc; }
.bg-light-green { background-color: #f8fee3; }
a { color: #72a603; }
a:hover, a:focus { color: #9fc906; }
b { font-weight: 900; }

.navbar {
	margin: 0;
	border: none;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.navbar .container {
	padding-left: 50px;
	padding-right: 50px;
}

.navbar-brand {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	width: 120px;
	height: auto;
	padding: 24px 0;
	text-indent: -99999px;
	font-size: 24px;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 4px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.navbar-default .navbar-brand,
.navbar-shrink .navbar-brand,
.navbar-inverse .navbar-brand { background-image: url('../img/t47/t47_logo.png'); }
.navbar-transparent .navbar-brand { background-image: url('../img/t47/t47_logo_g.png'); }

.navbar-nav li a {
	padding: 24px 0;
	margin-left: 25px;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 600;
}

.dropdown-left {
	left: 0 !important;
	right: auto !important;
}
.dropdown-right {
	right: 0 !important;
	left: auto !important;
}
.navbar-default .navbar-nav .open a,
.navbar-default .navbar-nav .open a:hover,
.navbar-default .navbar-nav .open a:focus { 
	color: #385200;
	background-color: transparent;
}
.navbar-default .dropdown-menu { padding: 10px 0; }
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:focus { color: #9fc906; }
.navbar-default .navbar-brand:hover { color: #385200; }
.navbar-default,
.navbar-default.navbar-fixed-top.navbar-shrink { background-color: #72a603; }
.navbar-default .navbar-nav li a { color: #e6fcb7; }
.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li a:focus, 
.navbar-default .navbar-nav li.active a, 
.navbar-default .navbar-nav .active>a {color: #fff !important; }
.navbar-default.navbar-fixed-top.navbar-shrink .navbar-nav li  a { color: #e6fcb7; }
.navbar-default.navbar-shrink .navbar-nav li a:hover, 
.navbar-default.navbar-shrink .navbar-nav li a:focus, 
.navbar-default.navbar-shrink .navbar-nav li.active a { color: #fff; }
.navbar-default.navbar-shrink .navbar-nav li.active a {
	-webkit-box-shadow: inset 0 3px #fff !important;
	-moz-box-shadow: inset 0 3px #fff !important;
	box-shadow: inset 0 3px #fff !important;
}
.navbar-default .dropdown-menu {
	border: 1px solid #9fc906;
	border-top: 2px solid #9fc906;
	-webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08);
	box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08);
}
.dropdown-menu li a:hover, 
.dropdown-menu li a:focus, 
.dropdown-menu li a.active, 
.dropdown-menu .active a, 
.dropdown-menu .active a:hover, 
.dropdown-menu .active a:focus {
	color: #385200; 
	text-decoration: none;
	background-color: transparent;
}
.navbar-default .navbar-nav .active a, 
.navbar-default .navbar-nav .active a:hover, 
.navbar-default .navbar-nav .active a:focus { background-color: transparent; }
.dropdown-menu li a {
	padding: 4px 20px;
	text-transform: uppercase;
}
.navbar-default.navbar-fixed-top.navbar-shrink .navbar-brand { color: #fff; }
.navbar-default.navbar-fixed-top.navbar-shrink .navbar-brand:hover { color: #385200; }

.navbar-inverse.navbar-fixed-top.navbar-shrink { background-color: #111; }

.navbar-inverse.navbar-fixed-top.navbar-shrink .navbar-nav li a { color: #CCC; }
.navbar-inverse.navbar-fixed-top.navbar-shrink .navbar-nav .active a,
 .navbar-inverse.navbar-fixed-top.navbar-shrink .navbar-nav .active a:hover, 
.navbar-inverse.navbar-fixed-top.navbar-shrink .navbar-nav .active a:focus,
.navbar-inverse.navbar-fixed-top.navbar-shrink .navbar-nav li a:hover,
.navbar-inverse.navbar-fixed-top.navbar-shrink .navbar-nav li a:focus,
.navbar-inverse.navbar-fixed-top.navbar-shrink .navbar-nav li.active a {
	background-color: transparent;
	color: #385200;
}

.navbar-fixed-top.navbar-shrink .navbar-brand,
.navbar-fixed-top.navbar-shrink .navbar-brand:focus,
body.boxed .body .navbar-inverse.navbar-transparent.navbar-shrink .navbar-brand { color: #CCC; }
.navbar-fixed-top.navbar-shrink .navbar-brand:hover { color: #385200; }

.navbar-fixed-top .container {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.navbar-shrink {
	z-index: 9999;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}
.navbar-shrink .navbar-brand { font-size: 20px; }
.navbar-fixed-top.navbar-shrink .container {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
.navbar-default.navbar-fixed-top.navbar-shrink .navbar-nav li a {
	padding-top: 24px;
	padding-bottom: 24px;
}

.navbar-transparent { background-color: rgba(0, 0, 0, 0); }
.navbar-fixed-top.navbar-transparent .container {
	padding-top: 30px;
	padding-bottom: 0;
}
.navbar-fixed-bottom.navbar-transparent .container {
	padding-top: 0;
	padding-bottom: 30px;
}
.navbar-transparent .navbar-nav li a { color: #FFF; }
.navbar-transparent .navbar-nav li:hover a {
	background-color: transparent;
	color: #9fc906;
}
.navbar-transparent .navbar-brand { color: #72a603; opacity: 0.5; }
.navbar-transparent .navbar-brand:focus { color: #9fc906; }

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	.navbar-collapse {
			background-color: #9fc906;
			border-color: #fff !important;
		}
	.navbar-default.navbar-shrink .navbar-nav li.active a {	box-shadow: none !important; }
	.navbar-nav li a:hover, 
	.navbar-nav li > a:focus, 
	.navbar-nav > li.active > a { color: #385200; }
}


.rotate-box-1, 
.rotate-box-2 {
	display: inline-block;
	margin: 30px 0;
}
a.rotate-box-1, 
a.rotate-box-2 {
	text-decoration: none;
	color: #363940;
}
.rotate-box-1 .rotate-box-icon {
	display: inline-block;
	text-align: center;
	margin-bottom: 15px;
	margin-right: 25px;
	margin-top: 10px;
	float:left;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.rotate-box-1.square-icon .rotate-box-icon, 
.rotate-box-2.square-icon .rotate-box-icon {
	width: 45px;
	height: 45px;
	line-height: 45px;
	color: #FFF !important;
	font-size: 18px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.rotate-box-1.square-icon .rotate-box-icon:after, 
.rotate-box-2.square-icon .rotate-box-icon:after {
	content: "";
	position: absolute;
	top: 3px;
	right: 3px;
	bottom: 3px;
	left: 3px;
	border: 2px solid #FFF;
}
.rotate-box-1:hover.square-icon .rotate-box-icon, 
.rotate-box-2:hover.square-icon .rotate-box-icon{
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
}
.rotate-box-1.square-icon .rotate-box-icon .fa, 
.rotate-box-2.square-icon .rotate-box-icon .fa{
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.rotate-box-1:hover.square-icon .rotate-box-icon .fa, 
.rotate-box-2:hover.square-icon .rotate-box-icon .fa{
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webkit-transform: scale(2, 1.41) rotate(90deg) rotateX(225deg);
	-moz-transform: scale(2, 1.41) rotate(90deg) rotateX(225deg);
	-o-transform: scale(2, 1.41) rotate(90deg) rotateX(225deg);
	transform: scale(2, 1.41) rotate(90deg) rotateX(225deg);
}

.rotate-box-1 .rotate-box-info a, 
.rotate-box-2 .rotate-box-info a {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.rotate-box-1 h4, 
.rotate-box-2 h4 { font-weight: 900; }
.rotate-box-1 p { padding: 0 10px; }
.rotate-box-1 .rotate-box-info { padding-left: 60px; }
.rotate-box-2 .rotate-box-info p { line-height: 150%; }

.rotate-box-2 .rotate-box-icon {
	display: inline-block;
	text-align: center;
	margin-bottom: 15px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.rotate-box-2.square-icon .rotate-box-icon {
	width: 75px;
	height: 75px;
	line-height: 75px;
	font-size: 36px;
}

.rotate-box-2.square-icon .rotate-box-info { margin-top: 30px; }

.rotate-box-1.square-icon .rotate-box-icon, 
.rotate-box-2.square-icon .rotate-box-icon { background-color: #72a603; }
.rotate-box-1:hover.square-icon .rotate-box-icon, 
.rotate-box-2:hover.square-icon .rotate-box-icon { background-color: #9fc906; }
.rotate-box-info:hover { color: #9fc906; }


.progress {
	overflow: visible;
	height: 25px;
	margin-bottom: 20px;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 3px solid #72a603;
	background-color: transparent;
}
.progress .percent {
	position: relative;
	background-color: #222;
	padding: 7px;
	color: #FFF;
	top: -23px;
}
.progress .percent:after {
	content: "";
	position: absolute;
	left: 50%;
	margin-left: -4px;
	bottom: -4px;
	width: 0;
	height: 0;
	border-left: 4px solid rgba(0, 0, 0, 0);
	border-right: 4px solid rgba(0, 0, 0, 0);
	border-top: 4px solid #222;
}
.progress-bar {
	background-color: #9fc906;
	color: #000;
	font-size: 14px;
	line-height: 7px;
	padding: 5px;
	text-align: center;
	font-weight: bold;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.progress-label h6 { font-weight: 900; }


#home-section {
	height: 100%;
	width: 100%;
}
#home-section .container { height: 100%; }
#home-section .caption {
	position: absolute;
	bottom: 20%;
	/*left: -30%;*/
	/*margin-top: -70px;*/
}
#home-section .caption img { max-width: 50%; }
#home-section .caption p {
	opacity: 0;
	letter-spacing: 2px;
	font-size: 3vh;
	margin-top: 10px;
	margin-left: 20px;
	-moz-transition:color 1s ease-in-out;
	-webkit-transition:color 1s ease-in-out; 
	-o-transition:color 1s ease-in-out;
	-ms-transition:color 1s ease-in-out;
	transition:color 1s ease-in-out;
}
.blink_cursor {
  color: #f44336;
  font-weight: bold;
}

.stanford {
	position: relative;
	overflow: hidden;
	padding: 80px 0px;
}
.stanford .cover, 
.counter-up .cover, 
#contact-section .cover { background-color: rgba(0, 7, 11, 0.5); }


.portfolio_single_content{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 5;
	/*margin-bottom:30px;*/
	overflow:hidden;
	
}
.portfolio_single_content:hover img{
	 -o-transform: scale(1.5);
	 -webkit-transform: scale(1.5);
	 -moz-transform: scale(1.5);
	 -ms-transform: scale(1.5);
	 transform: scale(1.5);
}
.portfolio_single_content img{
	border: 1px solid #ccc;
	margin-left: -1px;
	margin-top: -1px;
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
	z-index: 6;
	cursor:pointer;
	-moz-transition:all 1s ease-in-out;
	-webkit-transition:all 1s ease-in-out;
	-o-transition:all 1s ease-in-out;
	-ms-transition:all 1s ease-in-out;
	transition:all 1s ease-in-out;
}
.portfolio_single_content div{
	position:absolute;
	top:0;
	left:0;
	z-index:10;
	width:100%;
	height:100%;
	text-align:center;
	transform:scale(0);
	transition:all .6s ease-in-out;
	opacity:0;
	background: none repeat scroll 0 0 rgba( 114, 166, 3, 0.75);
}

.portfolio_single_content:hover div{
	transform:scale(1);
	opacity:1;
}
.portfolio_single_content div a{
	color: #FFFFFF;
	display: block;
	font-size: 2em;
	font-weight: 900;
	margin-top: 30%;
	padding-bottom: 10px;
	text-decoration: none;
	font-variant: small-caps;
	/*text-transform: uppercase;*/
}
.portfolio_single_content div span{
	color: #FFFFFF;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
	padding: 0;
}
.portfolio_content{
    margin-top: 36px;
    overflow: hidden;
}
#portfolio { padding: 0px 15px 0px 14px; }
#portfolio div { padding: 0px; }


.counter-up {
	position: relative;
	background-color: #171717;
	padding: 80px 0 50px 0;
}
.counter-up .fact.last { border-right: none; }
.counter-up .fact-inner { padding-bottom: 30px; }
.counter-up .fact-inner .counter { font-size: 54px; }
.counter-finish { color: #72a603; }


#social-section { padding: 80px 0; }
ul.social-list {
	text-align: center;
	margin: 0 auto;
}
ul.social-list li{
	display: inline-block;
	margin-right: 20px;
}
ul.social-list li .rotate-box-1 { margin: 0; }
ul.social-list li a i {
	color: #fff;
	font-size:20px;
}


#contact-section {
	position: relative;
	width: 100%;
	background-color: #72a603;
}
#contact-section h4 { font-weight: bold; }
#contact-section .contact .contact-form { margin-bottom: 40px; }
#contact-section .contact .contact-form h4 { margin-bottom: 25px; }
#contact-section .contact .contact-form .input-lg { font-size: 14px; }
#contact-section .contact .contact-form button {
	width: 100%;
	height: 40px;
}
#contact-section .contact .contact-form button:hover { color: #fff; }
#contact-section .contact .form-control {
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	border-color: #2A2A2A;
}
#contact-section .contact .form-control:focus {
	background-color: rgba(0, 0, 0, 0.75);
	box-shadow: none;
}

ul.contact-address {
	float: left;
	width: 100%;
	padding: 0;
	margin: 15px 0 ;
}
ul.contact-address li {
	padding: 0 0 20px;
	margin: 0;
}
ul.contact-address li:hover i.fa, 
.fact-inner:hover i.fa { color: #9fc906; }
ul.contact-address li:last-child { padding-bottom: 0; }
ul.contact-address li i { margin-right: 10px; }


.footer-top {
	background-color: #72a603;
	padding: 60px 0 35px;
}
.footer-top .col-md-4 { margin-bottom: 25px; }
.footer {
	background-color: #2d3035;
	padding: 30px 0;
}
.footer a{ text-decoration: none; }


.page-header {
	margin: 0 0 60px 0;
	padding: 0;
	border: none;
}
.page-header h2 { text-transform: uppercase; }
p.subtitle {
	letter-spacing: 2px;
	margin-top: 10px;
}


.carousel {
	float: left;
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	overflow:hidden;
}
.carousel-fade .carousel-inner .item {
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: color 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	-ms-transition: opacity 0.5s ease-in-out;
  	overflow: hidden;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right { opacity: 0; }
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right { opacity: 1; }
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control { z-index: 2; }
.carousel-indicators li {
	margin: 0px 7px;
	border: 3px solid #ccc;
	width: 14px;
	height: 14px;
	opacity: 0.5;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.carousel-indicators li.active {
	margin: 0px 7px;
	border: 3px solid #9fc906;
	width: 14px;
	height: 14px;
	background-color: transparent;
	opacity: 0.75;
}
.carousel-fade .carousel-inner .item img { max-width: none;}

.extra-space-m {
	width: 100%;
	height: 20px;
}
.extra-space-l {
	width: 100%;
	height: 40px;
}
.extra-space-xl {
	width: 100%;
	height: 60px;
}
.extra-space-xxl {
	width: 100%;
	height: 80px;
}


.btn {
	position: relative;
	letter-spacing: 1.5px;
	border: none;
}
.btn:active {
	top: 2px;
}

.btn-default, 
.btn-default:focus, 
.btn-default.focus, 
.btn-default:active, 
.btn-default.active {
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
	background: #72a603;
	color: #fff;
}
.btn-default:hover {
	color: #fff;
	background: #9fc906;
}

.btn-blank {
	border: 2px solid #fff;
	color: #fff;
	padding: 8px 12px;
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	-webkit-transition: color 0.25s ease-in-out;
	-moz-transition: color 0.25s ease-in-out;
	-o-transition: color 0.25s ease-in-out;
	-ms-transition: color 0.25s ease-in-out;
	transition: color 0.25s ease-in-out;
}
.btn-blank:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transition: transform 0.25s ease-in-out;
	-moz-transition: transform 0.25s ease-in-out;
	-o-transition: transform 0.25s ease-in-out;
	-ms-transition: transform 0.25s ease-in-out;
	transition: transform 0.25s ease-in-out;
}
.btn-blank:hover, 
.btn-blank:focus, 
.btn-blank:active { color: #333; }
.btn-blank:hover:before, 
.btn-blank:focus:before, 
.btn-blank:active:before {
	-webkit-transform: scaleY(1);
	transform: scaleY(1);
}

.btn:active, 
.btn.active {
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.16);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.16);
}

.btn-primary, 
.btn-primary:focus, 
.btn-primary.focus, 
.btn-primary:active, 
.btn-primary.active {
	background-color: #3078b3;
	color: #fff;
}
.btn-primary:hover {
	background-color: #1867a8;
	color: #fff;
}
.btn-danger, 
.btn-danger:focus, 
.btn-danger.focus, 
.btn-danger:active, 
.btn-danger.active {
	background-color: #e7392d;
	color: #fff;
}
.btn-danger:hover {
	background-color: #d81508;
	color: #fff;
}

.btn-lg {
	font-size: 1.3em;
	padding: 10px 40px;
}
.btn-lg-xl {
	font-size: 1.4em;
	padding: 10px 80px;
}


.scrollTop {
	position: fixed;
	display: none;
	bottom: 20px;
	right: 30px;
	width: 34px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	text-decoration: none;
	z-index: 9999;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	color: #9fc906;
	border: 2px solid #9fc906;
}
.scrollTop .fa {
	padding-left: 4px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg) translate(0px, -1px);
}
.scrollDown {
	position: absolute;
	top: 90%;
	right: 30px;
}
.scrollDown .fa {
	/*color: #9fc906;*/
	opacity: 0.5;
	-moz-transition:color 0.5s ease-in-out;
	-webkit-transition:color 0.5s ease-in-out;
	-o-transition:color 0.5s ease-in-out;
	-ms-transition:color 0.5s ease-in-out;
	transition:color 0.5s ease-in-out;
}
.scrollDown:hover .fa { opacity: 1; }


.story {
	position: relative;
	padding: 50px 100px 50px 200px;
}
.timeline {
	position: absolute; 
	width: 1px; 
	height: 100%; 
	left: 200px; 
	top: 0px;
	border-right: 2px solid #d9d9d9; 
	z-index: 5; 
}
.timeline::before, 
.timeline::after {
	content: "";
	left: -5px;
	width: 12px;
	height: 12px;
	background: #d9d9d9;
	position: absolute;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
}
.timeline::before { top: 0px; }
.timeline::after { bottom: 0px; }

.story-item-content {
	width: 100%;
	padding-left: 50px;
	float: left; 
	position: relative;
}
.story-item-wrap {
	background: #e6e6e6;
	padding: 15px 20px 20px;
	border-left: 5px solid #9fc906;
	text-align: left;
	opacity: 0;
	-webkit-transform: matrix(1, 0, 0, 1, -200, 0);
	-moz-transform: matrix(1, 0, 0, 1, -200, 0);
	-o-transform: matrix(1, 0, 0, 1, -200, 0);
	transform: matrix(1, 0, 0, 1, -200, 0);
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	transition: all 0.22s ease-in-out;
}
.story-item-content.active .story-item-wrap {
	opacity: 1;
	-webkit-transform: matrix(1, 0, 0, 1, 0, 0);
	-moz-transform: matrix(1, 0, 0, 1, 0, 0);
	-o-transform: matrix(1, 0, 0, 1, 0, 0);
	transform: matrix(1, 0, 0, 1, 0, 0);
}

.si-header {
	font-size: 1.6em;
	/*text-transform: uppercase;*/
	font-weight: bold;
	font-variant: small-caps;
	text-align: center;
	padding-left: 4px;
}
.si-header a {
	color: #72a603;
}
.si-header span {
	font-variant: normal;
	font-size: 0.6em;
	color: #888;
}
.si-header a img { max-width:100%; }
.si-header, 
.si-year { color: #191919; }
.si-year {
	font-size: 2em;
	font-weight: 900;
	color: #fff;
	text-align: right;
	position: absolute;
	width:200px;
	top: 37%;
	left: -225px; 
}
.story-item-content.active .si-year {
	color: #9fc906;
}
.si-year::after {
	content: "";
	width: 12px;
	height: 12px;
	left: 220px;
	top: 15%;
	background: #72a603;
	position: absolute;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	z-index: 6;
}
.story-item-content.active .si-year::after { background-color: #9fc906; }

.si-desc {
	border-left: 2px dashed #ccc;
	padding: 15px;
	/*margin: 10px -15px -15px;*/
	color: #000;
	line-height: 150%;
}
.section-diff .si-desc { border-top: 1px dashed #d9d9d9; }

.story-item {
	width: 100%;
	margin-top: -50px;
	margin-bottom: -50px;
	position: relative;
	z-index: 10;
	float: left;
}
.story-item:after { content: ""; display: table; clear: both; }
.story-item:last-child { margin: 0; }

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	.story { padding: 50px 50px 50px 100px; }
	.timeline { left: 100px; }
}
@media only screen and (max-width : 512px) {
	#home-section .caption img { max-width: 35%; }
}
@media only screen and (min-width : 767px) {
	#home-section .caption img { max-width: 75%; }
}


.table { margin-bottom: 10px; }
.table thead tr th,
.table tbody tr td {
	border: 0px;
}
.table tbody tr td:first-child {
	color: #888;
	font-size: 2em;
	vertical-align: text-top;
}
.table tbody tr td:nth-child(2) { border-left: 5px solid #72a603; }
.pub_single_content img{
	text-align: center;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	opacity: 0.75;
	background: none repeat scroll 0 0 rgba( 114, 166, 3, 0.75);
}
.pub_single_content:hover img{
	opacity: 1;
}

