@import '../../common/mixins/media';

.PROJECT__access-link {
  margin-bottom: 1rem;
}

.PROJECT__access-note {
  margin: 1rem 0;
}

@include media_width_lt(511px) {
  .PROJECT__access-note {
    line-height: 1.5;
  }
}
