@import '../../common/mixins/colors';
@import '../../common/mixins/prefix';

.PROJECT__thumbnail {
  padding: 0.75rem;
  margin-bottom: 1.5rem;
  background-color: $colorWhite;
  border: 1px solid $colorGray;
}

.PROJECT__carousel {
  margin-bottom: 2.5rem;
}

.PROJECT__carousel-item::after {
  @include transition(0.5s);
}

.PROJECT__carousel-indicators {
  bottom: 1em;

  .PROJECT__carousel-indicator {
    border: 2px solid $colorGray;
    border-radius: 0;
    background-color: $colorGrayLight;

    @include transform(rotate(45deg));

    &:hover,
    &.active {
      border-color: $colorGreen;
      background-color: $colorGreenFaint;
    }
  }
}

.PROJECT__features-title {
  font-size: 1.75em;
}

.PROJECT__features {
  padding: 0.5em 0 2em 2.5em;

  .PROJECT__feature-item {
    padding-top: 0.75rem;
  }
}
