@import '../../common/mixins/palette';

.PROJECT__repo-basics {
  text-align: left;

  .PROJECT__repo-name {
    margin-left: 0;
    font-weight: bold;
    text-decoration: underline;
  }

  .PROECT__repo-link {
    padding-bottom: 0.5em;
  }

  .PROECT__repo-stats {
    word-break: break-word;
    line-height: 1.5;
  }

  .PROJECT__repo-stats-number {
    padding: 0 0.5em 0 0.25em;
    vertical-align: sub;
  }
}

.PROJECT__repo-table {
  .PROECT__repo-table-author {
    font-weight: bold;
    font-style: italic;
  }

  .PROJECT__repo-table-number {
    padding-right: 2em;

    &.PROJECT__number--cyan {
      color: $colorCyan;
    }

    &.PROJECT__number--green {
      color: $colorMain;
    }

    &.PROJECT__number--red {
      color: $colorRed;
    }
  }
}
