@import '../../common/mixins/media';
@import '../../common/mixins/palette';

.PROJECT__repo-basics {
  text-align: left;

  .PROJECT__repo-name {
    margin-left: 0;
    font-weight: bold;
    text-decoration: underline;
  }

  .PROECT__repo-link {
    padding-bottom: 0.5rem;
  }

  .PROECT__repo-stats {
    word-break: break-word;
    line-height: 1.5;
  }

  .PROJECT__repo-stats-number {
    padding: 0 0.5rem 0 0.25rem;
    vertical-align: sub;
  }
}

.PROJECT__repo-table {
  .PROECT__repo-table-author {
    font-weight: bold;
    font-style: italic;
  }

  .PROJECT__repo-table-number {
    padding-right: 2rem;

    &.PROJECT__number--cyan {
      color: $colorCyan;
    }

    &.PROJECT__number--green {
      color: $colorMain;
    }

    &.PROJECT__number--red {
      color: $colorRed;
    }
  }

  .PROJECT__repo-table-bottom {
    padding: 0;
  }
}

@include media_width_lt(511px) {
  .PROJECT__repo-basics {
    text-align: center;
  }

  .PROJECT__repo-table {
    .PROECT__repo-table-author,
    .PROJECT__repo-table-number {
      font-size: 0.8rem;
    }
  }
}
