:global {
  @import '../../common/stylesheets/index';
}

#HOME__section {
  transition-duration: 0.5s;

  &.fade {
    filter: blur(3em);
  }
}

html {
  overflow-y: scroll;
}

hr {
  margin: 1rem 0;
}

.PROJECT__body {
  padding: 6rem 1rem 1rem 1rem;
}
