html { overflow-y: scroll; }
body { padding: 4rem 1rem 0 1rem; }
hr { margin: 1em 0; }

.PROJECT__body { padding: 3rem 1rem 1rem 1rem; }
.PROJECT__title-image { margin-top: 1.5em; }
.PROJECT__headline { margin-bottom: 1.5em; }
