html {
  overflow-y: scroll;
}

hr {
  margin: 1rem 0;
}

.PROJECT__body {
  padding: 6rem 1rem 1rem 1rem;
}

.PROJECT__title {
  margin-top: 1.5rem;

  .PROJECT__title-image {
    max-width: 100%;
  }
}

.PROJECT__headline {
  margin-bottom: 3.25rem;
}
