<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>SIQI TIAN - Error Page | T47.IO</title>

    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="Custom HTTP erro page for http://t47.io/, the personal portfolio of Siqi Tian.">
    <meta name="keywords" content="Siqi Tian, Portfolio, Personal Website, Error Page" />
    <meta name="author" content="Siqi Tian">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="robots" content="noodp, noydir" />

    <link rel="canonical" href="http://t47.io">

    <link rel="icon" type="image/png" href="/img/t47/t47_icon.png" />
    <link rel="shortcut icon" type="image/png" href="/img/t47/t47_icon.png" />
    <link rel="apple-touch-icon" type="image/png" href="/img/t47/t47_icon.png" />

    {% if DEBUG %}
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/loader_index.css">
    <link rel="stylesheet" type="text/css" href="/css/palette.css">
    <link rel="stylesheet" type="text/css" href="/css/sprites_logo.css" />
    {% else %}
    <link rel="stylesheet" type="text/css" href="/css/_lib.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/_clr.min.css" />
    {% endif %}

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','/js/{% if DEBUG %}analytics.js{% else %}_ga.min.js{% endif %}','ga');

      ga('create', '{{GA_ID}}', 'auto');
      ga('send', 'pageview');
    </script>
  </head>

  <body>
    <div class="starter-template">
      <span id="center"></span>
      <div class="container theme-showcase" id="main">
        <div class="row bgimg2-lg">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div style="height:72px; width:135.5px;"><i class="logo_g"></i></div>
            {% block image %}{% endblock %}
            <div class="hidden-xs">{% include "_helix.html" %}</div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="text-align:left;">
            <h2 style="margin-bottom:20px;">
              {% block h1 %}{% endblock %}
            </h2>
            <p style="font-weight:bold; font-size:16px;">
              {% block p1 %}{% endblock %}
            </p>
            <br/>
            <p><i>In other words,</i></p>
            <h3>{% block h2 %}{% endblock %}</h3>
            <p>
              {% block p2 %}{% endblock %}
            </p>
          </div>
        </div>
        <hr/>

        <footer>
          <div>Copyright <i class="fa fa-fw fa-copyright"></i> <a>2015 - 2016</a> Designed, built &amp; managed by <a href="http://t47.io/" class="theme-author"><div class="sprite" style="height:14px; width:44px;"><i class="logo_alt_g"></i></div></a>. All rights reserverd.</div>
          <p>Code and content on this site is licensed under <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" target="_blank"><i class="fa fa-fw fa-creative-commons"></i> BY-SA 4.0</a>.</p>
        </footer>
      </div>
    </div>

    <script type="text/javascript">
      if (window.innerWidth <= 768) {
        var obj = document.getElementById('center');
        obj.style.height = 'auto';
      }
    </script>
  </body>
</html>

