{% extends "_error.html" %}

{% block image %}
<img src="/img/error/403.png" height="auto" style="max-width:100%;" />
{% endblock %}

{% block h1 %}
<span class="label label-yellow">Translation Abortion</span>
{% endblock %}

{% block p1 %}
<b>
  Your mRNA lacks a RBS or IRES to access the ribosome. 
  <i>trans</i>-splicing with the <span class="label label-green">admin</span> might activate proper gene expression.
</b>
{% endblock %}

{% block h2 %}
<span class="label label-yellow">403: Forbidden</span>
{% endblock %}

{% block p2 %}
The server understood the request but refused to fulfill it.
<br/><br/>
<b>This page is for site <span class="label label-green">admin</span> only.</b>
</br>
Please contact the site <span class="label label-green">admin</span> for administrative tasks (<a target="_blank" rel="noopener noreferrer external">&nbsp;<u>t47@stanford.edu</u>&nbsp;&nbsp;<i class="fa fa-fw fa-envelope"></i>&nbsp;</a>).
{% endblock %}
