<div class="extra-space-xxl PUBS__trigger"></div>
<div class="container">
  <div class="page-header text-center PUBS__header">
    <h2>my research</h2>
    <div class="divider"></div>
    <p class="subtitle">what I published</p>
  </div>
</div>

<div class="container" id="pub-content">
  {% for year, pub in pub_list %}
    <div class="row PUBS__row">
      <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3 PUBS__year">
        {{year|int|abs}}
      </div>
      <div class="col-lg-11 col-md-11 col-sm-10 col-xs-9 PUBS__content">
        {% for p in pub %}
          {% if not p.is_hidden %}
          <div class="row PUBS__entry">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
              <div class="PUBS__image">
                {% if p.is_preprint %}
                <a href="javascript:void(0)" target="_blank" rel="noopener noreferrer external">
                {% else %}
                <a href="{{p.url}}" target="_blank" rel="noopener noreferrer external">
                {% endif %}
                  <div class="sprite publication_sprite" data-toggle="tooltip" data-placement="bottom" title="{{p.file}}"><div class="pub_{{p.file}}"></div></div>
                </a>
              </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 PUBS__text">
              <p class="text-gray">{{p.author}} (<b class="text-light-green">{{-year}}</b>)</p>
              <p><b style="font-size:16px;">"{{p.title}}"</b></p>
              <p style="padding-top:5px;">
                <i class="text-green">{{p.journal}}</i>
                {% if p.is_preprint %}
                , <span class="text-gray">{{p.issue}}</span>.
                <a href="javascript:void(0)" target="_blank" rel="noopener noreferrer external" class="text-light-gray"><i class="fa fa-fw fa-file-word-o"></i></a>
                <a href="javascript:void(0)" target="_blank" rel="noopener noreferrer external" class="text-light-gray"><i class="fa fa-fw fa-file-pdf-o"></i></a>
                {% else %}
                <b>{{p.issue}}</b>: {{p.page}}.
                <a href="{{p.url}}" target="_blank" rel="noopener noreferrer external" class="text-dark-green bg-light-green"><i class="fa fa-fw fa-file-word-o"></i></a>
                <a href="/pdf/{{p.file}}.pdf" target="_blank" rel="noopener" class="text-dark-green bg-light-green"><i class="fa fa-fw fa-file-pdf-o"></i></a>
                  {% if p.code %}
                  <a href="{{p.code}}" target="_blank" rel="noopener noreferrer external" class="text-dark-green bg-light-green"><i class="fa fa-fw fa-file-code-o"></i></a>
                  {% endif %}
                <span class="pull-right text-gray bg-light-gray">
                  <i class="fa fa-fw fa-balance-scale"></i>
                  <i><small>Cited by :</small></i>
                  {% if dat_dict.citations[year][loop.index0] %}
                  <u class="text-main">{{dat_dict.citations[year][loop.index0]}}</u>
                  {% else %}
                  <u class="text-gray">{{dat_dict.citations[year][loop.index0]}}</u>
                  {% endif %}
                </span>
                {% endif %}
              </p>
              <br class="hidden-lg hidden-md" />
              <hr class="hidden-lg hidden-md" />
            </div>
          </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endfor %}

  <div class="extra-space-l"></div>
  <div class="row">
    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2"></div>
    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-8">
      <h4 class="text-gray text-center">
        <span class="fa-stack">
          <i class="fa fa-fw fa-square fa-stack-2x text-light-green"></i>
          <i class="fa fa-fw fa-search fa-stack-1x text-white"></i>
        </span>
        Find more on <a href="{{links.google_scholar}}" target="_blank" rel="noopener noreferrer external">Google Scholar <i class="fa fa-fw fa-sm fa-external-link"></i></a> and <a href="{{links.pubmed}}" target="_blank" rel="noopener noreferrer external">PubMed <i class="fa fa-fw fa-sm fa-external-link"></i></a>.
      </h4>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2"></div>
  </div>
</div>
<!-- <div class="extra-space-m"></div> -->
<div class="extra-space-xl CONTACT__trigger"></div>
