{% extends "_detail.html" %}

{% block content %}
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
      <h1>{{title}}</h1>
      <p class="lead">{{description}}</p>
      <p class="thumbnail"><img src="/img/portfolio/project_daslab.jpg" style="max-width:100%;" /></p>
      <hr/>
      <h2><i class="fa fa-fw fa-hand-pointer-o"></i> Access</h2>
      <br/>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
          <h3><span class="label label-yellow">Production</span></h3>
          <p class="lead" style="margin: 5px 0px;"><a href="https://daslab.stanford.edu/" target="_blank">https://daslab.stanford.edu/ <i class="fa fa-fw fa-sm fa-external-link"></i></a></p>
          <p>Internal Site <span class="label label-red">not</span> accessible to <u>public</u> (<span class="label label-blue">WebAuth</span> gated).</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
          <h3><span class="label label-purple">Demonstration</span></h3>
          <p class="lead" style="margin: 5px 0px;"><a href="https://demo.t47.io/" target="_blank">https://demo.t47.io/ <i class="fa fa-fw fa-sm fa-external-link"></i></a></p>
          <p>Internal Site with <span class="label label-green">mock-up</span> data for <u>public</u> view.</p>
        </div>
      </div>
      <br/>
      <hr/>
      <h2><i class="fa fa-fw fa-hand-o-right"></i> Features</h2>
      <br/>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 carousel-parent">
      <div id="carousel-1" class="carousel carousel-fade slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-1" data-slide-to="1"></li>
          <li data-target="#carousel-1" data-slide-to="2"></li>
          <li data-target="#carousel-1" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="item thumbnail carousel_sprite active">
            <div class="daslab_1_fs" data-toggle="tooltip" data-placement="top" title="Meeting Archive"></div>
          </div>
          <div class="item thumbnail carousel_sprite">
            <div class="daslab_1_jc" data-toggle="tooltip" data-placement="top" title="Resource Timeline"></div>
          </div>
          <div class="item thumbnail carousel_sprite">
            <div class="daslab_1_ppl" data-toggle="tooltip" data-placement="top" title="Member Contacts"></div>
          </div>
          <div class="item thumbnail carousel_sprite">
            <div class="daslab_1_cal" data-toggle="tooltip" data-placement="top" title="Shared Calendar"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
      <h3><i class="fa fa-fw fa-archive"></i> Group Resources Management</h3>
      <br/>
      <ul class="ul_desp">
        <li>Weekly meeting archive organized in tab-views</li>
        <li>Timeline of events (Journal Club, Rotation Student, etc.)</li>
        <li>Group contact book in name cards</li>
        <li>Shared calendar of scheduling</li>
      </ul>
    </div>
  </div>  

  <div class="row">
    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
      <h3><i class="fa fa-fw fa-area-chart"></i> Analytics Dashbord</h3>
      <br/>
      <ul class="ul_desp">
        <li>Group dashboard of vendor services, including GitHub, Slack and Dropbox</li>
        <li>Admin dashboard of server status, including Apache, AWS CloudWatch and Google Analytics</li>
        <li>Admin console of system packge version control</li>
      </ul>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 carousel-parent">
      <div id="carousel-2" class="carousel carousel-fade slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-2" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-2" data-slide-to="1"></li>
          <li data-target="#carousel-2" data-slide-to="2"></li>
          <li data-target="#carousel-2" data-slide-to="3"></li>
          <li data-target="#carousel-2" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="item thumbnail carousel_sprite active">
            <div class="daslab_2_ga" data-toggle="tooltip" data-placement="top" title="Google Analytics"></div>
          </div>
          <div class="item thumbnail carousel_sprite">
            <div class="daslab_2_aws" data-toggle="tooltip" data-placement="top" title="AWS CloudWatch"></div>
          </div>
          <div class="item thumbnail carousel_sprite">
            <div class="daslab_2_git" data-toggle="tooltip" data-placement="top" title="GitHub Repository"></div>
          </div>
          <div class="item thumbnail carousel_sprite">
            <div class="daslab_2_ver" data-toggle="tooltip" data-placement="top" title="Version Console"></div>
          </div>
          <div class="item thumbnail carousel_sprite">
            <div class="daslab_2_slk" data-toggle="tooltip" data-placement="top" title="Slack Activity"></div>
          </div>
        </div>
      </div>
    </div>
  </div>  

  <div class="row">
    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 carousel-parent">
      <div id="carousel-3" class="carousel carousel-fade slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-3" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-3" data-slide-to="1"></li>
          <li data-target="#carousel-3" data-slide-to="2"></li>
          <li data-target="#carousel-3" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="item thumbnail carousel_sprite active">
            <div class="daslab_3_bot" data-toggle="tooltip" data-placement="top" title="Meeting Scheduler"></div>
          </div>
          <div class="item thumbnail carousel_sprite">
            <div class="daslab_3_slk" data-toggle="tooltip" data-placement="top" title="Bot Reminders"></div>
          </div>
          <div class="item thumbnail carousel_sprite">
            <div class="daslab_3_cfg" data-toggle="tooltip" data-placement="top" title="Bot Configuration"></div>
          </div>
          <div class="item thumbnail carousel_sprite">
            <div class="daslab_3_bkp" data-toggle="tooltip" data-placement="top" title="Backup Configuration"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
      <h3><i class="fa fa-fw fa-sliders"></i> Bot Automation</h3>
      <br/>
      <ul class="ul_desp">
        <li>Bot for automated weekly meeting setup and Slack notifications</li>
        <li>Full configuration of bot and backup daemon</li>
      </ul>
    </div>
  </div>  

  <div class="row">
    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
      <h3><i class="fa fa-fw fa-lock"></i> Security &amp; Database</h3>
      <br/>
      <ul class="ul_desp">
        <li>Bibliography management and easy export</li>
        <li>Access control via WebAuth</li>
        <li>Detailed server admin manual and reference</li>
      </ul>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 carousel-parent">
      <div id="carousel-4" class="carousel carousel-fade slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-4" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-4" data-slide-to="1"></li>
          <li data-target="#carousel-4" data-slide-to="2"></li>
          <li data-target="#carousel-4" data-slide-to="3"></li>
          <li data-target="#carousel-4" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="item thumbnail carousel_sprite active">
            <div class="daslab_4_pub" data-toggle="tooltip" data-placement="top" title="Publication Database"></div>
          </div>
          <div class="item thumbnail carousel_sprite">
            <div class="daslab_4_exp" data-toggle="tooltip" data-placement="top" title="Publication Export"></div>
          </div>
          <div class="item thumbnail carousel_sprite">
            <div class="daslab_4_usr" data-toggle="tooltip" data-placement="top" title="Profile Database"></div>
          </div>
          <div class="item thumbnail carousel_sprite">
            <div class="daslab_4_wau" data-toggle="tooltip" data-placement="top" title="WebAuth Access"></div>
          </div>
          <div class="item thumbnail carousel_sprite">
            <div class="daslab_4_doc" data-toggle="tooltip" data-placement="top" title="Admin Documentation"></div>
          </div>
        </div>
      </div>
    </div>
  </div>  

  <div class="row">
    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 carousel-parent">
      <div id="carousel-5" class="carousel carousel-fade slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-5" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-5" data-slide-to="1"></li>
          <li data-target="#carousel-5" data-slide-to="2"></li>
          <li data-target="#carousel-5" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="item thumbnail carousel_sprite active">
            <div class="daslab_5_500" data-toggle="tooltip" data-placement="top" title="Internal Server Error"></div>
          </div>
          <div class="item thumbnail carousel_sprite">
            <div class="daslab_5_404" data-toggle="tooltip" data-placement="top" title="Not Found"></div>
          </div>
          <div class="item thumbnail carousel_sprite">
            <div class="daslab_5_401" data-toggle="tooltip" data-placement="top" title="Unauthorized"></div>
          </div>
          <div class="item thumbnail carousel_sprite">
            <div class="daslab_5_400" data-toggle="tooltip" data-placement="top" title="Bad Request"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
      <h3><i class="fa fa-fw fa-fort-awesome"></i> Error Pages</h3>
      <br/>
      <ul class="ul_desp">
        <li>Custom HTTP Errors with a mix of RNA puns</li>
        <li>Single page app</li>
      </ul>
    </div>
  </div>  

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <hr/>
      <h2 class="text-center"><i class="fa fa-fw fa-code-fork"></i> Repository</h2>
      <br/>
      <div class="place_holder" id="git_body">{% include "_cube.html" %}</div>
      <hr/>
      <h2 class="text-center"><i class="fa fa-fw fa-book"></i> Documentation</h2>
      <br/>
      <p class="lead text-center" style="margin: 5px 0px;">
        Complete <a href="https://github.com/DasLab/Server_DasLab/wiki/" target="_blank">Server Admin Manual <i class="fa fa-fw fa-sm fa-external-link"></i></a>, or inside <a href="https://demo.t47.io/admin/ref/" target="_blank">Demo <i class="fa fa-fw fa-sm fa-external-link"></i></a>
      </p>
      <hr/>
      <h2 class="text-center"><i class="fa fa-fw fa-hand-pointer-o"></i> Access</h2>
      <br/>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
          <h3><span class="label label-yellow">Production</span></h3>
          <p class="lead" style="margin: 5px 0px;"><a href="https://daslab.stanford.edu/" target="_blank">https://daslab.stanford.edu/ <i class="fa fa-fw fa-sm fa-external-link"></i></a></p>
          <p>Internal Site <span class="label label-red">not</span> accessible to <u>public</u> (<span class="label label-blue">WebAuth</span> gated).</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
          <h3><span class="label label-purple">Demonstration</span></h3>
          <p class="lead" style="margin: 5px 0px;"><a href="https://demo.t47.io/" target="_blank">https://demo.t47.io/ <i class="fa fa-fw fa-sm fa-external-link"></i></a></p>
          <p>Internal Site with <span class="label label-green">mock-up</span> data for <u>public</u> view.</p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block script %}
  <script type="text/javascript">
    var repo = ["{{proj}}"];
  </script>
  <script type="text/javascript" src="https://www.google.com/jsapi" ></script>

  {% if DEBUG %}
  <script type="text/javascript" src="/js/gviz.js" ></script>
  <script type="text/javascript" src="/js/util.js" ></script>
  {% else %}
  <script type="text/javascript" src="/js/_gviz.min.js" ></script>
  {% endif %}
{% endblock %}
