{% extends "_detail.html" %}

{% block content %}
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <h1 class="text-center">{{title}}</h1>
      <p class="lead text-center">{{description}}</p>
      <hr/>
      <h2 class="text-center"><i class="fa fa-fw fa-hand-pointer-o"></i> Access</h2>
      <br/>
      <p class="text-center" style="margin: 5px 0px;">
        <span class="lead"><span class="label label-purple">Repository</span></span>
        <a href="https://github.com/hitrace/HiTRACE/" target="_blank">https://github.com/hitrace/HiTRACE/ <i class="fa fa-fw fa-sm fa-external-link"></i></a>
      </p>
      <p class="lead text-center" style="margin: 5px 0px;">
        <span class="label label-yellow">Server</span>
        <a href="http://hitrace.org/" target="_blank">http://hitrace.org/ <i class="fa fa-fw fa-sm fa-external-link"></i></a>
      </p>
      <br/>
      <hr/>
      <h2 class="text-center"><i class="fa fa-fw fa-hand-o-right"></i> Features</h2>
      <br/>
      <h3><i class="fa fa-fw fa-print"></i> In-House Print-Outs</h3>
      <ul class="ul_desp">
        <li>Multi-page print-out for data analysis</li>
        <li>Smart layout and resizing</li>
      </ul>

      <br/>
      <div class="carousel-parent">
        <div id="carousel-1" class="carousel carousel-fade slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-1" data-slide-to="1"></li>
            <li data-target="#carousel-1" data-slide-to="2"></li>
            <li data-target="#carousel-1" data-slide-to="3"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="item thumbnail carousel_sprite active">
            <div class="hitrace_1_str" data-toggle="tooltip" data-placement="top" title="Colored Diagram"></div>
            </div>
            <div class="item thumbnail carousel_sprite">
            <div class="hitrace_1_clr" data-toggle="tooltip" data-placement="top" title="Coloring Legend Palette"></div>
            </div>
            <div class="item thumbnail carousel_sprite">
            <div class="hitrace_1_box" data-toggle="tooltip" data-placement="top" title="Coloring Box Positions"></div>
            </div>
            <div class="item thumbnail carousel_sprite">
            <div class="hitrace_1_mtx" data-toggle="tooltip" data-placement="top" title="Scoring Matrix"></div>
            </div>
          </div>
        </div>
      </div>
      <br/>
      <h3><i class="fa fa-fw fa-magic"></i> Secondary Structure Diagram</h3>
      <ul class="ul_desp">
        <li>Interactive specification of color range and scheme</li>
        <li>Automatic painting based on positional boxes</li>
      </ul>

      <br/>
      <div class="carousel-parent">
        <div id="carousel-2" class="carousel carousel-fade slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carousel-2" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-2" data-slide-to="1"></li>
            <li data-target="#carousel-2" data-slide-to="2"></li>
            <li data-target="#carousel-2" data-slide-to="3"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="item thumbnail carousel_sprite active">
            <div class="hitrace_2_bpp" data-toggle="tooltip" data-placement="top" title="Base-pairing Matrix"></div>
            </div>
            <div class="item thumbnail carousel_sprite">
            <div class="hitrace_2_str" data-toggle="tooltip" data-placement="top" title="VARNA Structure"></div>
            </div>
            <div class="item thumbnail carousel_sprite">
            <div class="hitrace_2_mca" data-toggle="tooltip" data-placement="top" title="MOHCA 3D Plot"></div>
            </div>
            <div class="item thumbnail carousel_sprite">
            <div class="hitrace_2_gel" data-toggle="tooltip" data-placement="top" title="Titration Gel"></div>
            </div>
          </div>
        </div>
      </div>
      <br/>
      <h3><i class="fa fa-fw fa-file-text"></i> Publication Figures</h3>
      <ul class="ul_desp">
        <li>Vectorized secondary structure with coloring</li>
        <li>Matrix heatmap with highlighting</li>
      </ul>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="thumbnail">
        <img src="/img/portfolio/project_hitrace.jpg" alt="Gel Print-Out" data-toggle="tooltip" data-placement="top" title="Multi-page Gel Print">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <hr/>
      <h2 class="text-center"><i class="fa fa-fw fa-code-fork"></i> Repository</h2>
      <br/>
      <div class="place_holder" id="git_body">{% include "_cube.html" %}</div>
      <hr/>
      <h2 class="text-center"><i class="fa fa-fw fa-book"></i> Documentation</h2>
      <br/>
      <p class="lead text-center" style="margin: 5px 0px;">
        Complete <a href="https://hitrace.github.io/HiTRACE/tutorial/" target="_blank">Step-by-Step Tutorial <i class="fa fa-fw fa-sm fa-external-link"></i></a>
      </p>
      <hr/>
      <h2 class="text-center"><i class="fa fa-fw fa-hand-pointer-o"></i> Access</h2>
      <br/>
      <p class="text-center" style="margin: 5px 0px;">
        <span class="lead"><span class="label label-purple">Repository</span></span>
        <a href="https://github.com/hitrace/HiTRACE/" target="_blank">https://github.com/hitrace/HiTRACE/ <i class="fa fa-fw fa-sm fa-external-link"></i></a>
      </p>
      <p class="lead text-center" style="margin: 5px 0px;">
        <span class="label label-yellow">Server</span>
        <a href="http://hitrace.org/" target="_blank">http://hitrace.org/ <i class="fa fa-fw fa-sm fa-external-link"></i></a>
      </p>
    </div>
  </div>

{% endblock %}
