{% extends "_detail.html" %}

{% block content %}
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
      <h1>{{title}}</h1>
      <p class="lead">{{description}}</p>
      <p class="thumbnail"><img src="/img/portfolio/project_rmdb.jpg" style="max-width:100%;" /></p>
      <hr/>
      <h2><i class="fa fa-fw fa-hand-pointer-o"></i> Access</h2>
      <br/>
      <p style="margin: 5px 0px;">
        <span class="lead"><span class="label label-purple">Repository</span></span>
        <a href="https://github.com/t47io/Django-Server-RMDB/" target="_blank">https://github.com/t47io/Django-Server-RMDB/ <i class="fa fa-fw fa-sm fa-external-link"></i></a>
      </p>
      <p class="lead" style="margin: 5px 0px;">
        <span class="label label-yellow">Server</span>
        <a href="https://rmdb.stanford.edu/" target="_blank">https://rmdb.stanford.edu/ <i class="fa fa-fw fa-sm fa-external-link"></i></a>
      </p>
      <br/>
      <hr/>
      <h2><i class="fa fa-fw fa-hand-o-right"></i> Features</h2>
      <br/>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 carousel-parent">
      <div id="carousel-1" class="carousel carousel-fade slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-1" data-slide-to="1"></li>
          <li data-target="#carousel-1" data-slide-to="2"></li>
          <li data-target="#carousel-1" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="item thumbnail carousel_sprite active">
            <div class="rmdb_1_map" data-toggle="tooltip" data-placement="top" title="D3 Heatmap"></div>
          </div>
          <div class="item thumbnail carousel_sprite">
            <div class="rmdb_1_bar" data-toggle="tooltip" data-placement="top" title="D3 Bar Plot"></div>
          </div>
          <div class="item thumbnail carousel_sprite">
            <div class="rmdb_1_sdp" data-toggle="tooltip" data-placement="top" title="Side Panels"></div>
          </div>
          <div class="item thumbnail carousel_sprite">
            <div class="rmdb_1_brw" data-toggle="tooltip" data-placement="top" title="Browse View"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
      <h3><i class="fa fa-fw fa-bar-chart"></i> Data Visualization</h3>
      <br/>
      <ul class="ul_desp">
        <li>Inteactive reactivity heatmap using D3.js</li>
        <li>Sliding side panels for clean layout</li>
        <li>Browse by category with view switching</li>
      </ul>
    </div>
  </div>  

  <div class="row">
    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
      <h3><i class="fa fa-fw fa-rocket"></i> Online Tools</h3>
      <br/>
      <ul class="ul_desp">
        <li>Prediction server of secondary structure (underway)</li>
        <li>Data sharing API (underway)</li>
        <li>Advanced search for data filtering (underway)</li>
      </ul>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 carousel-parent">
      <div id="carousel-2" class="carousel carousel-fade slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-2" data-slide-to="0" class="active"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="item thumbnail carousel_sprite active">
            <img src="/img/portfolio/project_rmdb_2.jpg" alt="Prediction Service" data-toggle="tooltip" data-placement="top" title="Prediction Service">
          </div>
        </div>
      </div>
    </div>
  </div>  

  <div class="row">
    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 carousel-parent">
      <div id="carousel-3" class="carousel carousel-fade slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-3" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-3" data-slide-to="1"></li>
          <li data-target="#carousel-3" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="item thumbnail carousel_sprite active">
            <div class="rmdb_3_hub" data-toggle="tooltip" data-placement="top" title="RNA Tools Hub"></div>
          </div>
          <div class="item thumbnail carousel_sprite">
            <div class="rmdb_3_aws" data-toggle="tooltip" data-placement="top" title="AWS Deployment"></div>
          </div>
          <div class="item thumbnail carousel_sprite">
            <div class="rmdb_3_rna" data-toggle="tooltip" data-placement="top" title="RMDB Logo"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
      <h3><i class="fa fa-fw fa-coffee"></i> Everything Else</h3>
      <br/>
      <ul class="ul_desp">
        <li>Central hub for RNA tools</li>
        <li>AWS deployment: EC2 + ELB</li>
        <li>RMDB logo inspired by RNA structure</li>
      </ul>
    </div>
  </div>  

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <hr/>
      <h2 class="text-center"><i class="fa fa-fw fa-code-fork"></i> Repository</h2>
      <br/>
      <div class="place_holder" id="git_body">{% include "_cube.html" %}</div>
      <hr/>
      <h2 class="text-center"><i class="fa fa-fw fa-book"></i> Documentation</h2>
      <br/>
      <p class="lead text-center" style="margin: 5px 0px;">
        Complete <a href="https://hitrace.github.io/RDATKit/" target="_blank">Package Reference  <i class="fa fa-fw fa-sm fa-external-link"></i></a> and <a href="https://github.com/DasLab/Server_RMDB/wiki/" target="_blank">Server Admin Manual <i class="fa fa-fw fa-sm fa-external-link"></i></a>
      </p>
      <hr/>
      <h2 class="text-center"><i class="fa fa-fw fa-hand-pointer-o"></i> Access</h2>
      <br/>
      <p class="text-center" style="margin: 5px 0px;">
        <span class="lead"><span class="label label-purple">Repository</span></span>
        <a href="https://github.com/t47io/Django-Server-RMDB/" target="_blank">https://github.com/t47io/Django-Server-RMDB/ <i class="fa fa-fw fa-sm fa-external-link"></i></a>
      </p>
      <p class="lead text-center" style="margin: 5px 0px;">
        <span class="label label-yellow">Server</span>
        <a href="https://rmdb.stanford.edu/" target="_blank">https://rmdb.stanford.edu/ <i class="fa fa-fw fa-sm fa-external-link"></i></a>
      </p>
    </div>
  </div>

{% endblock %}
