{% extends "_detail.html" %}

{% block content %}
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
      <h1>{{title}}</h1>
      <p class="lead">{{description}}</p>
      <p class="thumbnail"><a href="/img/t47/t47_celica.jpg" target="_blank"><img src="/img/portfolio/project_celica.jpg" style="max-width:100%;" /></a></p>
      <hr/>
      <h2><i class="fa fa-fw fa-newspaper-o"></i> Journey &amp; Story</h2>
      <br/>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-7 col-md-7 col-sm-6 col-xs-6 carousel-parent">
      <div id="carousel-1" class="carousel carousel-fade slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-1" data-slide-to="1"></li>
          <li data-target="#carousel-1" data-slide-to="2"></li>
          <li data-target="#carousel-1" data-slide-to="3"></li>
          <li data-target="#carousel-1" data-slide-to="4"></li>
          <li data-target="#carousel-1" data-slide-to="5"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="item thumbnail carousel_sprite active">
            <div class="celica_1_frm" data-toggle="tooltip" data-placement="top" title="Strip Interior before Work"></div>
          </div>
          <div class="item thumbnail carousel_sprite">
            <div class="celica_1_spr" data-toggle="tooltip" data-placement="top" title="Lower Shock Struts"></div>
          </div>
          <div class="item thumbnail carousel_sprite">
            <div class="celica_1_clp" data-toggle="tooltip" data-placement="top" title="DIY Paint Calipers"></div>
          </div>
          <div class="item thumbnail carousel_sprite">
            <div class="celica_1_plt" data-toggle="tooltip" data-placement="top" title="Color Scheme Design"></div>
          </div>
          <div class="item thumbnail carousel_sprite">
            <div class="celica_1_whl" data-toggle="tooltip" data-placement="top" title="Aftermarket Wide Rims"></div>
          </div>
          <div class="item thumbnail carousel_sprite">
            <div class="celica_1_flr" data-toggle="tooltip" data-placement="top" title="Interior Light Wiring"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-6 col-xs-6">
      <h3><i class="fa fa-fw fa-wrench"></i> Mechanical Hands-on</h3>
      <br/>
      <ul class="ul_desp">
        <li>Get hands dirty: DIY and explore!</li>
        <li>K&amp;N short-ram intake, Tanabe concept G cat-back exhaust</li>
        <li>KYB AGX struts, TEIN S lowered springs, Goodridge SS brakelines</li>
        <li>XXR 17x7 rims, Falken Azenis 225/45R17</li>
        <li>Ream brake drum-to-disc conversion</li>
      </ul>
    </div>
  </div>  

  <div class="row">
    <div class="col-lg-5 col-md-5 col-sm-6 col-xs-6">
      <h3><i class="fa fa-fw fa-object-group"></i> One-of-a-Kind Design</h3>
      <br/>
      <ul class="ul_desp">
        <li>3-tone color scheme using vinyl wrap</li>
        <li>Custom B2 body kit, X2 fenders, elevated hood scoop</li>
        <li>Carbon fiber wrap of interior, racing brand stickers</li>
        <li>JDM tail light, angel-eye HID headlight</li>
        <li>Black-out window, blue-accent interior</li>
      </ul>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-6 col-xs-6 carousel-parent">
      <div id="carousel-2" class="carousel carousel-fade slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-2" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-2" data-slide-to="1"></li>
          <li data-target="#carousel-2" data-slide-to="2"></li>
          <li data-target="#carousel-2" data-slide-to="3"></li>
          <li data-target="#carousel-2" data-slide-to="4"></li>
          <li data-target="#carousel-2" data-slide-to="5"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="item thumbnail carousel_sprite active">
            <div class="celica_2_wng" data-toggle="tooltip" data-placement="top" title="Bodykit Wrapped with Vinyl"></div>
          </div>
          <div class="item thumbnail carousel_sprite">
            <div class="celica_2_hub" data-toggle="tooltip" data-placement="top" title="Rear Drum-to-Disc Conversion"></div>
          </div>
          <div class="item thumbnail carousel_sprite">
            <div class="celica_2_rad" data-toggle="tooltip" data-placement="top" title="Aftermarket Radio Headunit"></div>
          </div>
          <div class="item thumbnail carousel_sprite">
            <div class="celica_2_vnl" data-toggle="tooltip" data-placement="top" title="Vinyl Wrap of Choice"></div>
          </div>
          <div class="item thumbnail carousel_sprite">
            <div class="celica_2_tap" data-toggle="tooltip" data-placement="top" title="Tape Adhesive Accessories"></div>
          </div>
          <div class="item thumbnail carousel_sprite">
            <div class="celica_2_led" data-toggle="tooltip" data-placement="top" title="LED Accessories"></div>
          </div>
        </div>
      </div>
    </div>
  </div>  

  <div class="row">
    <div class="col-lg-7 col-md-7 col-sm-6 col-xs-6 carousel-parent">
      <div id="carousel-3" class="carousel carousel-fade slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-3" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-3" data-slide-to="1"></li>
          <li data-target="#carousel-3" data-slide-to="2"></li>
          <li data-target="#carousel-3" data-slide-to="3"></li>
          <li data-target="#carousel-3" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="item thumbnail carousel_sprite active">
            <div class="celica_3_rer" data-toggle="tooltip" data-placement="top" title="Finished Rear Spoiler"></div>
          </div>
          <div class="item thumbnail carousel_sprite">
            <div class="celica_3_vis" data-toggle="tooltip" data-placement="top" title="Windshield Banner: Most Wanted"></div>
          </div>
          <div class="item thumbnail carousel_sprite">
            <div class="celica_3_ihc" data-toggle="tooltip" data-placement="top" title="I Love My Celica"></div>
          </div>
          <div class="item thumbnail carousel_sprite">
            <div class="celica_3_sc2" data-toggle="tooltip" data-placement="top" title="Rear Window Banner: Starcraft II"></div>
          </div>
          <div class="item thumbnail carousel_sprite">
            <div class="celica_3_trk" data-toggle="tooltip" data-placement="top" title="Trunk Toolsets"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-6 col-xs-6">
      <h3><i class="fa fa-fw fa-tachometer"></i> Dazzling Electronics</h3>
      <br/>
      <ul class="ul_desp">
        <li>Viper alarm system, hands-free entry, infrared sensors</li>
        <li>Rear &amp; side-view cameras, Sony touch-screen headunit, bluetooth hands-free</li>
        <li>LED ambient light, climate center, radar detector, wire-free GPS all in dash. Music-activated equalizer ceiling</li>
        <li>Diehard deep-cycle battery, kill switch</li>
      </ul>
    </div>
  </div>  

{% endblock %}

{% block script %}
  {% if DEBUG %}
  <script type="text/javascript" src="/js/gviz.js" ></script>
  <script type="text/javascript" src="/js/util.js" ></script>
  {% else %}
  <script type="text/javascript" src="/js/_gviz.min.js" ></script>
  {% endif %}
{% endblock %}
