{
  "items": [
    {
      "icon": "linkedin",
      "url": "https://www.linkedin.com/in/user/"
    },
    {
      "icon": "github-circled",
      "url": "https://github.com/user/"
    },
    {
      "icon": "facebook",
      "url": "https://www.facebook.com/user/"
    },
    {
      "icon": "gplus",
      "url": "https://plus.google.com/user_id/"
    },
    {
      "icon": "twitter",
      "url": "https://twitter.com/user/"
    }
  ],
  "background": [
    "img_1",
    "img_2",
    "img_3"
  ],
  "resume": "resume_file_name",
  "lens": {
    "left": null,
    "right": null
  }
}
