{
  "items": [
    {
      "name": "project_tag",
      "category": "category",
      "description": "description_html",
      "title": "title"
    },
    {
      "name": "project_tag",
      "category": "category",
      "description": "description_html",
      "title": "title"
    }
  ],
  "category": [
    "all",
    "web",
    "software",
    "rna-biochem",
    "misc"
  ]
}