{
  "items": [
    {
      "id": 1,
      "icon": "icon",
      "title": "title",
      "value": null
    },
    {
      "id": 2,
      "icon": "icon",
      "title": "title",
      "value": null
    }
  ],
  "backgrounds": [
    "img_1",
    "img_2",
    "img_3"
  ],
  "links": {
    "github": "https://github.com/user"
  },
  "gitContrib": {
    "startDate": "1970-01-01",
    "countArray": [],
    "indexArray": [],
    "maxCount": 0,
    "monthText": {
      "Jan": 100,
      "Feb": 200
    }
  }
}
