/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {}
/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {}
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	/* Make Navigation Toggle on Desktop Hover (use class: dropdown-hover) */
  .dropdown-hover:hover > .dropdown-menu {
    display: block;
  }
}
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {}
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {}

/*==========  Non-Mobile First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	#text-carousel-intro-section .caption h1 { font-size: 50px; }
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.parallax {
		background-attachment: scroll !important;
		background-position: 50% 50% !important;
	}
	.counter-up {
		.fact-inner {
			.counter { font-size: 42px; }
			.fa-3x { font-size: 36px; }
		}
	}
}
/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	.navbar-brand,
	.navbar-brand:focus { margin-left: 10px; }
	.navbar-toggle {
		margin-top: 18px;
		border: none;

		&:hover, &:focus { background-color: rgba(0, 0, 0, 0) !important; }
		.icon-bar { height: 3px; }
	}
	.navbar-default .navbar-toggle .icon-bar,
	.navbar-transparent .navbar-toggle .icon-bar,
	.navbar-inverse .navbar-toggle .icon-bar,
	.navbar-shrink .navbar-toggle .icon-bar,
	.navbar-inverse.navbar-shrink .navbar-toggle .icon-bar { background-color: #FFF !important; }

	.navbar-collapse { border-width: 2px; }
	.navbar-fixed-top .navbar-collapse,
	.navbar-fixed-bottom .navbar-collapse { max-height: 440px; }
	.navbar-inverse .navbar-collapse { background-color: #111; }
	.navbar-nav {
		> li > a {
			padding: 10px 0 !important;
			color: #FFF;
		}
		.open .dropdown-menu > li > a { padding: 10px 10px 10px 45px !important; }
	}
	.navbar-default .navbar-nav > li > a,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a { color: #222; }
	.navbar-inverse .navbar-nav > li > a,
	.navbar-inverse .navbar-nav .open .dropdown-menu > li > a { color: #CCC; }
	.navbar-default.navbar-shrink .navbar-nav > li.active > a {
		-webkit-box-shadow: none !important;
		-moz-box-shadow: none !important;
		box-shadow: none !important;
	}

	.rotate-box-1 {
		text-align: center;
		margin-top: 0;

		.rotate-box-info {
			padding-left: 0; 
		  	text-align: center;
		}
		.rotate-box-icon {
			float: none ;
			margin-right: 0;
			margin-bottom: 30px;
		}
	}

	.page { padding-top: 30px; }
	#about-section,
	#contact-section,
	#contact-section .contact .form-control { text-align: center; }
	footer { text-align: center; }
	.owl-prev,
	.owl-next { display: none !important; }
}
/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {}
/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {}
