.starter-template {
	height: 100%;
	width: 100%;
	position: fixed;
	text-align: center;
}
#center {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
#main {
	vertical-align: middle;
	display: inline-block;
	min-width: 640px;
	max-width: 800px;
}
@media only screen and (max-width : 768px) {
  .starter-template { position: relative; }
}
@media only screen and (max-width : 480px) {
  #center {
    display: none;
  }
  #main {
    vertical-align: middle;
    display: inline-block;
    min-width: initial;
    max-width: 480px;
  }
}

.bgimg2-lg {
  background-image: url("/img/bg_rna_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  /*padding:50px 0px;*/
}

.label-green { background-color: #9fc906; }
.label-red { background-color: #f44336; }
.label-blue { background-color: #03a9f4; }
.label-yellow { background-color: #ffc107; }
.label-purple { background-color: #9c27b0; }
.label-gray { 
    background-color: #cfd8dc; 
    color: #000;
}

