@import 'share';

html { overflow-y: scroll; }
body { padding: 50px 15px 0px 15px; }
.starter-template {
  padding: 40px 15px 15px 15px;
  height: auto;
  width: auto;
  position:	relative;
  text-align: left;
}


.thumbnail { padding: 10px; }

.ul_desp.lead > li { padding-top: 10px; }
.place_holder {
  height: 175px;
  opacity: 0.5;

	> div.center-block {
		width: 72px; 
		padding-top: 51px;
	}
}
.git { height: 175px; }

.copyright { 
	margin: 0px; 
	line-height: 1;
}


.carousel-indicators {
  bottom: -25px;

  > li {
    border-color: $clr-kl;
    border-radius: 0px;
    border-width: 2px;
    background-color: $clr-kl2;
    @include transform(rotate(45deg));

    &:hover, &.active {
      border-color: $clr-gl;
      background-color: $clr-gl2;
    }
  }
}
.scrollTop {
  .fa { transform: rotate(-45deg) translate(-7px, 5px); }
}
