@import 'share';


html { height: 100% !important; }
body {
	position: relative;
	height: 100%;
	font-size: 14px;
	color: #363940;
	-webkit-text-size-adjust: 100%;

	.body { height: 100%; }
	.boxed { color: $clr-kl; }
}
.cover {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	background-color: rgba(0, 7, 11, 0.15);
	padding: 20px;
}
.page {
  overflow: hidden;
  background-color: $clr-w;
  padding: 50px 0;
}

* {
	@include border_radius(0 !important);

	&:focus { 
		outline: none !important;
		@include box_shadow(none !important);
	}
}

.divider {
	width: 100%;
	height: 52px;
	background: url('/img/fg_divider.gif') no-repeat center center;
	margin: -10px 0px -5px 0px;
}
.thumbnail {
	padding: 15px;
	margin-bottom: 20px;
	background-color: $clr-w;
	border: 1px solid #ddd;
	@include transition(0.2s);
}
.form-control {
	@include box_shadow(none);
}

#home {
  float: left;
  display: block;
  position: relative;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.parallax {
	position: relative;
	background-position: 50% 30%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
  background-size: cover;
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) { 
	.parallax { background-attachment: scroll; }
}
.bg_rotate_fade {
	@include transition(0.5s);
}


section { position: relative; }
small { font-size: 12px; }
h1 { font-size: 36px; }
h2 { font-size: 30px; }
h3 { font-size: 26px; }
h4 { font-size: 22px; }
h5 { font-size: 18px; }
p {	font-size: 14px/1.5em; }


.dropdown-menu {
	li a {
		padding: 4px 20px;
		text-transform: uppercase;

		&:hover, &:focus {
			color: $clr-gdd; 
			text-decoration: none;
			background-color: transparent;
		}
	}
	.active a, .active a:hover, .active a:focus {
		color: $clr-gdd; 
		text-decoration: none;
		background-color: transparent;
	}
}

.navbar-fixed-top {
	&.navbar-shrink {
		.container {
			padding-top: 0 !important;
			padding-bottom: 0 !important;
		}		
		.navbar-brand {
			color: $clr-kl;

			&:hover { color: $clr-gdd; }
			&:focus { color: $clr-kl; }
		}

		&.navbar-default {
			.navbar-nav li a { color: $clr-gll; }
			.navbar-brand {
				color: $clr-w;

				&:hover { color: $clr-gdd; }
			}
		}

		&.navbar-inverse {
			background-color: #111;

			.navbar-nav {
				li a {
					color: $clr-kl;

					&:hover, &:focus {
						background-color: transparent;
						color: $clr-gdd;
					}
				}
				.active a, .active a:hover, .active a:focus, li.active a {
					background-color: transparent;
					color: $clr-gdd;
				}
			}
		}
	}
}
.navbar-transparent {
	background-color: transparent;

	.navbar-nav li a {
		color: $clr-w;
		text-transform: uppercase;
	}
	.navbar-nav li:hover a {
		background-color: transparent;
		color: $clr-gl;
	}
	.navbar-brand {
		color: $clr-g;
		opacity: 0.5;

		&:focus { color: $clr-gl; }
	}

	&.navbar-fixed-top .container {
		padding-top: 30px;
		padding-bottom: 0;
	}
	&.navbar-fixed-bottom .container {
		padding-top: 0;
		padding-bottom: 30px;
	}
}
.navbar-nav li a {
	padding: 24px 0;
	margin-left: 25px;
	font-size: 13px;
	font-weight: 600;
}
@media only screen and (max-width : 767px) {
	.navbar-collapse {
			background-color: $clr-gl;
			border-color: $clr-w !important;
		}
	.navbar-default.navbar-shrink .navbar-nav li.active a {
		@include box_shadow(none !important);
	}
	.navbar-nav {
		li a:hover, li > a:focus, > li.active > a { color: $clr-gdd; }
	}
}


.rotate-box-1, 
.rotate-box-2 {
	display: inline-block;
	margin: 30px 0;
	text-decoration: none;
	color: #363940;

	h4 { font-weight: 900; }
	&:hover.square-icon .rotate-box-icon { background-color: $clr-gl; }
	.rotate-box-icon {
		background-color: $clr-g;
		display: inline-block;
		text-align: center;
		margin-bottom: 15px;
		@include transition(0.2s);
	}
	.rotate-box-info {
		&:hover { color: $clr-gl; }
		a {
			@include transition(0.2s);
		}
	}

	&.square-icon {
		.rotate-box-icon {
			width: 45px;
			height: 45px;
			line-height: 45px;
			color: $clr-w !important;
			font-size: 18px;
			@include transform(rotate(45deg));

			.fa {
				@include transform(rotate(-45deg));
				@include transition(0.2s);
			}

			&::after {
				content: "";
				position: absolute;
				top: 3px;
				right: 3px;
				bottom: 3px;
				left: 3px;
				border: 2px solid $clr-w;
			}
		}

		&:hover .rotate-box-icon {
			@include transform(rotate(0deg));
			@include transition(0.2s);

			.fa {
				-webkit-transform-origin: 50% 50%;
				-moz-transform-origin: 50% 50%;
				-o-transform-origin: 50% 50%;
				transform-origin: 50% 50%;
				@include transform(scale(2, 1.41) rotate(90deg) rotateX(225deg));
				@include transition(0.2s);
			}
		}
	}
}
.rotate-box-1 {
	p { padding: 0 10px; }
	.rotate-box-info { padding-left: 60px; }
	.rotate-box-icon {
		margin-right: 25px;
		margin-top: 10px;
		float: left;
	}
}
.rotate-box-2 {
	.rotate-box-info p { line-height: 150%; }

	&.square-icon {
		.rotate-box-icon {
			width: 75px;
			height: 75px;
			line-height: 75px;
			font-size: 36px;
		}
		.rotate-box-info { margin-top: 30px; }
	}
}


.progress {
	overflow: visible;
	height: 25px;
	margin-bottom: 20px;
	border: 3px solid $clr-g;
	background-color: transparent;
	@include box_shadow(none);

	.percent {
		position: relative;
		background-color: #222;
		padding: 7px;
		color: $clr-w;
		top: -23px;

		&::after {
			content: "";
			position: absolute;
			left: 50%;
			margin-left: -4px;
			bottom: -4px;
			width: 0;
			height: 0;
			border-left: 4px solid rgba(0, 0, 0, 0);
			border-right: 4px solid rgba(0, 0, 0, 0);
			border-top: 4px solid #222;
		}
	}
}
.progress-bar {
	background-color: $clr-gl;
	color: #000;
	font-size: 14px;
	line-height: 7px;
	padding: 5px;
	text-align: center;
	font-weight: bold;
	@include box_shadow(none);
}
.progress-label h6 { font-weight: 900; }


#home-section {
	height: 100%;
	width: 100%;

	.container { height: 100%; }
	.caption {
		position: absolute;
		bottom: 20%;
		/*left: -30%;*/
		/*margin-top: -70px;*/

		img { max-width: 50%; }
		p {
			opacity: 0;
			letter-spacing: 2px;
			font-size: 3vh;
			margin-top: 10px;
			margin-left: 20px;
			@include transition(1s);
		}
	}
}
.blink_cursor {
  color: #f44336;
  font-weight: bold;
}

.stanford {
	position: relative;
	overflow: hidden;
	padding: 80px 0px;
}
.stanford .cover, 
.counter-up .cover, 
#contact-section .cover { background-color: rgba(0, 7, 11, 0.5); }
#home-section .cover { 
	background-color: rgba(0, 7, 11, 0.75); 
	@include transition(1s);
}

.portfolio_menu {
	text-align: center;
	overflow: hidden;
	margin-top: 22px;
	margin-bottom: 48px;

	ul {
		list-style: none outside none;
    text-align: center;

    li {
    	display: inline-block;

    	a {
				color: #363940;
				background: transparent;
		    display: inline-block;
		    margin: 4px;
		    padding: 8px 10px;
		    text-decoration: none;
		    text-transform: uppercase;

		    &:hover {
					background: $clr-gl !important;
					color: $clr-w !important;
				}
			}
		}
	}
}
.active_prot_menu a {
	background: $clr-g !important;
	color: $clr-w !important;
	font-weight: 900;
}
.portfolio_item {
	left: auto !important;
	top: auto !important;
	position: relative !important;
}
.portfolio_single_content {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 5;
	/*margin-bottom:30px;*/
	overflow:hidden;

	div.sprite {
		border: 1px solid $clr-kl;
		margin-left: -1px;
		margin-top: -1px;
		width: 100%;
		position: relative;
		top: 0;
		left: 0;
		z-index: 6;
		cursor:pointer;
		@include transition(1s);
	}	
	div.subtitle {
		position:absolute;
		top: 0;
		left: 0;
		z-index: 10;
		width: 100%;
		height: 100%;
		text-align: center;
		opacity: 0;
		background: none repeat scroll 0 0 rgba( 114, 166, 3, 0.75);
		@include transition(0.6s);
		@include transform(scale(0));
	}

	&:hover {
		div.sprite {
			@include transform(scale(1.5));
		}
		div.subtitle {
			opacity: 1;
			@include transform(scale(1));

			a {
				color: $clr-w;
				display: block;
				font-size: 2em;
				font-weight: 900;
				margin-top: 30%;
				padding-bottom: 10px;
				text-decoration: none;
				font-variant: small-caps;
				/*text-transform: uppercase;*/
			}
			span {
				color: $clr-w;
				font-size: 14px;
				font-weight: normal;
				margin: 0;
				padding: 0;
			}
		}
	}
}
.portfolio_content {
  margin-top: 36px;
  overflow: hidden;
}
#portfolio {
	padding: 0px 15px 0px 14px;

	div { padding: 0px; }
}


.counter-up {
	position: relative;
	background-color: #171717;
	padding: 80px 0 50px 0;

	.fact.last { border-right: none; }
	.fact-inner {
		padding-bottom: 30px;

		.counter { font-size: 54px; }
	}
}
.counter-finish { color: $clr-g; }


#social-section { padding: 80px 0; }
ul.social-list {
	text-align: center;
	margin: 0 auto;

	li {
		display: inline-block;
		margin-right: 20px;

		.rotate-box-1 { margin: 0; }
		a i {
			color: $clr-w;
			font-size:20px;
		}
	}
}

#contact-section {
	position: relative;
	width: 100%;
	background-color: $clr-g;

	h4 { font-weight: bold; }
	.contact {
		.contact-form {
			margin-bottom: 40px;

			h4 { margin-bottom: 25px; }
			button {
				width: 100%;
				height: 40px;

				&:hover { color: $clr-w; }
			}
			.input-lg { font-size: 14px; }
		}
		.form-control {
			background-color: rgba(0, 0, 0, 0.5);
			color: $clr-w;
			border-color: #2A2A2A;

			&:focus {
				background-color: rgba(0, 0, 0, 0.75);
				border-color: $clr-gl;
				@include box_shadow(none);
			}
		}
	}
}
ul.contact-address {
	float: left;
	width: 100%;
	padding: 0;
	margin: 15px 0;

	li {
		padding: 0 0 20px;
		margin: 0;

		i { margin-right: 10px; }
		&:last-child {
			padding-bottom: 0;

			&:hover i.fa { color: #363940; }
		}
		&:hover i.fa { color: $clr-gl; }
	}
}
.fact-inner:hover i.fa { color: $clr-gl; }


.page-header {
	margin: 0 0 60px 0;
	padding: 0;
	border: none;

	h2 { text-transform: uppercase; }
}
p.subtitle {
	letter-spacing: 2px;
	margin-top: 10px;
}

.carousel {
	float: left;
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	overflow:hidden;
}
.carousel-indicators {
	li {
		margin: 0px 7px;
		border: 3px solid $clr-kl;
		width: 14px;
		height: 14px;
		opacity: 0.5;
		@include transition(0.2s);
		@include transform(rotate(45deg));

		&.active {
			border: 3px solid $clr-gl;
			background-color: transparent;
			opacity: 0.75;
		}
	}
}
.carousel-fade .carousel-inner .item img { max-width: none; }

.extra-space-m, .extra-space-l, .extra-space-xl, .extra-space-xxl { width: 100%; }
.extra-space-m { height: 20px; }
.extra-space-l { height: 40px; }
.extra-space-xl { height: 60px; }
.extra-space-xxl { height: 80px; }


.btn {
	position: relative;
	letter-spacing: 1.5px;
	border: none;

	&:active {
		top: 2px;
		@include box_shadow(inset 0 3px 5px rgba(0, 0, 0, 0.16));
	}
}
.btn-default {
	&:hover, &:disabled:hover {
		color: $clr-w;
		background: $clr-gl;
	}	
	&, &:disabled, &.disabled, &:focus, &.focus, &:active, &.active {
		background: $clr-g;
		color: $clr-w;
		@include transition(0.6s);
	}
}
.btn-primary {
	&:hover, &:disabled:hover {
		color: $clr-w;
		background: #1867a8;
	}	
	&, &:disabled, &.disabled, &:focus, &.focus, &:active, &.active {
		background: #3078b3;
		color: $clr-w;
		@include transition(0.6s);
	}
}
.btn-danger {
	&:hover, &:disabled:hover {
		color: $clr-w;
		background: #d81508;
	}	
	&, &:disabled, &.disabled, &:focus, &.focus, &:active, &.active {
		background: #e7392d;
		color: $clr-w;
		@include transition(0.6s);
	}
}
.btn-lg {
	font-size: 1.3em;
	padding: 10px 40px;
}
.btn-lg-xl {
	font-size: 1.4em;
	padding: 10px 80px;
}


.scrollDown {
	position: absolute;
	top: 90%;
	right: 30px;

	.fa {
		/*color: $clr-gl;*/
		opacity: 0.5;
		@include transition(0.5s);
	}
	&:hover .fa { opacity: 1; }
}


.story {
	position: relative;
	padding: 50px 100px 50px 200px;
}
.timeline {
	position: absolute; 
	width: 1px; 
	height: 100%; 
	left: 200px; 
	top: 0px;
	border-right: 2px solid #d9d9d9; 
	z-index: 5; 

	&::before, &::after {
		content: "";
		left: -5px;
		width: 12px;
		height: 12px;
		background: #d9d9d9;
		position: absolute;
		@include border_radius(6px);
	}
	&::before { top: 0px; }
	&::after { bottom: 0px; }
}

.story-item-content {
	width: 100%;
	padding-left: 50px;
	float: left; 
	position: relative;

	.story-item-wrap {
		background: #e6e6e6;
		padding: 15px 20px 20px;
		border-left: 5px solid $clr-gl;
		text-align: left;
		opacity: 0;
		@include transform(matrix(1, 0, 0, 1, -200, 0));
		@include transition(0.25s);
	}
	&.active {
		.story-item-wrap {
			opacity: 1;
			@include transform(matrix(1, 0, 0, 1, 0, 0));
		}
		.si-year {
			color: $clr-gl;

			&::after { background-color: $clr-gl; }
		}
	}
}

.si-header {
	color: #191919;
	font-size: 1.6em;
	/*text-transform: uppercase;*/
	font-weight: bold;
	font-variant: small-caps;
	text-align: center;
	padding-left: 4px;

	a { color: $clr-g;}
	span {
		font-variant: normal;
		font-size: 0.6em;
		color: $clr-k;
	}
}
.si-year {
	font-size: 2em;
	font-weight: 900;
	color: $clr-w;
	text-align: right;
	position: absolute;
	width:200px;
	top: 37%;
	left: -225px; 

	&::after {
		content: "";
		width: 12px;
		height: 12px;
		left: 220px;
		top: 15%;
		background: $clr-g;
		position: absolute;
		z-index: 6;
		@include border_radius(6px);
	}
}
.si-desc {
	border-left: 2px dashed $clr-kl;
	padding: 15px;
	/*margin: 10px -15px -15px;*/
	color: #000;
	line-height: 150%;
}
.section-diff .si-desc { border-top: 1px dashed #d9d9d9; }
.story-item {
	width: 100%;
	margin-top: -50px;
	margin-bottom: -50px;
	position: relative;
	z-index: 10;
	float: left;

	&::after {
		content: "";
		display: table;
		clear: both;
	}
	&:last-child { margin: 0; }
}
@media only screen and (max-width : 767px) {
	.story { padding: 50px 50px 50px 100px; }
	.timeline { left: 100px; }
}
@media only screen and (max-width : 512px) {
	#home-section .caption img { max-width: 35%; }
}
@media only screen and (min-width : 767px) {
	#home-section .caption img { max-width: 75%; }
}


#pub-content > div.row { margin: 0px 0px 20px 0px; }
#pub-content > div > div.row > div,
div.pub-year {
	color: $clr-k;
	font-size: 2em;
	padding: 8px;
	vertical-align: text-top;
}
div.pub-body {
	border-left: 5px solid $clr-g;

	> div.row { margin: 12px 0px; }
}
div.pub-text { line-height: 20px; }
.pub_single_content {
	a div {
		text-align: center;
		opacity: 0.8;
		@include transition(0.5s);
	}

	&:hover a div { opacity: 1; }
}


text.month,
text.wday {
	fill: $clr-k;
	font-size: 10px;
}
text.legend {
	fill: $clr-k;
	font-size: 12px;
}
rect.day {
	shape-rendering: crispedges;
	height: 11px;
	width: 11px;

	&:hover { stroke: #333; }
	&.day_0 { fill: #eee; }
	&.day_1 { fill: #d6e685; }
	&.day_2 { fill: #8cc665; }
	&.day_3 { fill: #44a340; }
	&.day_4 { fill: #1e6823; }
}
.tooltip-inner {
    background-color: #363940;
    color: $clr-wo;
    opacity: 0.9;
}
