{
  "presets": [
    ["@babel/env", { "useBuiltIns": false }],
    "@babel/react"
  ],
  "plugins": [
    ["@babel/plugin-proposal-class-properties", { "loose": false }],
    "@babel/plugin-proposal-export-default-from",
    "lodash"
  ],
  "env": {
    "development": {
      "plugins": [
        ["react-css-modules", {
          "filetypes": {
            ".scss": {
              "syntax": "postcss-scss",
              "plugins": [
                ["postcss-nested", { "preserveEmpty": true }]
              ]
            }
          },
          "generateScopedName": "[local]",
          "handleMissingStyleName": "warn"
        }]
      ]
    },
    "production": {
      "plugins": [
        ["react-css-modules", {
          "filetypes": {
            ".scss": {
              "syntax": "postcss-scss",
              "plugins": [
                ["postcss-nested", { "preserveEmpty": true }]
              ]
            }
          },
          "generateScopedName": "__[hash:6]",
          "handleMissingStyleName": "ignore"
        }]
      ]
    }
  }
}
