{
  "presets": [
    [
      "env", {
        "useBuiltIns": true
      }
    ],
    "stage-2",
    "react"
  ],
  "plugins": [
    "lodash"
  ],
  "env": {
    "development": {
      "presets": [
        "react-hmre"
      ]
    },
    "production": {
      "presets": [
        [
          "minify", {
            "mangle": false
          }
        ]
      ]
    }
  }
}
