{
  "presets": [
    [
      "env", {
        "useBuiltIns": true
      }
    ],
    "stage-1",
    "react"
  ],
  "plugins": [
    "lodash",
    [
      "react-css-modules", {
        "filetypes": {
          ".scss": {
            "syntax": "postcss-scss",
            "plugins": [
              [
                "postcss-nested", {
                  "preserveEmpty": true
                }
              ]
            ]
          }
        },
        "generateScopedName": "[local]__[hash:base62:5]",
        "handleMissingStyleName": "warn"
      }
    ]
  ],
  "env": {
    "development": {
      "presets": [
        "react-hmre"
      ]
    },
    "production": {}
  }
}
