!.gitignore

config/*.json
data/
dist/
src/pdf/*.pdf
src/css/*.map
src/css/*.css
!src/css/font.css
!src/css/reset.css

node_modules/
bower_components/
.sass-cache/

!data/**/.gitignore
!dist/**/.gitignore
!node_modules/**/.gitignore
!bower_components/**/.gitignore
