!.gitignore

backup/
backup.tar.gz
config/*.json
!config/error.json
config/repository/*.json
!config/repository/*.example.json
public/
!public/.gitignore
static/**/*.pdf

node_modules/
.sass-cache/

.DS_Store
npm-debug.log
