.UTIL__cover {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 7, 11, 0.5);
  padding: 1.5em;
}
.UTIL__divider {
  width: 100%;
  height: 52px;
  margin: -10px 0px -5px 0px;
  background: url('./img/fg_divider.png') no-repeat center center;
  background-size: auto 52px;
}

.UTIL__parallax {
  position: relative;
  width: 100%;
  height: 100%;
  
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  @include transition(0.5s);

  &.bg {
    padding-bottom: 5.5rem;
    height: 100%;
  }
  &:not(.bg) { background-position: 50% 30%; }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) { 
  .UTIL__parallax { background-attachment: scroll; }
}
@media only screen and (max-width : 992px) {
  .UTIL__parallax {
    background-attachment: scroll;
    
    &:not(.bg) { background-position: 50% 50%; }
    &.bg { background-size: initial; }
  }
}

.UTIL__spacer-md, .UTIL__spacer-lg, .UTIL__spacer-xl, .UTIL__spacer-hg { width: 100%; }
.UTIL__spacer-md { height: 1.45rem; }
.UTIL__spacer-lg { height: 2.85rem; }
.UTIL__spacer-xl { height: 4.30rem; }
.UTIL__spacer-hg { height: 5.70rem; }


.UTIL__section_header {
  margin: 0 0 4.25em 0;
  padding: 0;
  border: none;

  h2 { text-transform: uppercase; }
}
p.UTIL__section_subtitle {
  letter-spacing: 0.15em;
  margin-top: 0.75em;
  font-size: 1.25em;
}
