

.scrollTop {
  position: fixed;
  display: none;
  bottom: 20px;
  right: 30px;
  width: 34px;
  height: 34px;
  color: $clr-gl;
  border: 2px solid $clr-gl;
  line-height: 34px;
  text-align: center;
  text-decoration: none;
  z-index: 9999;
  @include transform(rotate(45deg));
  @include transition(0.2s);

  .fa {
    padding-left: 4px;
    @include transition(0.2s);
    @include transform(rotate(-45deg));

    transform: rotate(-45deg) translate(0px, -1px);
  }
  &:hover { background-color: $clr-gl; }
  &:hover .fa { color: $clr-w; }
}


.carousel-fade {
  .carousel-inner {
    .item {
      overflow: hidden;
      @include transition(0.5s);
    }
    .item, .active.left, .active.right { opacity: 0; }
    .active, .next.left, .prev.right { opacity: 1; }
    .next, .prev, .active.left, .active.right {
      left: 0;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  .carousel-control { z-index: 2; }
}
.carousel-parent { margin-bottom: 25px; }

