<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta />
    <style type="text/css">html{}</style>
    <ga />

    <% if (!htmlWebpackPlugin.options.args.debug) { %>
      <script
        type="application/javascript"
        src="/<%= htmlWebpackPlugin.options.args.manifest %>"
      ></script>
      <script type="application/javascript">
        !(function loadEntryChunks() {
          var jsEntries = '<%= htmlWebpackPlugin.options.args.js %>'.split(',');
          var cssEntries = '<%= htmlWebpackPlugin.options.args.css %>'.split(',');

          function appendHead(element) {
            document.head.appendChild(element);
          }
          function appendPreload(src, type) {
            var link = document.createElement('link');
            link.rel = 'preload';
            link.as = type;
            link.href = '/' + src;
            appendHead(link);
          }
          function appendStyleTag(src) {
            var link = document.createElement('link');
            link.type = 'text/css';
            link.rel = 'stylesheet';
            link.media = 'none';
            link.href = '/' + src;
            link.onload = function () {
              if (this.media !== 'all') {
                this.media = 'all';
              }
            };
            appendHead(link);
          }
          function appendScriptTag(src) {
            return new Promise(function (resolve, reject) {
              var script = document.createElement('script');
              script.type = 'application/javascript';
              script.async = script.defer = true;
              script.src = '/' + src;
              script.onload = function () { resolve(); };
              script.onerror = function () { reject(); };
              appendHead(script);
            });
          }

          jsEntries.forEach(function (entry) {
            appendPreload(window.manifest.js[entry], 'script');
          });
          cssEntries.forEach(function (entry) {
            appendPreload(window.manifest.css[entry], 'style');
          });
          jsEntries.reduce(function (promise, entry) {
            return promise.then(function () {
              return appendScriptTag(window.manifest.js[entry]);
            });
          }, Promise.resolve());
          cssEntries.forEach(function (entry) {
            appendStyleTag(window.manifest.css[entry]);
          });
        })();
      </script>
    <% } %>
  </head>

  <body>
    <loader />
    <div class="body" id="app"></div>

    <% if (htmlWebpackPlugin.options.args.debug) { %>
      <% for (item of htmlWebpackPlugin.options.args.css) { %>
        <link
          type="text/css" rel="stylesheet"
          href="/styles/<%= item %>.css"
          media="none" onload="if (media !== 'all') { media = 'all'; }"
        />
      <% } %>
      <% for (item of htmlWebpackPlugin.options.args.js) { %>
        <script
          type="application/javascript"
          src="/scripts/<%= item %>.js"
        ></script>
      <% } %>
    <% } %>
  </body>
</html>
