@import './util';


.label {
  &.label-green { background-color: $clr-g; }
  &.label-red { background-color: $clr-r; }
  &.label-blue { background-color: $clr-c; }
  &.label-yellow { background-color: $clr-y; }
  &.label-purple { background-color: $clr-p; }
  &.label-gray { 
    background-color: $clr-k; 
    color: #000;
  }
}