{% extends "_error.html" %}

{% block content %}
  <div class="row bgimg2-lg">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <div style="height:72px; width:135.5px;"><i class="logo_g"></i></div>
      <img src="/img/error/403.png" height="auto" style="max-width:100%;" />
   </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="text-align:left;">
      <h2 style="margin-bottom:20px;">
        <span class="label label-yellow">Translation Abortion</span>
      </h2>
      <p style="font-weight:bold; font-size:16px;">
        <b>
          Your mRNA lacks a RBS or IRES to access the ribosome. 
          <i>trans</i>-splicing with the <span class="label label-green">admin</span> might activate proper gene expression. 
        </b>
      </p>
      <br/>
      <p><i>In other words,</i></p>
        <h3><span class="label label-yellow">403: Forbidden</span></h3>
        <p>
          The server understood the request but refused to fulfill it.
          <br/><br/>
          <b>This page is for site <span class="label label-green">admin</span> only.</b>
          </br>
          Please contact the site <span class="label label-green">admin</span> for administrative tasks (<a target="_blank">&nbsp;<u>t47@stanford.edu</u>&nbsp;&nbsp;<i class="fa fa-fw fa-envelope"></i>&nbsp;</a>).
        </p>
    </div>
  </div>  
{% endblock %}
