{% extends "_error.html" %}

{% block content %}
  <div class="row bgimg2-lg">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <div style="height:72px; width:135.5px;"><i class="logo_g"></i></div>
      <img src="/img/error/201.png" height="auto" style="max-width:100%;" />
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="text-align:left;">
      <h2 style="margin-bottom:20px;">
        <span class="label label-green">mRNA Transcribed</span>
      </h2>
      <p style="font-weight:bold; font-size:16px;">
        <b>Messenger RNA has been fully transcribed and is being transported through nuclear pores. Protein expression is about to take place.</b>
      </p>
      <br/>
      <p><i>In other words,</i></p>
      <h3><span class="label label-green">201: Created</span></h3>
      <p>
        <code><b>Thanks!</b></code>
        <br/>
        The request has been fulfilled and resulted in a new resource being created. 
        <br/>
        <kbd>I have received your email and will follow up!</kbd>
      </p>
      <p style="padding-top:25px;">
        <a class="pull-left" href="/"><i class="fa fa-fw fa-lg fa-arrow-circle-left"></i> <i>Visit my site again~</i></a>
        <a class="pull-right" href="https://www.linkedin.com/in/t47io/">See my <i class="fa fa-fw fa-linkedin-square"></i> profile <i class="fa fa-fw fa-lg fa-arrow-circle-right"></i></a>
      </p>
    </div>
  </div>  
{% endblock %}
