{% extends "_error.html" %}

{% block image %}
<img src="/img/error/404.png" height="auto" style="max-width:100%;" />
{% endblock %}

{% block h1 %}
<span class="label label-purple">Sequence Mismatch</span>
{% endblock %}

{% block p1 %}
<b>Transcript fidelity was compromised possibly by RNase degradation, post-transcriptional editing, or <i>trans</i> inactivation.</b>
{% endblock %}

{% block h2 %}
<span class="label label-purple">404: Not Found</span>
{% endblock %}

{% block p2 %}
<code><b>Sorry!</b></code>
<br/>
The page you are looking for might have been removed, had its name changed, or is temporarily unavailable. 
{% endblock %}
