{% extends "_error.html" %}

{% block image %}
<img src="/img/error/500.png" height="auto" style="max-width:100%;" />
{% endblock %}

{% block h1 %}
<span class="label label-red">Misfolding</span>
{% endblock %}

{% block p1 %}
<b>
  Non-native local structure was detected.
  <br/>
  Non-functional conformation was formed.
  <br/>
  Chaperone protein is on the way.
</b>
{% endblock %}

{% block h2 %}
<span class="label label-red">500: Internal Server Error</span>
{% endblock %}

{% block p2 %}
<code><b>Sorry!</b></code>
<br/>
The server encountered an internal error and was unable to complete your request. The admin has been noticed and will look into it. Please come back and try again later.
{% endblock %}
