<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="portfolio">
      <div class="page-header-wrapper">
        <div class="container">
          <div class="page-header text-center" id="work-header">
            <h2>My Works</h2>
            <div class="divider"></div>
            <p class="subtitle">what I am proud of</p>
          </div>
        </div>
      </div>

      <p class="text-gray text-center">
        <span class="fa-stack">
          <i class="fa fa-fw fa-square fa-stack-2x text-light-green"></i>
          <i class="fa fa-fw fa-mouse-pointer fa-stack-1x text-white"></i>
        </span>
        Find more details about each <span class="text-green">project</span>.
      </p>

      <div class="portfolio_content_area" >
        <div class="portfolio_menu" id="filters">
          <ul>
            <li class="active_prot_menu"><a href="#portfolio_menu" data-filter="*">all</a></li>
            <li><a href="#portfolio_menu" data-filter=".web">Web</a></li>
            <li><a href="#portfolio_menu" data-filter=".soft" >Software</a></li>
            <li><a href="#portfolio_menu" data-filter=".rna">RNA Biochem</a></li>
            <li><a href="#portfolio_menu" data-filter=".other">Misc</a></li>
          </ul>
        </div>

        <div class="portfolio_content">
          <div class="row" id="portfolio">
            {% for p in dat_dict.projects.order %}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 {{dat_dict.projects[p].class}} portfolio_item">
              <div class="portfolio_single_content">
                <img src="{{dat_dict.projects[p].image}}" alt="{{dat_dict.projects[p].title}}"/>
                <div>
                  <a href="{{dat_dict.projects[p].url}}" target="_blank">{{dat_dict.projects[p].title}} <i class="fa fa-fw fa-md fa-external-link"></i></a>
                  <span>{{dat_dict.projects[p].description}}</span>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    
    </div>
  </div>
</div>