{% extends "_detail.html" %}

{% block content %}
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
      <h1>{{title}}</h1>
      <p class="lead">{{description}}</p>
      <p><img src="/img/portfolio/project_daslab_banner.jpg" style="max-width:100%;" /></p>
      <hr/>
      <h2><i class="fa fa-fw fa-hand-pointer-o"></i> Access</h2>
      <p class="lead">
        <span class="label label-warning">Production</span>: <a href="https://daslab.stanford.edu/" target="_blank">https://daslab.stanford.edu/</a>
        <br/>
        <span class="label label-success">Demo</span>: <a href="http://demo.t47.io/" target="_blank">http://demo.t47.io/</a> (For internal system)
      </p>
      <hr/>
      <h2><i class="fa fa-fw fa-hand-o-right"></i> Features</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 carousel-parent">
      <div id="carousel-1" class="carousel carousel-fade slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-1" data-slide-to="1"></li>
          <li data-target="#carousel-1" data-slide-to="2"></li>
          <li data-target="#carousel-1" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="/img/portfolio/project_daslab_1_fs.jpg" alt="Meeting Archive">
          </div>
          <div class="item">
            <img src="/img/portfolio/project_daslab_1_jc.jpg" alt="Resource Timeline">
          </div>
          <div class="item">
            <img src="/img/portfolio/project_daslab_1_ppl.jpg" alt="Member Contact">
          </div>
          <div class="item">
            <img src="/img/portfolio/project_daslab_1_cal.jpg" alt="Shared Calendar">
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

    </div>
  </div>  

  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 carousel-parent">
      <div id="carousel-2" class="carousel carousel-fade slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-2" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-2" data-slide-to="1"></li>
          <li data-target="#carousel-2" data-slide-to="2"></li>
          <li data-target="#carousel-2" data-slide-to="3"></li>
          <li data-target="#carousel-2" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="/img/portfolio/project_daslab_2_ga.jpg" alt="Google Analytics">
          </div>
          <div class="item">
            <img src="/img/portfolio/project_daslab_2_aws.jpg" alt="AWS CloudWatch">
          </div>
          <div class="item">
            <img src="/img/portfolio/project_daslab_2_git.jpg" alt="GitHub Repository">
          </div>
          <div class="item">
            <img src="/img/portfolio/project_daslab_2_ver.jpg" alt="Version Console">
          </div>
          <div class="item">
            <img src="/img/portfolio/project_daslab_2_slk.jpg" alt="Slack Activity">
          </div>
        </div>
      </div>
    </div>
  </div>  

  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 carousel-parent">
      <div id="carousel-3" class="carousel carousel-fade slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-3" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-3" data-slide-to="1"></li>
          <li data-target="#carousel-3" data-slide-to="2"></li>
          <li data-target="#carousel-3" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="/img/portfolio/project_daslab_3_bot.jpg" alt="Bot Reminders">
          </div>
          <div class="item">
            <img src="/img/portfolio/project_daslab_3_slk.jpg" alt="Meeting Scheduler">
          </div>
          <div class="item">
            <img src="/img/portfolio/project_daslab_3_cfg.jpg" alt="Bot Config">
          </div>
          <div class="item">
            <img src="/img/portfolio/project_daslab_3_bkp.jpg" alt="Backup Config">
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

    </div>
  </div>  

  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 carousel-parent">
      <div id="carousel-4" class="carousel carousel-fade slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-4" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-4" data-slide-to="1"></li>
          <li data-target="#carousel-4" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="/img/portfolio/project_daslab_4_pub.jpg" alt="Publication Database">
          </div>
          <div class="item">
            <img src="/img/portfolio/project_daslab_4_exp.jpg" alt="Publication Export">
          </div>
          <div class="item">
            <img src="/img/portfolio/project_daslab_4_usr.jpg" alt="Profile Database">
          </div>
        </div>
      </div>
    </div>
  </div>  

  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 carousel-parent">
      <div id="carousel-5" class="carousel carousel-fade slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-5" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-5" data-slide-to="1"></li>
          <li data-target="#carousel-5" data-slide-to="2"></li>
          <li data-target="#carousel-5" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="/img/portfolio/project_daslab_5_500.jpg" alt="Internal Server Error">
          </div>
          <div class="item">
            <img src="/img/portfolio/project_daslab_5_404.jpg" alt="Not Found">
          </div>
          <div class="item">
            <img src="/img/portfolio/project_daslab_5_401.jpg" alt="Unauthorized">
          </div>
          <div class="item">
            <img src="/img/portfolio/project_daslab_5_400.jpg" alt="Bad Request">
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

    </div>
  </div>  

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <hr/>
      <h2 class="text-center"><i class="fa fa-fw fa-code-fork"></i> Repository</h2>
      <br/>
      <div class="place_holder" id="git_body"></div>
    </div>
  </div>

{% endblock %}

{% block script %}
  <script type="text/javascript">
    var repo = ["{{proj}}"];

    $(document).ready(function() {
      $('.carousel').carousel({'interval': 2500});
    });
  </script>
  <script type="text/javascript" src="https://www.google.com/jsapi" ></script>
  {% if DEBUG %}
    <script type="text/javascript" src="/js/gviz.js" ></script>
  {% else %}

  {% endif %}
{% endblock %}
