{% extends "_detail.html" %}

{% block content %}
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
      <h1>{{title}}</h1>
      <p class="lead">{{description}}</p>
      <p class="thumbnail"><img src="/img/portfolio/project_primerize_banner.jpg" style="max-width:100%;" /></p>
      <hr/>
      <h2><i class="fa fa-fw fa-hand-pointer-o"></i> Access</h2>
      <br/>
      <p class="lead" style="margin: 5px 0px;">
        <span class="label label-warning">Production</span>
        <a href="https://primerize.stanford.edu/" target="_blank">https://primerize.stanford.edu/ <i class="fa fa-fw fa-sm fa-external-link"></i></a>
      </p>
      <br/>
      <hr/>
      <h2><i class="fa fa-fw fa-hand-o-right"></i> Features</h2>
      <br/>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-7 col-md-7 col-sm-6 col-xs-6 carousel-parent">
      <div id="carousel-1" class="carousel carousel-fade slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-1" data-slide-to="1"></li>
          <li data-target="#carousel-1" data-slide-to="2"></li>
          <li data-target="#carousel-1" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="item active thumbnail">
            <img src="/img/portfolio/project_primerize_1_plt.jpg" alt="Plate Layout">
          </div>
          <div class="item thumbnail">
            <img src="/img/portfolio/project_primerize_1_asb.jpg" alt="Assembly Scheme">
          </div>
          <div class="item thumbnail">
            <img src="/img/portfolio/project_primerize_1_prm.jpg" alt="Output Table">
          </div>
          <div class="item thumbnail">
            <img src="/img/portfolio/project_primerize_1_in.jpg" alt="Input Options">
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-6 col-xs-6">
      <h3><i class="fa fa-fw fa-indent"></i> Result Visualization</h3>
      <br/>
      <ul class="ul_desp">
        <li>Inteactive 96-well plate view using D3.js</li>
        <li>Text representation of assembly scheme</li>
        <li>Responsive input and full demo</li>
      </ul>
    </div>
  </div>  

  <div class="row">
    <div class="col-lg-5 col-md-5 col-sm-6 col-xs-6">
      <h3><i class="fa fa-fw fa-bookmark"></i> Tutorial &amp; Protocol</h3>
      <br/>
      <ul class="ul_desp">
        <li>Illustration of job queue and interface</li>
        <li>Full experimental protocol of pipeline and strategy</li>
      </ul>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-6 col-xs-6 carousel-parent">
      <div id="carousel-2" class="carousel carousel-fade slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-2" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-2" data-slide-to="1"></li>
          <li data-target="#carousel-2" data-slide-to="2"></li>
          <li data-target="#carousel-2" data-slide-to="3"></li>
          <li data-target="#carousel-2" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="item active thumbnail">
            <img src="/img/portfolio/project_primerize_2_que.jpg" alt="Job Queue">
          </div>
          <div class="item thumbnail">
            <img src="/img/portfolio/project_primerize_2_tut.jpg" alt="Interface Tutorial">
          </div>
          <div class="item thumbnail">
            <img src="/img/portfolio/project_primerize_2_exp.jpg" alt="Experiemnt Strategy">
          </div>
          <div class="item thumbnail">
            <img src="/img/portfolio/project_primerize_2_pip.jpg" alt="Experiment Pipeline">
          </div>
          <div class="item thumbnail">
            <img src="/img/portfolio/project_primerize_2_ptc.jpg" alt="Experiemt Protocol">
          </div>
        </div>
      </div>
    </div>
  </div>  

  <div class="row">
    <div class="col-lg-7 col-md-7 col-sm-6 col-xs-6 carousel-parent">
      <div id="carousel-3" class="carousel carousel-fade slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-3" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-3" data-slide-to="1"></li>
          <li data-target="#carousel-3" data-slide-to="2"></li>
          <li data-target="#carousel-3" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="item active thumbnail">
            <img src="/img/portfolio/project_primerize_3_ins.jpg" alt="Package Installation">
          </div>
          <div class="item thumbnail">
            <img src="/img/portfolio/project_primerize_3_cl2.jpg" alt="Class Definition">
          </div>
          <div class="item thumbnail">
            <img src="/img/portfolio/project_primerize_3_met.jpg" alt="Class Methods">
          </div>
          <div class="item thumbnail">
            <img src="/img/portfolio/project_primerize_3_atr.jpg" alt="Class Attributes">
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-6 col-xs-6">
      <h3><i class="fa fa-fw fa-cube"></i> Python Package</h3>
      <br/>
      <ul class="ul_desp">
        <li>Stand-alone <i>Python</i> package for academic use</li>
        <li>Highlighted class references</li>
      </ul>
    </div>
  </div>  

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <hr/>
      <h2 class="text-center"><i class="fa fa-fw fa-code-fork"></i> Repository</h2>
      <br/>
      <div class="place_holder" id="git_body"></div>
      <hr/>
      <h2 class="text-center"><i class="fa fa-fw fa-hand-pointer-o"></i> Access</h2>
      <br/>
      <p class="lead text-center" style="margin: 5px 0px;">
        <span class="label label-warning">Production</span>
        <a href="https://primerize.stanford.edu/" target="_blank">https://primerize.stanford.edu/ <i class="fa fa-fw fa-sm fa-external-link"></i></a>
      </p>
    </div>
  </div>

{% endblock %}

{% block script %}
  <script type="text/javascript">
    var repo = ["{{proj}}", "nathermo"];
  </script>
  <script type="text/javascript" src="https://www.google.com/jsapi" ></script>

  {% if DEBUG %}
  <script type="text/javascript" src="/js/gviz.js" ></script>
  <script type="text/javascript" src="/js/util.js" ></script>
  {% else %}
  <script type="text/javascript" src="/js/_gviz.min.js" ></script>
  {% endif %}
{% endblock %}
