@font-face {
    font-family: "Tenor Sans Local";
    src: local("Tenor Sans"), url("/TenorSans-Regular.ttf") format("truetype");
    font-weight: normal; font-style: normal;
}
* {
	font-family: 'Tenor Sans', 'Tenor Sans Local', Helvetica, Arial, sans-serif;
}


html { 
  overflow-y: scroll; 
}
body {
  padding-top: 50px;
  padding-bottom: 0px;
  padding-left: 15px;
  padding-right: 15px;
}
.starter-template {
  padding: 40px 15px 15px 15px;
  height: auto;
  width: auto;
  position:	relative;
  text-align: left;
}
.thumbnail {
	padding: 10px;
}


.navbar {
	margin: 0;
	border: none;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.navbar .container {
	padding-left: 50px;
	padding-right: 50px;
}

.navbar-brand {
	width: 120px;
	height: auto;
	padding: 0;
	line-height: 20px;
	letter-spacing: 4px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.navbar-nav li a {
	padding: 24px 0;
	margin-left: 25px;
	text-transform: uppercase;
	font-size: 13px;
}

.dropdown-left {
	left: 0 !important;
	right: auto !important;
}
.dropdown-right {
	right: 0 !important;
	left: auto !important;
}
.navbar-default .navbar-nav .open a,
.navbar-default .navbar-nav .open a:hover,
.navbar-default .navbar-nav .open a:focus { 
	color: #385200;
	background-color: transparent;
}
.navbar-default .dropdown-menu { padding: 10px 0; }
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:focus { color: #9fc906; }
.navbar-default .navbar-brand:hover { color: #385200; }
.navbar-default,
.navbar-default.navbar-fixed-top.navbar-shrink { background-color: #72a603; }
.navbar-default .navbar-nav li a { color: #e6fcb7; }
.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li a:focus, 
.navbar-default .navbar-nav li.active a, 
.navbar-default .navbar-nav .active>a {color: #fff !important; }
.navbar-default.navbar-fixed-top.navbar-shrink .navbar-nav li  a { color: #e6fcb7; }
.navbar-default.navbar-shrink .navbar-nav li a:hover, 
.navbar-default.navbar-shrink .navbar-nav li a:focus, 
.navbar-default.navbar-shrink .navbar-nav li.active a { color: #fff; }
.navbar-default.navbar-shrink .navbar-nav li.active a {
	-webkit-box-shadow: inset 0 3px #fff !important;
	-moz-box-shadow: inset 0 3px #fff !important;
	box-shadow: inset 0 3px #fff !important;
}
.navbar-default .dropdown-menu {
	border: 1px solid #9fc906;
	border-top: 2px solid #9fc906;
	-webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08);
	box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08);
}
.dropdown-menu li a:hover, 
.dropdown-menu li a:focus, 
.dropdown-menu li a.active, 
.dropdown-menu .active a, 
.dropdown-menu .active a:hover, 
.dropdown-menu .active a:focus {
	color: #385200; 
	text-decoration: none;
	background-color: transparent;
}
.navbar-default .navbar-nav .active a, 
.navbar-default .navbar-nav .active a:hover, 
.navbar-default .navbar-nav .active a:focus { background-color: transparent; }
.dropdown-menu li a {
	padding: 4px 20px;
	text-transform: uppercase;
}
.navbar-default.navbar-fixed-top.navbar-shrink .navbar-brand { color: #fff; }
.navbar-default.navbar-fixed-top.navbar-shrink .navbar-brand:hover { color: #385200; }
.navbar-fixed-top.navbar-shrink .navbar-brand,
.navbar-fixed-top.navbar-shrink .navbar-brand:focus,
.navbar-fixed-top.navbar-shrink .navbar-brand:hover { color: #385200; }

.navbar-fixed-top .container {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.navbar-shrink {
	z-index: 9999;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}
.navbar-shrink .navbar-brand { font-size: 20px; }
.navbar-fixed-top.navbar-shrink .container {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
.navbar-default.navbar-fixed-top.navbar-shrink .navbar-nav li a {
	padding-top: 24px;
	padding-bottom: 24px;
}


/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	.navbar-collapse {
			background-color: #9fc906;
			border-color: #fff !important;
		}
	.navbar-default.navbar-shrink .navbar-nav li.active a {	box-shadow: none !important; }
	.navbar-nav li a:hover, 
	.navbar-nav li > a:focus, 
	.navbar-nav > li.active > a { color: #385200; }
}


.carousel-indicators {
	bottom: -25px;
}
.carousel-indicators > li {
	border-color: #ccc;
	background-color: #eee;
	border-radius: 0px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	border-width: 2px;
}
.carousel-indicators > li:hover,
.carousel-indicators > li.active {
	border-color: #9fc906;
	background-color: #cfe482;
}
.carousel-fade .carousel-inner .item {
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: color 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	-ms-transition: opacity 0.5s ease-in-out;
  	overflow: hidden;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right { opacity: 0; }
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right { opacity: 1; }
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control { z-index: 2; }
.carousel-parent {
	margin-bottom: 25px;
}


.fa-sm { font-size: 10px !important; }
.fa-md { font-size: 13px !important; }
a { color: #72a603; }
a:hover, a:focus {
	color: #9fc906;
	text-decoration: none;
}
b { font-weight: 900; }
h1, h2, h3, h4, h5, h6 {
	font-weight: 900;
	margin-bottom: 10px;
}

.ul_desp.lead > li {
	padding-top: 10px;
}
.place_holder {
  height: 175px;
  opacity: 0.5;git
}
.place_holder > div.center-block {
	width: 72px; 
	padding-top: 51px;
}
.git { height: 175px; }


.footer { 
	background-color: #2d3035; 
	height: 96px;
	width: 100%;
	margin: 0px;
	display: table;
}
.footer a { text-decoration: none; }
.footer > div { display: table-cell; }
.footer div.mini-city {
	height: 96px;
	width: 128px !important;
	padding: 0px;
}
.footer div.mini-city:last-child {
	text-align: right;
}
.footer div.mini-city a img {
	height: 96px;
	width: 128px;
	padding: 0px;
	vertical-align: text-bottom;
}
#footer-header { padding-top: 30px; }
.copyright { 
	margin: 0px; 
	line-height: 1;
}

@media only screen and (max-width : 767px) {
	.footer { height:auto; }
	#footer-header { padding-bottom: 30px; }
}


.text-main { color: #363940; } /* Theme main color */
.text-white { color: #fff; }
.text-off-white { color: #e7e7e7;}
.text-dark { color: #000; }
.text-dark-green { color: #3e5b02;}
.text-green { color: #72a603; }
.text-light-green { color: #9fc906; }
.text-gray { color: #888; }
.text-light-gray { color: #ccc; }
.bg-light-green { 
	background-color: #f8fee3; 
	padding: 0px;
	border-radius: 0.25em !important;
}
.bg-light-gray {
	background-color: #f0f0f0; 
	padding: 0px 5px;
	border-radius: 0.25em !important;
}
.bg-black {
	background-color: rgba(0, 7, 11, 0.5); 
	padding: 0px 5px;
	border-radius: 0.25em !important;
}


.scrollTop {
	position: fixed;
	display: none;
	bottom: 20px;
	right: 30px;
	width: 34px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	text-decoration: none;
	z-index: 9999;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	color: #9fc906;
	border: 2px solid #9fc906;

	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.scrollTop .fa {
	padding-left: 4px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg) translate(-7px, 5px);

	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.scrollTop:hover {
	background-color: #9fc906;
}
.scrollTop:hover .fa {
	color: #fff;
}

