div.publication_sprite {
  width: 100%;
  height: 0;
  padding-bottom: 50%;
}


.thumb_daslab, .thumb_rmdb, .thumb_primerize,
.thumb_eterna, .thumb_hitrace, .thumb_spindle,
.thumb_m2r, .thumb_ires, .thumb_flu,
.thumb_celica {
  max-width: 640px; 
  max-height: 480px;
}

.thumb_daslab::after, .thumb_rmdb::after, .thumb_primerize::after,
.thumb_eterna::after, .thumb_hitrace::after, .thumb_spindle::after,
.thumb_m2r::after, .thumb_ires::after, .thumb_flu::after,
.thumb_celica::after {
  content: ' ';
  display: inline-block;
  max-width: 100%;
  background-size: 300% auto; 
  background-image: url('/img/portfolio/thumbnails.jpg');
  width: 100%; 
  height: 0; 
  padding-bottom: 75%;
}

.thumb_daslab::after { background-position: 0% 0%; }
.thumb_rmdb::after { background-position: 50% 0%; }
.thumb_primerize::after { background-position: 100% 0%; }
.thumb_eterna::after { background-position: 0% 33.33%; }
.thumb_hitrace::after { background-position: 50% 33.33%; }
.thumb_spindle::after { background-position: 100% 33.33%; }
.thumb_m2r::after { background-position: 0% 66.67%; }
.thumb_ires::after { background-position: 50% 66.67%; }
.thumb_flu::after { background-position: 100% 66.67%; }
.thumb_celica::after { background-position: 0% 100%; }


.pub_2013_Shi_NewPhytol,
.pub_2014_Kladwang_Biochemistry,
.pub_2014_Tian_RNA,
.pub_2015_Xue_Nature,
.pub_2015_Miao_RNA,
.pub_2015_Lee_Bioinfomatics,
.pub_2015_Tian_NAR,
.pub_2015_Cheng_eLife,
.pub_2016_Tian_QRB,
.pub_2016_Hagey_Nature {
  max-width: 200px;
  max-height: 100px;
}

.pub_2013_Shi_NewPhytol::after,
.pub_2014_Kladwang_Biochemistry::after,
.pub_2014_Tian_RNA::after,
.pub_2015_Xue_Nature::after,
.pub_2015_Miao_RNA::after,
.pub_2015_Lee_Bioinfomatics::after,
.pub_2015_Tian_NAR::after,
.pub_2015_Cheng_eLife::after,
.pub_2016_Tian_QRB::after,
.pub_2016_Hagey_Nature::after {
  content: ' ';
  display: inline-block;
  max-width: 100%;
  background-size: 100% auto; 
  background-image: url('/img/sp_publications.jpg');
  width: 100%; 
  height: 0; 
  padding-bottom: 50%;
}

.pub_2013_Shi_NewPhytol::after { background-position: 0 0%; }
.pub_2014_Kladwang_Biochemistry::after { background-position: 0 10%; }
.pub_2014_Tian_RNA::after { background-position: 0 20%; }
.pub_2015_Xue_Nature::after { background-position: 0 30%; }
.pub_2015_Miao_RNA::after { background-position: 0 40%; }
.pub_2015_Lee_Bioinfomatics::after { background-position: 0 50%; }
.pub_2015_Tian_NAR::after { background-position: 0 60%; }
.pub_2015_Cheng_eLife::after { background-position: 0 70%; }
.pub_2016_Tian_QRB::after { background-position: 0 80%; }
.pub_2016_Hagey_Nature::after { background-position: 0 90%; }


.aff_Stanford,
.aff_Autodesk,
.aff_CAU {
  max-width: 512px;
  max-height: 224px;
}

.aff_Stanford::after,
.aff_Autodesk::after,
.aff_CAU::after {
  content: ' ';
  display: inline-block;
  max-width: 100%;
  background-size: 100% auto; 
  background-image: url('/img/sp_affiliations.png');
  width: 100%; 
  height: 0; 
  padding-bottom: 43.75%;
}

.aff_CAU::after { background-position: 0 0%; }
.aff_Autodesk::after { background-position: 0 50%; }
.aff_Stanford::after { background-position: 0 100%; }

