$colorFull: #385200 !default;
$colorHeavy: #3e5b02 !default;
$colorDark: #72a603 !default;
$colorMain: #9fc906 !default;
$colorLight: #cfe482 !default;
$colorFaint: #e6fcb7 !default;
$colorNone: #f8fee3 !default;

$colorBlack: #363940 !default;
$colorGrayDark: #888 !default;
$colorGray: #cfd8dc !default;
$colorGrayLight: #eee !default;
$colorWhite: #fff !default;
