$colorGreenFull: #385200;
$colorGreenHeavy: #3e5b02;
$colorGreenDark: #72a603;
$colorGreen: #9fc906;
$colorGreenLight: #cfe482;
$colorGreenFaint: #e6fcb7;
$colorGreenNone: #f8fee3;
$colorBlack: #363940;
$colorGrayDark: #888;
$colorGray: #cfd8dc;
$colorGrayLight: #eee;
$colorWhite: #fff;
