@import './colors';
@import './media';

.SPRITE {
  display: inline-block;
}

@function list_prefix($list, $prefix) {
  $result: ();

  @each $item in $list {
    $result: append($result, $prefix + $item, comma);
  }

  @return $result;
}

@function list_suffix($list, $suffix) {
  $result: ();

  @each $item in $list {
    $result: append($result, $item + $suffix, comma);
  }

  @return $result;
}

@mixin retina_image($url) {
  $len: str-length($url);
  $path: str-slice($url, 0, $len - 4);
  $ext: str-slice($url, $len - 2);
  background-image: url("#{$path}.#{$ext}");
  /* filter: blur(5px); */
  transition-duration: 1s;

  @include media_pixel_ratio(1.5) {
    background-image: url("#{$path}@1.5x.#{$ext}");
    /* filter: none; */
  }
  @include media_pixel_ratio(2) {
    background-image: url("#{$path}@2x.#{$ext}");
    /* filter: none; */
  }
  @include media_pixel_ratio(3) {
    background-image: url("#{$path}@3x.#{$ext}");
    /* filter: none; */
  }
}

@mixin img_sprites($img, $w, $h, $cls_names, $retina) {
  $cls_names: list_prefix($cls_names, '.');
  $cls_after: list_suffix($cls_names, '::after');

  #{$cls_names} {
    max-width: $w;
    max-height: $h;
  }

  #{$cls_after} {
    content: ' ';
    display: inline-block;
    max-width: 100%;
    width: 100%;
    height: 0;
    padding-bottom: percentage($h / $w);
    background-image: url($img);
    background-size: 100% auto;

    @if $retina == true {
      @include retina_image($img);
    } @else {
      background-image: url($img);
    }
  }

  @if length($cls_after) == 1 {
    #{nth($cls_after, 1)} {
      background-position: 0 percentage(1);
    }
  } @else {
    @for $i from 1 through length($cls_after) {
      #{nth($cls_after, $i)} {
        background-position: 0 percentage(($i - 1) / (length($cls_after) - 1));
      }
    }
  }
}

@mixin img_sprites_bg($img, $w, $h, $cls_names) {
  $cls_names: list_prefix($cls_names, '.');
  $cls_after: list_suffix($cls_names, '::after');

  #{$cls_names} {
    width: 100%;
    max-width: $w;
    max-height: $h;
    background-size: 110% auto;
    padding-bottom: 5.75rem;
    background-image: url($img);
  }

  @for $i from 1 through length($cls_after) {
    #{nth($cls_names, $i)} {
      background-position: 50% percentage(($i - 1) / (length($cls_after) - 1));
    }
  }
}
