@import './colors';

.text-black {
  color: $colorBlack;
}

.text-white {
  color: $colorWhite;
}

.text-off-white {
  color: $colorGrayLight;
}

.text-main-dark {
  color: $colorHeavy;
}

.text-main {
  color: $colorDark;
}

.text-main-light {
  color: $colorMain;
}

.text-gray {
  color: $colorGrayDark;
}

.text-gray-light {
  color: $colorGray;
}

.bg-main-light,
.bg-gray-light,
.bg-black {
  padding: 0;
  border-radius: 0.25em;
}

.bg-main-light {
  background-color: $colorNone;
}

.bg-gray-light {
  background-color: $colorGrayLight;
}

.bg-black {
  background-color: rgba(0, 7, 11, 0.5);
}

a {
  color: $colorDark;

  &:hover,
  &:focus {
    color: $colorMain;
    text-decoration: none;
  }
}

b {
  font-weight: 900;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  margin-bottom: 0.7rem;
}
