@import '../../common/mixins/colors';

.ABOUT__box {
  display: inline-block;
  margin: 2rem 0;
  text-decoration: none;
  color: $colorBlack;

  .ABOUT__title {
    font-size: 1.75rem;
    font-weight: 900;
    margin-bottom: 1.75rem;
  }

  .ABOUT__icon {
    width: 6rem;
    height: 6rem;
    display: inline-block;
    font-size: 2.5rem;
    line-height: 6rem;
    text-align: center;
    color: $colorWhite;
    background-color: $colorDark;
    margin-bottom: 2.5rem;

    transition-duration: 0.25s;
    transform: rotate(45deg);

    .fa {
      transition-duration: 0.25s;
      transform: rotate(-45deg);
    }

    &::after {
      content: "";
      position: absolute;
      top: 3px;
      right: 3px;
      bottom: 3px;
      left: 3px;
      border: 2px solid $colorWhite;
    }
  }

  .ABOUT__text {
    margin-top: 2rem;

    &:hover {
      color: $colorMain;
    }

    .ABOUT__detail {
      line-height: 1.5rem;
      margin-bottom: 0;
    }
  }

  &:hover {
    .ABOUT__icon {
      background-color: $colorMain;
      transition-duration: 0.25s;

      .fa {
        transition-duration: 0.25s;
        transform: scale(2, 1.41) rotate(90deg) rotateX(225deg);
        transform-origin: 50% 50%;
      }
    }
  }
}

