@import '../../common/mixins/colors';
@import '../../common/mixins/prefix';


.ABOUT__box {
  display: inline-block;
  margin: 2em 0;
  text-decoration: none;
  color: $colorBlack;

  .ABOUT__title {
    font-size: 1.75em;
    font-weight: 900;
    margin-bottom: 1em;
  }

  .ABOUT__icon {
    width: 2.25em;
    height: 2.25em;
    display: inline-block;

    font-size: 2.5rem;
    line-height: 2.25em;
    text-align: center;

    color: $colorWhite;
    background-color: $colorGreenDark;
    margin-bottom: 1em;

    @include transform(rotate(45deg));
    @include transition(0.25s);

    .fa {
      @include transform(rotate(-45deg));
      @include transition(0.25s);
    }

    &::after {
      content: "";
      position: absolute;
      top: 3px;
      right: 3px;
      bottom: 3px;
      left: 3px;
      border: 2px solid $colorWhite;
    }
  }
  .ABOUT__text {
    margin-top: 2em;

    &:hover { color: $colorGreen; }
    .ABOUT__detail {
      line-height: 1.5em;
      margin-bottom: 0;
    }
  }

  &:hover {
    .ABOUT__icon {
      background-color: $colorGreen;

      @include transition(0.25s);

      .fa {
        -webkit-transform-origin: 50% 50%;
        -moz-transform-origin: 50% 50%;
        -o-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        @include transform(scale(2, 1.41) rotate(90deg) rotateX(225deg));
        @include transition(0.25s);
      }
    }
  }
}

