@import '../../common/mixins/clearfix';
@import '../../common/mixins/colors';
@import '../../common/mixins/media';

.AFFILIATION__story {
  position: relative;
  padding: 3.5em 7em 3.5em 14em;

  &::before,
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.AFFILIATION__timeline {
  position: absolute;
  width: 1px;
  height: 100%;
  left: 14em;
  top: 0;
  border-right: 2px solid $colorGray;
  z-index: 5;

  &::before,
  &::after {
    content: "";
    left: -0.5em;
    width: 1em;
    height: 1em;
    background: $colorGray;
    position: absolute;
    border-radius: 0.5em;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}

.AFFILIATION__entry {
  width: 100%;
  margin: -3.5em 0;
  position: relative;
  z-index: 10;
  float: left;

  &::after {
    @include clear_fix;
  }
  // &:last-child { margin: 0; }
}

.AFFILIATION__content {
  width: 100%;
  padding-left: 3.5em;
  position: relative;

  .AFFILIATION__panel {
    background: $colorGrayLight;
    padding: 1.5em;
    border-left: 5px solid $colorMain;
    text-align: left;
  }

  &.active {
    .AFFILIATION__year {
      color: $colorMain;

      &::after {
        background-color: $colorMain;
      }
    }
  }
}

.AFFILIATION__title {
  color: $colorBlack;
  font-size: 1.6em;
  /*text-transform: uppercase;*/
  font-weight: bold;
  font-variant: small-caps;
  text-align: center;

  // a { color: $colorDark; }
  .AFFILIATION__geo {
    font-variant: normal;
    font-size: 0.7em;
    color: $colorGrayDark;
  }

  .SPRITE {
    width: 100%;
    max-width: 224px;
  }
}

.AFFILIATION__year {
  font-size: 2em;
  font-weight: 900;
  color: $colorWhite;
  text-align: right;
  position: absolute;
  width: 14em;
  top: 40%;
  left: -15em;

  &::after {
    content: "";
    width: 0.5em;
    height: 0.5em;
    left: 14.8em;
    top: 40%;
    background: $colorDark;
    position: absolute;
    z-index: 6;
    border-radius: 0.5em;
  }
}

.AFFILIATION__text {
  border-left: 2px dashed $colorGray;
  padding: 1em;
  color: $colorBlack;
  line-height: 150%;

  .AFFILIATION__role {
    font-size: 1.1em;
  }

  .AFFILIATION__reward:first-of-type {
    padding-right: 2em;
  }
}

@include media_width_lt(991px) {
  .AFFILIATION__story {
    padding: 3.5em 3.5em 3.5em 7.5em;
  }

  .AFFILIATION__timeline {
    left: 7.5em;
  }

  .AFFILIATION__text {
    text-align: center;

    .AFFILIATION__role {
      margin-bottom: 0;
    }
  }
}
