@import '../../common/mixins/prefix';
@import '../../common/mixins/easing';

.ANIMATION__begin { opacity: 0; }
.ANIMATION__end {
  @include transition(0.25s);
  @include transform(translate(0, 0) rotate(0deg) scale(1));
  opacity: 1;
}

.UTIL__section_header > div {
  &.ANIMATION__begin {
    @include transform(translateY(-100%));
  }
  &.ANIMATION__end {
    @include transition(0.75s);
  }
}

.ABOUT__icon {
  &.ANIMATION__begin {
    @include transform(rotate(360deg));
  }
  &.ANIMATION__end {
    @include transition(0.5s, $easeOutBack);
  }
}

.PORTFOLIO__item {
  &.ANIMATION__begin {
    @include transform(translateY(100%) scale(2));
  }
  &.ANIMATION__end {
    @include transition(0.5s, $easeInOutBack);
  }
}
.PORTFOLIO__filter.ANIMATION__begin {
  @include transform(translateY(100%));
}

.SKILLS__progress {
  &.SKILLS_LEFT.ANIMATION__begin {
    @include transform(translateX(-150%) scale(2));
    opacity: 0.25;
  }
  &.SKILLS_RIGHT.ANIMATION__begin {
    @include transform(translateX(150%) scale(2));
  }
  &.ANIMATION__end {
    @include transition(1s, $easeInBack);
  }
}
