.LOAD__container { will-change: opacity, z-index, filter; }

.COMMON__navbar { will-change: background-color, z-index, box-shadow; }
.UTIL__section-header > div { will-change: transform, opacity, letter-spacing; }

.HOME__shade { will-change: background-color; }
.HOME__cursor { will-change: opacity; }
.HOME__scroll-down,
.HOME__typewrite {
  will-change: color;
}
.HOME__title,
.ABOUT__icon,
.AFFILIATION__panel,
.PORTFOLIO__filter,
.PORTFOLIO__item,
.SKILLS__progress,
.STATS__counter,
.STATS__github,
.PUBS__year,
.PUBS__entry,
.CONTACT__item,
.CONTACT__list-item,
.CONTACT__form-item,
.FOOTER__header,
.FOOTTER__city_gif {
  will-change: transform, opacity;
}

.scrollTop { will-change: visibility, opacity; }
