@import '../../common/mixins/colors';
@import '../../common/mixins/media';
@import '../../common/mixins/prefix';
@import './ContactForm';


#CONTACT__section {
  position: relative;
  width: 100%;
  padding: 0;
  background-color: $colorGreenDark;
  overflow: hidden;
}
@include media_width_lt(767px) {
  #CONTACT__section { text-align: center; }
}


h4.CONTACT__title {
  font-weight: 900;
  margin-bottom: 1.75em;
}

.CONTACT__box {
  display: inline-block;
  text-decoration: none;
  color: $colorBlack;

  .CONTACT__icon {
    width: 3.25rem;
    height: 3.25rem;
    display: inline-block;
    float: left;

    font-size: 1.25rem;
    line-height: 3.25rem;
    text-align: center;

    color: $colorWhite;
    background-color: $colorGreenDark;
    margin-right: 1.75em;
    margin-top: 0.75em;
    margin-bottom: 1em;

    @include transform(rotate(45deg));
    @include transition(0.25s);

    .fa {
      @include transform(rotate(-45deg));
      @include transition(0.25s);
    }

    &::after {
      content: "";
      position: absolute;
      top: 3px;
      right: 3px;
      bottom: 3px;
      left: 3px;
      border: 2px solid $colorWhite;
    }
  }

  &:hover {
    .CONTACT__icon {
      background-color: $colorGreen;

      @include transition(0.25s);

      .fa {
        -webkit-transform-origin: 50% 50%;
        -moz-transform-origin: 50% 50%;
        -o-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        @include transform(scale(2, 1.41) rotate(90deg) rotateX(225deg));
        @include transition(0.25s);
      }
    }
  }
}
@include media_width_lt(767px) {
  .CONTACT__box {
    text-align: center;
    margin-top: 0;

    .CONTACT__icon {
      float: none ;
      margin-right: 0;
      margin-bottom: 2.25em;
    }
  }
}


ul.CONTACT__social {
  text-align: center;
  margin: 0 auto;

  li {
    display: inline-block;
    margin-right: 1.5em;

    .CONTACT__box { margin: 0; }
    a i { color: $colorWhite; }
  }
}

ul.CONTACT__address {
  float: left;
  width: 100%;
  padding: 0;
  margin: 1em 0;
  font-size: 1.125em;

  li {
    padding: 0 0 1.45em;
    margin: 0;
    list-style: none;

    i { margin-right: 0.5em; }

    &:last-child { padding-bottom: 0; }
    &:hover {
      i.fa { color: $colorGreen; }
    }
    &:last-of-type {
      padding-top: 1em;

      a.btn {
        width: 9em;
        text-align: left;

        @include transition(0.5s);

        &:hover {
          width: 15em;

          span.CONTACT__resume {
            opacity: 1;

            @include transition(0.5s);
          }
          i.fa { color: $colorBlack; }
        }
      }
    }
  }

  span.CONTACT__resume { opacity: 0 }
  img.CONTACT__phone {
    height: 1.1em;
    vertical-align: text-top;
  }
}

.CONTACT__form {
  margin-bottom: 2.85em;

  button {
    height: 3em;

    &:hover { color: $colorWhite; }
  }
  textarea { resize: vertical; }
  .input-lg {
    font-size: 1rem;
    border-radius: 0;
  }
}

