@import '../../common/mixins/colors';
@import '../../common/mixins/media';
@import '../../common/mixins/palette';

.form-control {
  background-color: rgba(0, 7, 11, 0.5);
  color: $colorWhite;
  border-color: $colorBlack;
  box-shadow: none;

  &:focus {
    background-color: rgba(0, 7, 11, 0.75);
    border-color: $colorGreen;
    box-shadow: none;
  }

  &:disabled {
    background-color: $colorGrayDark;
    color: $colorGreenFull;
    opacity: 0.5;
  }
}

@include media_width_lt(767px) {
  .form-control {
    text-align: center;
  }
}

.btn {
  position: relative;
  letter-spacing: 1.5px;
  border: none;
  border-radius: 0;

  &:active {
    top: 2px;
    box-shadow: inset 0 3px 5px rgba(0, 7, 11, 0.15);
  }
}

.btn-default {
  &:hover,
  &:focus,
  &.focus {
    color: $colorWhite;
    background: $colorGreen;
  }

  &,
  &:disabled,
  &.disabled,
  &:active,
  &.active {
    background: $colorGreenDark;
    color: $colorWhite;
    transition-duration: 0.6s;
  }
}

.btn-primary {
  &,
  &:hover,
  &:disabled,
  &.disabled,
  &:focus,
  &.focus,
  &:active,
  &.active {
    background: $colorCyan;
    color: $colorWhite;
    transition-duration: 0.6s;
  }
}

.btn-danger {
  &,
  &:hover,
  &:disabled,
  &.disabled,
  &:focus,
  &.focus,
  &:active,
  &.active {
    background: $colorRed;
    color: $colorWhite;
    transition-duration: 0.6s;
  }
}

.btn-lg {
  font-size: 1.5em;
  padding: 0.7em 2.8em;
}

.btn-xl {
  font-size: 1.75em;
  padding: 1em 4em;
}

