@import '../../common/mixins/colors';
@import '../../common/mixins/media';
@import '../../common/mixins/palette';

#HOME__section {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  padding: 0;
  background-color: $colorBlack;

  .container {
    height: 100vh;
  }

  .UTIL__parallax {
    transition-duration: 1s;
  }

  .SVG--home {
    .SVG--0 {
      opacity: 0;
      visibility: hidden;
      transition-duration: 0.025s;
    }

    $draws: 50;

    @for $i from 1 through 7 {
      .SVG--#{$i} {
        opacity: 0;
        visibility: hidden;
        transition-duration: 0.5s;
        transition-delay: #{$i * 0.5s + $draws * 0.05s + 1s};
      }    
    }

    svg.active {
      .SVG--0 {
        @for $i from 0 through $draws - 1 {
          path:nth-of-type(#{$draws}n+#{$i}) {
            transition-delay: #{$i * 0.05s + 1s};
          }
        }
      }

      @for $i from 0 through 7 {
        .SVG--#{$i} {
          opacity: 1;
          visibility: visible;
        }    
      }
    }
  }

  .HOME__name--seo {
    display: none;
  }
}

.HOME__content {
  position: absolute;
  bottom: 20vh;

  .HOME__title {
    width: 100%;
    opacity: 0;
  }

  .HOME__name {
    margin-left: 1rem;
    max-width: 50%;
    width: 480px;
  }

  .HOME__typewrite,
  .HOME__placeholder {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 1.5rem;
    margin-left: 3rem;
    width: 34rem;
  }
}

@include media_width_gt(768px) {
  .HOME__content {
    .HOME__title .HOME__name {
      max-width: 75%;
    }
  }
}
@include media_width_bt(512px, 767px) {
  .HOME__content {
    bottom: 10vh;
  }
}
@include media_width_lt(511px) {
  .HOME__content {
    .HOME__title .HOME__name {
      max-width: 80vw;
      margin-left: 0;
    }

    .HOME__typewrite {
      width: initial;
      text-align: center;
      margin-left: 0;
    }

    .HOME__placeholder {
      height: 10vh;
      width: initial;
      margin-top: -0.75rem;
    }
  }
}

.HOME__typewrite {
  line-height: 2.5rem;
  height: 5rem;
  transition-duration: 1s;
}

.HOME__cursor {
  color: $colorRed;
  font-weight: bold;

  &.hidden {
    opacity: 0;
  }

  &.blink {
    animation: blink 0.5s linear infinite;
  }
  @keyframes blink {
    0% {
      opacity: 1;
    }

    45% {
      opacity: 1;
    }

    55% {
      opacity: 0;
    }

    100% {
      opacity: 0;
    }
  }
}

.HOME__scroll-down {
  position: absolute;
  top: 90%;
  right: 2rem;

  .fa {
    opacity: 0.4;
    transition-duration: 1s;
  }

  &:hover .fa {
    opacity: 0.75;
  }
}
