@import '../../common/mixins/colors';
@import '../../common/mixins/media';

.PORTFOLIO__menu {
  text-align: center;
  overflow: hidden;
  margin-top: 1.5rem;
  margin-bottom: 3rem;

  .PORTFOLIO__filters {
    list-style: none outside none;
    text-align: center;

    .PORTFOLIO__filter-item {
      display: inline-block;

      &.active .PORTFOLIO__filter-link {
        background: $colorDark;
        color: $colorWhite;
        font-weight: 900;
      }

      .PORTFOLIO__filter-link {
        color: $colorBlack;
        background: transparent;
        display: inline-block;
        margin: 0.25rem;
        padding: 0.5rem 0.75rem;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
          background: $colorMain;
          color: $colorWhite;
        }
      }
    }
  }
}

.PORTFOLIO__content {
  overflow: hidden;
}

.PORTFOLIO__div div {
  padding: 0;
  margin: 0 auto;
}

// .PORTFOLIO__div-enter {
//   opacity: 0;
//   transition-duration: 0.5s;

//   &.PORTFOLIO__div-enter-active {
//     opacity: 1;
//   }
// }

// .PORTFOLIO__div-leave {
//   opacity: 1;
//   transition-duration: 0.5s;

//   &.PORTFOLIO__div-leave-active {
//     opacity: 0;
//   }
// }

.PORTFOLIO__item {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  overflow: hidden;

  .SVG {
    border: 1px solid $colorGray;
    margin-left: -1px;
    margin-top: -1px;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 6;
    cursor: pointer;
    transition-duration: 1s;
  }

  .PORTFOLIO__text {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    color: transparent;
    background: none repeat scroll 0 0 rgba($colorDark, 0.75);
    transition-duration: 0.6s;
    transform: scale(0);
  }

  &:hover {
    .SVG {
      transform: scale(1.5);

      .SVG--1,
      .SVG--2 {
        opacity: 0;
        visibility: hidden;
      }
    }

    .PORTFOLIO__text {
      opacity: 1;
      padding: 0 2rem;
      color: $colorWhite;
      transform: scale(1);

      .PORTFILIO__text-link {
        color: inherit;
        display: block;
        font-size: 2rem;
        font-weight: 900;
        margin-top: 30%;
        padding-bottom: 1.5rem;
        text-decoration: none;
        font-variant: small-caps;
      }

      .PORTFILIO__text-description {
        font-size: 1.25em;
        font-weight: normal;
        line-height: 1.5rem;
        margin: 0;
        padding: 0;
      }
    }
  }
}

.PORTFOLIO__power-by {
  .PORTFOLIO__find-more {
    line-height: 1.5rem;
  }

  .PORTFOLIO__brands {
    line-height: 2.5rem;
    padding: 1rem 0;
    margin: 0;
  }

  .PORTFOLIO__brand-item {
    list-style: none;
    display: inline-block;
  }

  svg {
    height: 2.5rem;
    width: 2.5rem;
    margin: 0 0.5rem;

    .brand-logo__open,
    .brand-logo__filled,
    .brand-logo__extra {
      transition-duration: 0.25s;
    }

    .brand-logo__open {
      fill: $colorGrayLight;
      stroke: $colorGrayLight;
    }

    .brand-logo__filled {
      fill: $colorMain;
      stroke: $colorMain;
    }

    .brand-logo__extra {
      fill: $colorGrayDark;
    }

    &:hover {
      .brand-logo__open,
      .brand-logo__extra {
        fill: $colorMain;
        stroke: $colorMain;
      }

      .brand-logo__filled {
        fill: $colorGrayDark;
        stroke: $colorGrayDark;
      }
    }
  }
}

@include media_width_lt(767px) {
  .PORTFOLIO__wrapper {
    padding: 0;
  }
}
