@import '../../common/mixins/colors';
@import '../../common/mixins/media';

.PUBS__row {
  margin: 0 0 1.5em 0;
}

.PUBS__year {
  color: $colorGrayDark;
  font-size: 2em;
  padding: 0.5em;
  vertical-align: text-top;
}

.PUBS__content {
  border-left: 5px solid $colorDark;
}

.PUBS__entry {
  margin: 1em 0;
}

.PUBS__title {
  -webkit-text-stroke: 0.01rem $colorBlack;
  font-size: 1.2em;
  line-height: 1.5em;
}

.PUBS__text {
  line-height: 1.5em;

  .PUBS__hr {
    margin-bottom: 0;
  }
}

.PUBS__image {
  .SPRITE {
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    text-align: center;
    opacity: 0.75;
    transition-duration: 0.5s;
  }

  &:hover .SPRITE {
    opacity: 1;
  }
}

.PUBS__cite {
  padding-right: 0.5em;

  .text-main {
    padding: 0 0.5em;
  }
}

.PUBS__issue,
.PUBS__link-text {
  margin: 0 0.5em;
}

.PUBS__link {
  margin-left: 0.5em;
}

.PUBS__find-more {
  line-height: 1.5em;
}

.PUBS__thesis {
  font-size: 1.2em;
  text-align: center;
  padding: 0 2em;
}

.PUBS__thesis-title {
  font-size: 1.2em;
  max-width: 45em;
  margin: 0 auto;
  padding-bottom: 1em;
}

@include media_width_gt(992px) {
  .PUBS__thesis-title {
    padding: 0 2em 1em 2em;
  }
}