@import '../../common/mixins/colors';
@import '../../common/mixins/media';

.PUBS__row {
  margin: 0 0 1.5em 0;
}

.PUBS__year {
  color: $colorGrayDark;
  font-size: 2em;
  padding: 0.5em;
  vertical-align: text-top;
}

.PUBS__content {
  border-left: 5px solid $colorDark;
}

.PUBS__entry {
  margin: 1em 0;
}

.PUBS__title {
  -webkit-text-stroke: 0.01rem $colorBlack;
  font-size: 1.2em;
  line-height: 1.5em;
}

.PUBS__text {
  line-height: 1.5em;

  .PUBS__hr {
    margin-bottom: 0;
  }
}

.PUBS__image {
  .SVG {
    text-align: center;
    opacity: 0.75;
    transition-duration: 0.5s;

    .SVG--1,
    .SVG--2 {
      width: calc(100% - 30px);
      left: 15px;
    }    
  }

  &:hover .SVG {
    opacity: 1;
  }
}

.PUBS__cite {
  &.bg-gray-light {
    padding-right: 0.5em;
  }

  .text-main {
    padding: 0 0.5em;
  }
}

.PUBS__issue,
.PUBS__link-text {
  margin: 0 0.5em;
}

.PUBS__link {
  margin-left: 0.5em;
}

.PUBS__find-more {
  line-height: 1.5em;
}

.PUBS__thesis {
  font-size: 1.2em;
  text-align: center;
  padding: 0 2em;
}

.PUBS__thesis-title {
  font-size: 1.2em;
  max-width: 45em;
  margin: 0 auto;
  padding-bottom: 1em;
}

.PUBS__thesis-flyer {
  width: 80%;
  padding-bottom: 1em;

  .SVG--1,
  .SVG--2 {
    width: calc(80% - 24px);
    left: 50%;
    transform: translateX(-50%);
  }  
}

.PUBS__thesis-links {
  font-size: 0.8em;
  padding-top: 1.5em;
}

.PUBS__thesis-link-item {
  display: inline-block;
}

@include media_width_gt(992px) {
  .PUBS__thesis-title {
    padding: 0 2em 1em 2em;
  }
}

@include media_width_lt(511px) {
  .PUBS__year-text {
    display: block;
    transform: rotate(-90deg) translateX(-2rem);
    transform-origin: center;
  }
}
