@import '../../common/mixins/colors';


.SKILLS__progress {
  overflow: visible;
  margin-bottom: 1.25em;
  border: 3px solid $colorGreenDark;
  box-sizing: content-box;
  background-color: transparent;
  box-shadow: none;
}
.SKILLS__bar {
  background-color: $colorGreen;
  color: $colorBlack;
  padding: 0.25em;
  text-align: center;
  font-weight: bold;
  box-shadow: none;

  &:hover {
    background-image: linear-gradient(45deg,
      rgba(255, 255, 255, .15) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, .15) 50%,
      rgba(255, 255, 255, .15) 75%,
      transparent 75%,
      transparent);
    background-size: 2.5em 2.5em;
  }
}

.SKILLS__title { font-weight: 900; }
.SKILLS__chapter { padding-bottom: 1em; }