@import '../../common/mixins/colors';

.STATS__area {
  .STATS__item:last-of-type {
    border-right: none;
  }

  .STATS__counter {
    padding-bottom: 2.25em;

    &:hover .fa {
      color: $colorMain;
    }

    .STATS__num {
      font-size: 4em;
    }
  }
}

.STATS__num.done ~ .STATS__text {
  color: $colorDark;
}

.STATS__note-link {
  margin-left: 0.5em;
}

.STATS__github svg {
  overflow: visible;

  .private {
    font-style: italic;
  }

  .month,
  .wday {
    fill: $colorGrayDark;
    font-size: 0.8rem;
  }

  .legend {
    fill: $colorGrayDark;
    font-size: 0.9rem;
  }

  .day {
    shape-rendering: crispedges;
    height: 0.8rem;
    width: 0.8rem;

    &:hover {
      stroke: $colorBlack;
    }

    &.day_0 {
      fill: $colorGrayLight;
    }

    &.day_1 {
      fill: $colorLight;
    }

    &.day_2 {
      fill: $colorMain;
    }

    &.day_3 {
      fill: $colorDark;
    }

    &.day_4 {
      fill: $colorHeavy;
    }
  }
}
