@import '../../common/mixins/colors';


.STATS__area {
  .STATS__item:last-of-type { border-right: none; }
  .STATS__counter {
    padding-bottom: 2.25em;

    &:hover .fa { color: $colorGreen; }
    .STATS__num { font-size: 4em; }
  }
}
.STATS__num.done ~ .STATS__text { color: $colorGreenDark; }
.STATS__note {
  small { margin-left: 0.5em; }
}

.STATS__github svg { overflow: visible; }
tspan { font-style: italic; }
text.month,
text.wday {
  fill: $colorGrayDark;
  font-size: 0.8rem;
}
text.legend {
  fill: $colorGrayDark;
  font-size: 0.9rem;
}
rect.day {
  shape-rendering: crispedges;
  height: 0.8rem;
  width: 0.8rem;

  &:hover { stroke: $colorBlack; }
  &.day_0 { fill: $colorGrayLight; }
  &.day_1 { fill: $colorGreenLight; }
  &.day_2 { fill: $colorGreen; }
  &.day_3 { fill: $colorGreenDark; }
  &.day_4 { fill: $colorGreenHeavy; }
}
