@import '../../common/mixins/media';

.SVG {
  display: inline-block;

  img {
    width: 100%;
    height: auto;
    left: 0;
  }

  .SVG--0 {
    position: relative;
  }

  .SVG--1,
  .SVG--2,
  .SVG--3,
  .SVG--4 {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition-duration: 0.5s;
  }

  @for $i from 1 through 3 {
    .SVG--#{$i} {
      transition-delay: #{$i * 0.25s};
    }
  }

  &.SVG--hover:hover {
    .SVG--1,
    .SVG--2 {
      opacity: 1;
      visibility: visible;
    }
  }

  &.SVG--delay {
    @for $i from 1 through 3 {
      .SVG--#{$i} {
        transition-delay: #{($i + 1) * 0.25s};
      }
    }
  }

  &.SVG--reverse {
    .SVG--1,
    .SVG--2,
    .SVG--3 {
      opacity: 1;
      visibility: visible;
      transition-duration: 0.5s;
    }

    @for $i from 1 through 3 {
      .SVG--#{$i} {
        transition-delay: #{(3 - $i) * 0.25s};
      }
    }

    &.SVG--hover:hover {
      .SVG--1,
      .SVG--2 {
        opacity: 0;
        visibility: hidden;
      }
    }
  }
}

@include media_width_lt(511px) {
  .SVG:not(.SVG--home) {
    .SVG--1,
    .SVG--2,
    .SVG--3 {
      opacity: 1;
      visibility: visible;
    }
  }
}
