@import '../../common/mixins/media';

section:not(#HOME__section) {
  max-width: 1920px;
  margin: 0 auto;
}

.UTIL__cover {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 7, 11, 0.5);
  padding: 1.5rem;
}

.UTIL__section-header {
  .UTIL__divider {
    width: 100%;
    height: 4rem;
    margin: -.5rem 0;
  }
}

.UTIL__background {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 5.5rem;
}

.UTIL__spacer-sm,
.UTIL__spacer-md,
.UTIL__spacer-lg,
.UTIL__spacer-xl,
.UTIL__spacer-hg {
  width: 100%;
}

.UTIL__spacer-sm {
  height: 1rem;
}

.UTIL__spacer-md {
  height: 1.45rem;
}

.UTIL__spacer-lg {
  height: 2.85rem;
}

.UTIL__spacer-xl {
  height: 4.30rem;
}

.UTIL__spacer-hg {
  height: 5.70rem;
}
