{
  "basics": {
    "name": "t47io/django-Daslab-server",
    "url": "https://github.com/t47io/django-Daslab-server",
    "created": "2016-08-28 04:34:17",
    "pushed": "2017-02-22 05:11:09",
    "issues": 0,
    "forks": 0,
    "stars": 1,
    "watchers": 1
  },
  "contributors": [
    {
      "author": "t47io",
      "commits": 757,
      "additions": 192103,
      "deletions": 147184
    }
  ],
  "additions": [
    28854,
    16844,
    5747,
    1021,
    465,
    415,
    937,
    3605,
    84,
    0,
    19,
    8434,
    1748,
    4148,
    45066,
    3259,
    6,
    0,
    0,
    359,
    2506,
    445,
    445,
    18,
    615,
    2501,
    299,
    2804,
    97,
    6,
    179,
    118,
    479,
    188,
    95,
    1433,
    1066,
    853,
    1002,
    322,
    170,
    40,
    0,
    1,
    0,
    39,
    94,
    33,
    42,
    2553,
    5159,
    264,
    135,
    67,
    23,
    305,
    9,
    0,
    45023,
    0,
    12,
    16,
    9,
    23,
    269,
    397,
    2,
    0,
    34,
    0,
    36,
    213,
    8,
    0,
    6,
    259,
    182,
    0,
    20,
    8,
    6,
    0,
    0,
    0,
    0,
    0,
    0,
    9,
    106,
    49,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0
  ],
  "deletions": [
    2729,
    12599,
    33712,
    317,
    336,
    30,
    409,
    5289,
    39,
    0,
    17,
    8099,
    772,
    2263,
    43129,
    2165,
    8,
    0,
    0,
    33,
    2219,
    240,
    245,
    11,
    878,
    2142,
    292,
    1067,
    66,
    3,
    200,
    235,
    430,
    170,
    45,
    414,
    591,
    859,
    898,
    233,
    10,
    24,
    0,
    1,
    0,
    19,
    14,
    8,
    38,
    74,
    5899,
    308,
    188,
    2531,
    15,
    190,
    7,
    0,
    13563,
    0,
    12,
    11,
    6,
    21,
    95,
    211,
    2,
    0,
    31,
    0,
    29,
    171,
    7,
    0,
    6,
    193,
    187,
    0,
    9,
    3,
    1,
    0,
    0,
    0,
    0,
    0,
    0,
    9,
    106,
    1,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0
  ],
  "commits": [
    16,
    37,
    14,
    13,
    18,
    3,
    17,
    27,
    11,
    0,
    2,
    18,
    22,
    38,
    55,
    39,
    3,
    0,
    0,
    9,
    32,
    15,
    5,
    3,
    13,
    18,
    12,
    30,
    4,
    1,
    12,
    9,
    13,
    5,
    5,
    7,
    10,
    7,
    15,
    9,
    2,
    4,
    0,
    1,
    0,
    4,
    4,
    1,
    4,
    5,
    43,
    15,
    11,
    4,
    3,
    6,
    3,
    0,
    10,
    0,
    1,
    5,
    3,
    8,
    16,
    8,
    1,
    0,
    1,
    0,
    1,
    2,
    2,
    0,
    1,
    3,
    3,
    0,
    4,
    1,
    2,
    0,
    0,
    0,
    0,
    0,
    0,
    1,
    6,
    1,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0
  ],
  "weekRange": [
    1433635200,
    1495324800
  ]
}
