{
  "basics": {
    "name": "t47io/django-Primerize-server",
    "url": "https://github.com/t47io/django-Primerize-server",
    "created": "2016-08-28 03:44:13",
    "pushed": "2017-05-02 04:55:34",
    "issues": 0,
    "forks": 0,
    "stars": 0,
    "watchers": 0
  },
  "contributors": [
    {
      "author": "t47io",
      "commits": 588,
      "additions": 248168,
      "deletions": 280925
    },
    {
      "author": "rhiju",
      "commits": 6,
      "additions": 1019,
      "deletions": 131
    },
    {
      "author": "dimenwarper",
      "commits": 2,
      "additions": 102222,
      "deletions": 75
    },
    {
      "author": "jyesselm",
      "commits": 1,
      "additions": 43,
      "deletions": 40
    }
  ],
  "additions": [
    2,
    772,
    5997,
    12722,
    1253,
    10994,
    186,
    19678,
    3,
    0,
    0,
    0,
    24,
    0,
    0,
    0,
    11,
    0,
    0,
    0,
    0,
    0,
    0,
    4130,
    43,
    17372,
    29069,
    3685,
    64,
    20,
    4,
    11,
    2,
    0,
    0,
    13,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    1098,
    40975,
    15479,
    2839,
    3743,
    177,
    1,
    1,
    2179,
    2978,
    95,
    37,
    475,
    401,
    186,
    537,
    417,
    788,
    56,
    0,
    7,
    0,
    883,
    4061,
    167,
    15,
    54,
    50,
    5,
    3619,
    9,
    170,
    443,
    35803,
    0,
    22414,
    83,
    8,
    12,
    58,
    17,
    11,
    67,
    0,
    0,
    0,
    0,
    47,
    320,
    81,
    16,
    4,
    2,
    0,
    17,
    0,
    1016,
    177,
    0,
    0,
    0,
    0,
    2,
    5,
    6,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    2,
    0,
    0,
    0
  ],
  "deletions": [
    0,
    824,
    97674,
    11726,
    1689,
    1022,
    473,
    19628,
    28,
    0,
    0,
    0,
    20,
    0,
    0,
    0,
    10,
    0,
    0,
    0,
    0,
    0,
    0,
    2015,
    16,
    11636,
    27651,
    663,
    15,
    21,
    4,
    19743,
    2,
    0,
    0,
    2,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    338,
    21697,
    29851,
    1599,
    1440,
    126,
    1,
    1,
    1214,
    3556,
    70,
    22,
    464,
    285,
    189,
    2761,
    394,
    70,
    63,
    0,
    40,
    0,
    839,
    871,
    167,
    13,
    55,
    51,
    3,
    4001,
    4,
    127,
    433,
    26,
    0,
    6381,
    71,
    8,
    6,
    25,
    8,
    18,
    67,
    0,
    0,
    0,
    0,
    69,
    285,
    38,
    2,
    4,
    2,
    0,
    7273,
    0,
    934,
    88,
    0,
    0,
    0,
    0,
    2,
    3,
    6,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    2,
    0,
    0,
    0
  ],
  "commits": [
    1,
    1,
    1,
    10,
    11,
    12,
    3,
    6,
    1,
    0,
    0,
    0,
    2,
    0,
    0,
    0,
    4,
    0,
    0,
    0,
    0,
    0,
    0,
    42,
    2,
    16,
    43,
    16,
    6,
    9,
    2,
    3,
    1,
    0,
    0,
    2,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    7,
    4,
    27,
    32,
    22,
    5,
    1,
    1,
    12,
    16,
    5,
    4,
    3,
    9,
    5,
    10,
    15,
    9,
    5,
    0,
    2,
    0,
    3,
    25,
    2,
    5,
    7,
    1,
    3,
    37,
    2,
    6,
    10,
    7,
    0,
    5,
    7,
    1,
    3,
    5,
    4,
    2,
    2,
    0,
    0,
    0,
    0,
    2,
    8,
    8,
    2,
    1,
    1,
    0,
    3,
    0,
    19,
    13,
    0,
    0,
    0,
    0,
    1,
    3,
    1,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    1,
    0,
    0,
    0
  ],
  "weekRange": [
    1416096000,
    1495324800
  ]
}
