{
  "basics": {
    "name": "ribokit/ribokit.github.io",
    "url": "https://github.com/ribokit/ribokit.github.io",
    "created": "2016-04-12 01:08:20",
    "pushed": "2016-12-12 00:34:00",
    "issues": 0,
    "forks": 1,
    "stars": 0,
    "watchers": 0
  },
  "contributors": [
    {
      "author": "t47io",
      "commits": 149,
      "additions": 69824,
      "deletions": 50628
    },
    {
      "author": "calebgeniesse",
      "commits": 34,
      "additions": 184,
      "deletions": 73
    },
    {
      "author": "rhiju",
      "commits": 26,
      "additions": 507,
      "deletions": 181
    },
    {
      "author": "jyesselm",
      "commits": 15,
      "additions": 334,
      "deletions": 147
    },
    {
      "author": "johanandreasson",
      "commits": 11,
      "additions": 107,
      "deletions": 35
    },
    {
      "author": "cyucheng",
      "commits": 9,
      "additions": 123,
      "deletions": 119
    },
    {
      "author": "kkappel1",
      "commits": 4,
      "additions": 201,
      "deletions": 24
    },
    {
      "author": "wuami",
      "commits": 2,
      "additions": 2,
      "deletions": 2
    }
  ],
  "additions": [
    4446,
    2536,
    95,
    46974,
    1191,
    54,
    14377,
    46,
    46,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    4,
    0,
    14,
    0,
    0,
    0,
    0,
    8,
    0,
    0,
    8,
    0,
    0,
    0,
    18,
    1,
    6,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0
  ],
  "deletions": [
    691,
    370,
    5,
    48872,
    558,
    14,
    67,
    13,
    2,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    4,
    0,
    14,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    8,
    0,
    0,
    0,
    3,
    1,
    6,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0
  ],
  "commits": [
    14,
    31,
    5,
    30,
    35,
    2,
    13,
    6,
    2,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    1,
    0,
    1,
    0,
    0,
    0,
    0,
    1,
    0,
    0,
    1,
    0,
    0,
    0,
    1,
    1,
    5,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0
  ],
  "weekRange": [
    1460246400,
    1491696000
  ]
}
