{
  "basics": {
    "name": "t47io/django-RMDB-server",
    "url": "https://github.com/t47io/django-RMDB-server",
    "created": "2016-08-28 04:10:25",
    "pushed": "2017-04-21 02:56:21",
    "issues": 0,
    "forks": 1,
    "stars": 1,
    "watchers": 1
  },
  "contributors": [
    {
      "author": "t47io",
      "commits": 338,
      "additions": 730049,
      "deletions": 674124
    },
    {
      "author": "rhiju",
      "commits": 1,
      "additions": 8,
      "deletions": 1
    }
  ],
  "additions": [
    527785,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    23671,
    4884,
    4051,
    0,
    1,
    11556,
    1703,
    608,
    2293,
    57,
    65971,
    511,
    149,
    0,
    0,
    92,
    399,
    38,
    10416,
    57,
    206,
    16,
    101,
    0,
    23,
    0,
    366,
    0,
    0,
    0,
    10,
    10626,
    0,
    0,
    0,
    0,
    0,
    13601,
    3077,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    13,
    0,
    0,
    0,
    0,
    0,
    18382,
    3657,
    573,
    43,
    84,
    0,
    35,
    0,
    2152,
    0,
    30,
    3,
    38,
    52,
    5,
    0,
    1,
    0,
    2,
    0,
    0,
    22417,
    0,
    7,
    0,
    7,
    4,
    5,
    72,
    0,
    0,
    0,
    0,
    0,
    0,
    16,
    0,
    0,
    2,
    0,
    7,
    0,
    43,
    16,
    0,
    0,
    0,
    1,
    61,
    0,
    0,
    0,
    0,
    2,
    0,
    0,
    0,
    0,
    51,
    0,
    0,
    0,
    0,
    0,
    0,
    0
  ],
  "deletions": [
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    12465,
    2349,
    206967,
    0,
    1,
    68740,
    2655,
    102881,
    75774,
    57,
    117319,
    449,
    120,
    0,
    0,
    51,
    258,
    25,
    10368,
    64,
    68,
    1,
    78,
    0,
    29259,
    0,
    177,
    0,
    0,
    0,
    7,
    5,
    0,
    0,
    0,
    0,
    0,
    11863,
    1580,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    16,
    0,
    0,
    0,
    0,
    0,
    17470,
    3699,
    462,
    35,
    83,
    0,
    49,
    0,
    2067,
    0,
    30,
    2,
    30,
    53,
    3,
    0,
    1,
    0,
    2,
    0,
    0,
    6377,
    0,
    7,
    0,
    5,
    5,
    13,
    58,
    0,
    0,
    0,
    0,
    0,
    0,
    9,
    0,
    0,
    2,
    0,
    6,
    0,
    4,
    2,
    0,
    0,
    0,
    1,
    24,
    0,
    0,
    0,
    0,
    3,
    0,
    0,
    0,
    0,
    25,
    0,
    0,
    0,
    0,
    0,
    0,
    0
  ],
  "commits": [
    3,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    10,
    10,
    19,
    0,
    2,
    5,
    5,
    9,
    27,
    7,
    43,
    6,
    1,
    0,
    0,
    15,
    5,
    10,
    4,
    4,
    4,
    4,
    12,
    0,
    2,
    0,
    7,
    0,
    0,
    0,
    1,
    2,
    0,
    0,
    0,
    0,
    0,
    1,
    3,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    1,
    0,
    0,
    0,
    0,
    0,
    13,
    29,
    9,
    9,
    3,
    0,
    2,
    0,
    6,
    0,
    3,
    1,
    4,
    2,
    3,
    0,
    1,
    0,
    1,
    0,
    0,
    3,
    0,
    1,
    0,
    2,
    2,
    2,
    2,
    0,
    0,
    0,
    0,
    0,
    0,
    2,
    0,
    0,
    1,
    0,
    1,
    0,
    3,
    3,
    0,
    0,
    0,
    1,
    2,
    0,
    0,
    0,
    0,
    1,
    0,
    0,
    0,
    0,
    4,
    0,
    0,
    0,
    0,
    0,
    0,
    0
  ],
  "weekRange": [
    1414886400,
    1495324800
  ]
}
