{
  "basics": {
    "name": "t47io/ribokit-Sphinx-theme",
    "url": "https://github.com/t47io/ribokit-Sphinx-theme",
    "created": "2016-05-05 16:54:32",
    "pushed": "2016-12-04 00:13:06",
    "issues": 0,
    "forks": 0,
    "stars": 0,
    "watchers": 0
  },
  "contributors": [
    {
      "author": "t47io",
      "commits": 36,
      "additions": 4302,
      "deletions": 314
    }
  ],
  "additions": [
    3951,
    172,
    17,
    0,
    14,
    46,
    0,
    0,
    0,
    0,
    0,
    0,
    85,
    0,
    0,
    0,
    3,
    0,
    12,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    1,
    0,
    0,
    0,
    1,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0
  ],
  "deletions": [
    269,
    20,
    0,
    0,
    7,
    2,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    3,
    0,
    12,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    1,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0
  ],
  "commits": [
    18,
    4,
    1,
    0,
    5,
    3,
    0,
    0,
    0,
    0,
    0,
    0,
    1,
    0,
    0,
    0,
    1,
    0,
    1,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    1,
    0,
    0,
    0,
    1,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0,
    0
  ],
  "weekRange": [
    1462060800,
    1495324800
  ]
}
