{% extends "_error.html" %}

{% block image %}
<img src="/img/error/400.png" height="auto" style="max-width:100%;" />
{% endblock %}

{% block h1 %}
<span class="label label-blue">Ligand Dissociation</span>
{% endblock %}

{% block p1 %}
<b>The aptamer showed negligible affinity for binding your ligand. Modify some chemical moieties might promote docking to the riboswitch.</b>
{% endblock %}

{% block h2 %}
<span class="label label-blue">400: Bad Request</span>
{% endblock %}

{% block p2 %}
<code><b>Sorry!</b></code>
<br/>
The server was unable to understand your request. Please check the syntax and try again later.
{% endblock %}
