{
  "items": [
    {
      "title": "title",
      "icon": "icon",
      "description": "description_html"
    },
    {
      "title": "title",
      "icon": "icon",
      "description": "description_html"
    }
  ]
}