{
  "items": [
    {
      "year": 2016,
      "items": [
        {
          "author": "authors",
          "title": "title_html",
          "journal": "journal_fullname",
          "issue": "in preparation",
          "is_preprint": true,
          "is_hidden": true,
          "citation": null,
          "tag": "pubs_id"
        },
        {
          "author": "authors",
          "title": "title_html",
          "journal": "journal_fullname",
          "issue": "submitted",
          "is_preprint": true,
          "citation": null,
          "tag": "pubs_id"
        }
      ]
    },
    {
      "year": 2015,
      "items": [
        {
          "author": "authors",
          "title": "title_html",
          "journal": "journal_fullname",
          "issue": "issue (volume)",
          "page": "page_start - page_end",
          "citation": 1,
          "tag": "pubs_id",
          "url": "publisher_url",
          "code": "code/server_link"
        }
      ]
    }
  ],
  "links": {
    "google_scholar": "https://scholar.google.com/citations?user=HbNbD8AAAAAJ&hl=en",
    "pubmed": "http://www.ncbi.nlm.nih.gov/pubmed?term=Siqi%20Tian%5BAuthor%20-%20Full%5D"
  }
}
