<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="canonical" href="http://t47.io" />
    <link rel="dns-prefetch" href="//www.google-analytics.com" />
    <link rel="shortcut icon" href="/t47_icon.png" type="image/png" />

    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta content="ie=edge" http-equiv="x-ua-compatible" />
    <% for (item of htmlWebpackPlugin.options.meta) { %>
    <meta<% for (key in item) { %> <%= key %>="<%= item[key] %>"<% } %> /><% } %>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css"><%= htmlWebpackPlugin.options.helixLoading.CSS %></style>

    <script type="application/javascript">
      window.GoogleAnalyticsObject='ga';window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
      ga('create','<%= htmlWebpackPlugin.options.googleAnalytics.trackingId %>','auto');
      ga('set', 'transport','beacon');ga('send','pageview');
    </script>
    <script type="application/javascript" src="https://www.google-analytics.com/analytics.js" async defer></script>
  </head>

  <body style="margin:0">
    <%= htmlWebpackPlugin.options.helixLoading.HTML %>
    <div class="body" id="app"></div>


    <% for (item of htmlWebpackPlugin.files.css) { %>
    <link type="text/css" rel="stylesheet" href="<%= item %>" media="none" onload="if(media!=='all'){media='all';}" />
    <noscript><link type="text/css" rel="stylesheet" href="<%= item %>" /></noscript><% } %>
    <% for (item of htmlWebpackPlugin.files.js) { %>
    <script type="application/javascript" src="<%= item %>"></script><% } %>

  </body>
</html>
