.SPRITE { display: inline-block; }

@function list_prefix($list, $prefix) {
  $result: ();
  @each $item in $list {
    $result: append($result, $prefix + $item, comma);
  }
  @return $result;
}

@function list_suffix($list, $suffix) {
  $result: ();
  @each $item in $list {
    $result: append($result, $item + $suffix, comma);
  }
  @return $result;
}


@mixin img_sprites($img, $w, $h, $cls_names) {
  $cls_names: list_prefix($cls_names, '.');
  $cls_after: list_suffix($cls_names, '::after');

  #{$cls_names} {
    max-width: $w;
    max-height: $h;
  }
  #{$cls_after} {
    content: ' ';
    display: inline-block;
    max-width: 100%;
    background-size: 100% auto; 
    width: 100%; 
    height: 0; 
    background-image: url($img);
    padding-bottom: percentage($h / $w);
  }

  @for $i from 1 through length($cls_after) {
    #{nth($cls_after, $i)} {
      background-position: 0 percentage(($i - 1) / (length($cls_after) - 1));
    }
  }
}

@mixin img_sprites_bg($img, $w, $h, $cls_names) {
  $cls_names: list_prefix($cls_names, '.');
  $cls_after: list_suffix($cls_names, '::after');

  #{$cls_names} {
    width: 100%; 
    max-width: $w;
    max-height: $h;
    background-size: 110% auto; 
    background-image: url($img);
    padding-bottom: 80px;
  }

  @for $i from 1 through length($cls_after) {
    #{nth($cls_names, $i)} {
      background-position: 50% percentage(($i - 1) / (length($cls_after) - 1));
    }
  }
}