@import './util';


.FOOTER { 
  background-color: #2d3035; 
  height: 96px;
  width: 100%;
  margin: 0;
  display: table;

  a { text-decoration: none; }
  > div { display: table-cell; }

  .FOOTTER__city_gif {
    height: 96px;
    width: 128px;
    padding: 0;

    &:last-child { text-align: right; }
    a img {
      @extend .FOOTTER__city_gif;
      vertical-align: text-bottom;
    }
  }
}

.FOOTER__header { padding-top: 2rem; }
@media only screen and (max-width : 767px) {
  footer { text-align: center; }
  .footer { height: auto; }
  .FOOTER__header { padding-bottom: 2rem; }
}

.COMMON__footer_logo {
  svg { height: 1rem; }
}
