@import './colors';
@import '../vendor/font-awesome/fontello-fa';
@import '../vendor/font-awesome/fa';


@font-face {
  font-family: "Tenor Sans";
  font-weight: normal;
  font-style: normal;

  src: local("Tenor Sans"),
    url("../common/font/tenor-sans.woff") format("woff");
    // url("../common/font/tenor-sans.woff2") format("woff2"),
    // url("../common/font/tenor-sans.ttf") format("truetype"),
    // url("../common/font/tenor-sans.eot") format("embedded-opentype"),
    // url("../common/font/tenor-sans.svg#tenor_sansregular") format("svg");
}
* { font-family: 'Tenor Sans', Helvetica, Arial, sans-serif; }

.text-main { color: #363940; } /* Theme main color */
.text-white { color: $clr-w; }
.text-off-white { color: $clr-wo;}
.text-dark { color: #000; }
.text-dark-green { color: $clr-gd;}
.text-green { color: $clr-g; }
.text-light-green { color: $clr-gl; }
.text-gray { color: $clr-k; }
.text-light-gray { color: $clr-kl; }

.bg-light-green,
.bg-light-gray,
.bg-black {
  padding: 0;
  border-radius: 0.25em;
}
.bg-light-green { background-color: $clr-go; }
.bg-light-gray { background-color: $clr-kll; }
.bg-black { background-color: rgba(0, 7, 11, 0.5); }


a {
  color: $clr-g;

  &:hover, &:focus {
    color: $clr-gl;
    text-decoration: none;
  }
}
b { font-weight: 900; }
h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
  margin-bottom: 0.7rem;
}
