@import '../../common/mixins/colors';


.SKILLS__progress {
  overflow: visible;
  height: 1.5em;
  margin-bottom: 1.25em;
  border: 3px solid $clr-g;
  box-sizing: content-box;
  background-color: transparent;
  box-shadow: none;
}
.SKILLS__bar {
  background-color: $clr-gl;
  color: #000;
  padding: 0.25em;
  text-align: center;
  font-weight: bold;
  box-shadow: none;

  &:hover {
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-size: 40px 40px;
  }
}

.SKILLS__title h6 { font-weight: 900; }
.SKILLS__chapter { padding-bottom: 1em; }