<div class="extra-space-xxl STATS__trigger"></div>

<div class="STATS__area text-white parallax bg_rotate_fade">
  <div id="stat-carousel" class="carousel carousel-fade slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#stat-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#stat-carousel" data-slide-to="1"></li>
      <li data-target="#stat-carousel" data-slide-to="2"></li>
      <li data-target="#stat-carousel" data-slide-to="3"></li>
      <li data-target="#stat-carousel" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="item active" data-slide-to="0"></div>
      <div class="item" data-slide-to="1"></div>
      <div class="item" data-slide-to="2"></div>
      <div class="item" data-slide-to="3"></div>
      <div class="item" data-slide-to="4"></div>
    </div>
  </div>
  
  <div class="cover"></div>
  <div class="container">
    <div class="page-header text-center STATS__header">
      <h2>My Stats</h2>
      <div class="divider"></div>
      <p class="subtitle">what I achieved</p>
    </div>
  </div>
  <div class="extra-space-l"></div>

  <div class="container">
    <div class="row">
      <div class="STATS__item text-center col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <div class="STATS__counter">
          <i class="fa fa-sitemap fa-3x fa-fw"></i>
          <div class="extra-space-m"></div>
          <span id="STATS__counter_1" class="STATS__num">0</span>
          <div class="extra-space-m"></div>
          <p class="lead STATS__text"><b>Full Projects</b></p>
        </div>
      </div>

      <div class="STATS__item text-center col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <div class="STATS__counter">
          <i class="fa fa-code fa-3x fa-fw"></i>
          <div class="extra-space-m"></div>
          <span id="STATS__counter_2" class="STATS__num">0</span>
          <div class="extra-space-m"></div>
          <p class="lead STATS__text"><b>Lines of Code</b></p>
        </div>
      </div>

      <div class="STATS__item text-center col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <div class="STATS__counter">
          <i class="fa fa-graduation-cap fa-3x fa-fw"></i>
          <div class="extra-space-m"></div>
          <span id="STATS__counter_3" class="STATS__num">0</span>
          <div class="extra-space-m"></div>
          <p class="lead STATS__text"><b>Publications</b></p>
        </div>
      </div>

      <div class="STATS__item text-center col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <div class="STATS__counter">
          <i class="fa fa-trophy fa-3x fa-fw"></i>
          <div class="extra-space-m"></div>
          <span id="STATS__counter_4" class="STATS__num">0</span>
          <div class="extra-space-m"></div>
          <p class="lead STATS__text"><b>Scholarships</b></p>
        </div>
      </div>

    </div>
  </div>
  <div class="extra-space-l"></div>
</div>

<div class="extra-space-xl"></div>
<h3 class="text-center">
  <i class="fa fa-fw fa-github"></i> Contributions
  <a href="{{links.github}}" target="_blank" rel="noopener noreferrer external"><i class="fa fa-fw fa-sm fa-external-link"></i></a>
</h3>
<div class="text-center STATS__github"></div>
