@import 'share';

html { overflow-y: scroll; }
body { padding: 50px 15px 0px 15px; }
.starter-template {
  padding: 40px 15px 15px 15px;
  height: auto;
  width: auto;
  position:	relative;
  text-align: left;
}


.dropdown-menu {
  li a {
    padding: 4px 20px;
    text-transform: uppercase;

    &:hover, &:focus {
      color: $colorGreenFull; 
      text-decoration: none;
      background-color: transparent;
    }
  }
  .active a, .active a:hover, .active a:focus {
    color: $colorGreenFull; 
    text-decoration: none;
    background-color: transparent;
  }
}
@media only screen and (min-width : 768px) {
  /* Make Navigation Toggle on Desktop Hover (use class: dropdown-hover) */
  .dropdown-hover:hover > .dropdown-menu {
    display: block;
  }
}


  .dropdown-menu {
    padding: 10px 0;
    border: 1px solid $colorGreen;
    border-top: 2px solid $colorGreen;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08);

    > li > a {
      padding: 8px 20px;
      color: $colorGreenFull;
      text-align: right;
      margin-left: 0px;
      border-radius: 0px;

      &:hover, &:focus {
        background-color: $colorGreenFaint !important; 
        font-weight: bold;
      }       
    }
    > li.active > a,
    > li.active > a:hover,
    > li.active > a:focus {
      color: $colorWhite !important;
      background-color: $colorGreen !important; 
      font-weight: bold;
    }
@media only screen and (max-width : 767px) {
  .navbar-nav {
    .open .dropdown-menu > li > a { padding: 10px 10px 10px 45px !important; }
  }
}

    
.thumbnail {
  padding: 10px;
  margin-bottom: 20px;
  background-color: $colorWhite;
  border: 1px solid #ddd;
  @include transition(0.2s);
}

.ul_desp.lead > li { padding-top: 10px; }
.place_holder {
  height: 175px;
  opacity: 0.5;

	> div.center-block {
		width: 72px; 
		padding-top: 51px;
	}
}
.git { height: 175px; }

.copyright { 
	margin: 0px; 
	line-height: 1;
}


.carousel-indicators {
  bottom: -25px;

  > li {
    border-color: $colorGray;
    border-radius: 0px;
    border-width: 2px;
    background-color: $colorGrayLight;
    @include transform(rotate(45deg));

    &:hover, &.active {
      border-color: $colorGreen;
      background-color: $$colorGreenFaintight;
    }
  }
}
