{
	"project":      5,
	"code":         10000,
	"publication":  10,
	"scholarship":  4,

	"citations": {
		"-2016": [null, null],
		"-2015": [5, 0, 0, 14, 32]
	},

	"projects": [
		{
			"url":         "url",
			"title":       "title",
			"class":       "class",
			"description": "description"
		},
		{
			"url":         "url",
			"title":       "title",
			"class":       "class",
			"description": "description"
		}
	],

	"skills": {
		"left": [
			{
				"title": "title",
				"icon":  "fa-icon",
				"items": [
					["display", 95],
					["display", 75]
				]
			}
		],
		"right": [
			{
				"title": "title",
				"icon":  "fa-icon",
				"items": [
					["display", 95],
					["display", 75]
				]
			}
		]
	}
}