{
	"email": {
		"host":      "host.domain",
		"protocol":  "smtp",
		"port":      "587",
		"login":     "user@domain",
		"password":  "secret"

	"ga_tracker":  "UA-uid-n",
	"git_token":   "access_token",
	"port":        8000,
	
	"DEBUG":       false
}