{
	"-2016": [
		{
			"author":   "author",
			"title":    "title",
			"journal":  "journal",
			"issue":    "issue",
			"page":     "page",
			"is_ready": false,
			"file":     "filename_without_extension",
			"code":     ""
		}
	],
	"-2015": [
		{
			"author":   "author",
			"title":    "title",
			"journal":  "journal",
			"issue":    "issue",
			"page":     "page",
			"is_ready": true,
			"file":     "filename_without_extension",
			"code":     ""
		}
		{
			"author":   "author",
			"title":    "title",
			"journal":  "journal",
			"issue":    "issue",
			"page":     "page",
			"is_ready": true,
			"file":     "filename_without_extension",
			"code":     ""
		}
	]
}