{
    "email": {
        "host":      "host.domain",
        "protocol":  "smtp",
        "port":      "587",
        "login":     "user@domain",
        "password":  "secret"

    "gaTracker":  "UA-uid-n",
    "gitToken":   "access_token",

    "gitRepo": {
        "alias1":     "org1/repo1",
        "alias2":     "org1/repo2",
        "alias3":     "org2/repo1"
    },

    "port":        8000,
    "DEBUG":       false
}