@import '../mixins/colors';

.COMMON__carousel {
  float: left;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;

  &.COMMON__carousel--fade {
    overflow: hidden;
    transition-duration: 0.5s;

    img {
      max-width: none;
    }
  }

  .COMMON__carousel-indicators {
    .COMMON__carousel-indicator {
      margin: 0 0.5rem;
      border: 3px solid $colorGray;
      border-radius: 0;
      width: 1rem;
      height: 1rem;
      opacity: 0.5;

      transition-duration: 0.2s;
      transform: rotate(45deg);

      &.active {
        border: 3px solid $colorGreen;
        background-color: transparent;
        opacity: 0.75;
      }
    }
  }
}

// .COMMON__carousel_parent { margin-bottom: 1.8rem; }
