@import '../../common/mixins/colors';


.COMMON__dropdown {
  &:hover {
    .COMMON__dropdown-menu { display: block; }  
  }
}

.COMMON__dropdown-menu {
  padding: 0.75em 0;
  margin-top: 0;
  border: 2px solid $colorGreen;
  border-radius: 0;
  box-shadow: none;

  .COMMON__dropdown-item {
    .COMMON__dropdown-link {
      padding: 8px 20px;
      margin-left: 0;
      border-radius: 0;
      // padding: 4px 20px;
      color: $colorGreenFull;
      text-align: right;
      text-transform: uppercase;

      &:hover,
      &:focus {
        background-color: $colorGreenFaint;
        color: $colorGreenFull; 
        font-weight: bold;
        text-decoration: none;
      }

      &.active,
      &.active:hover,
      &.active:focus {
        background-color: $colorGreen; 
        color: $colorWhite;
        font-weight: bold;
      }
    }
  }
}

@include media_width_lt(767px) {
  .COMMON__navbar-toggle { display: none; }
}


.caret { margin-left: 0.5em; }
