@import '../mixins/colors';
@import '../mixins/media';


.FOOTER { 
  background-color: $colorBlack; 
  height: 96px;
  width: 100%;
  margin: 0;
  display: table;
  overflow: hidden;

  a { text-decoration: none; }
  > div { display: table-cell; }

  .FOOTTER__city_gif {
    height: 96px;
    width: 128px;
    padding: 0;

    &:last-child { text-align: right; }
    a img {
      @extend .FOOTTER__city_gif;
      vertical-align: text-bottom;
    }
  }

  .FOOTER__copyright:last-of-type { padding-top: 0.8em; }
}
.FOOTER__header {
  padding-top: 1em;
  width: auto;
}

.COMMON__footer_logo {
  svg {
    height: 1rem;
    margin: 0 0.5em;
  }
}
