@import '../mixins/colors';
@import '../mixins/media';

.FOOTER {
  background-color: $colorBlack;
  height: 96px;
  width: 100%;
  margin: 0;
  overflow: hidden;

  display: flex;
  justify-content: space-between;

  a {
    text-decoration: none;
  }

  .FOOTTER__city {
    height: 96px;
    width: 128px;
    padding: 0;

    &:last-child {
      text-align: right;
    }

    .FOOTER__city-gif {
      @extend .FOOTTER__city;
      vertical-align: text-bottom;
    }
  }

  .FOOTER__copyright:last-of-type {
    padding-top: 0.8em;
  }
}

.FOOTER__header {
  padding-top: 1em;
  width: auto;
}

.FOOTER__year {
  margin-right: 0.75em;
}

.COMMON__footer_logo {
  svg {
    height: 1rem;
    margin: 0 0.5em;
  }
}

@include media_width_lt(511px) {
  .FOOTER {
    height: auto;

    .FOOTER__copyright {
      line-height: 1.25;
    }
  }

  .FOOTER__header {
    padding: 1em 1.5em;    
  }
}
