@import '../mixins/colors';


.green .T47__logo path { fill: $colorGreenDark; }
.white .T47__logo path { fill: $colorWhite; }

.green-transparent .T47__logo_alt,
.green-white .T47__logo_alt {
  path { fill: $colorGreen; }
}
.green-transparent .T47__logo_alt-fill path { fill: transparent; }
.green-white .T47__logo_alt-fill path { fill: white; }
