@import '../mixins/colors';

.filled .T47__logo path {
  fill: $colorDark;
}

.white .T47__logo path {
  fill: $colorWhite;
}

.filled-transparent .T47__logo_alt,
.filled-white .T47__logo_alt {
  path {
    fill: $colorMain;
  }
}

.filled-transparent .T47__logo_alt-fill path {
  fill: transparent;
}

.filled-white .T47__logo_alt-fill path {
  fill: white;
}
