@import '../mixins/colors';

.green .T47__logo path {
  fill: $colorDark;
}

.white .T47__logo path {
  fill: $colorWhite;
}

.green-transparent .T47__logo_alt,
.green-white .T47__logo_alt {
  path {
    fill: $colorMain;
  }
}

.green-transparent .T47__logo_alt-fill path {
  fill: transparent;
}

.green-white .T47__logo_alt-fill path {
  fill: white;
}
