@import '../mixins/colors';

.scrollTop {
  position: fixed;
  bottom: 2em;
  right: 2.5em;
  width: 2.5em;
  height: 2.5em;
  color: $colorGreen;
  border: 2px solid $colorGreen;
  line-height: 2.5em;
  text-align: center;
  text-decoration: none;
  z-index: 9999;

  transition-duration: 0.5s;
  transform: rotate(45deg);

  .fa {
    padding-left: 0.25em;

    transition-duration: 0.5s;
    transform: rotate(-45deg) translate(-1px, -0.125em);
  }

  &:hover {
    background-color: $colorGreen;
  }

  &:hover .fa {
    color: $colorWhite;
  }

  &.invisible {
    opacity: 0;
    visibility: hidden;
  }
}
