.UTIL__section-header {
  text-align: center;
  margin: 0 0 4.25rem 0;
  padding: 0;
  border: none;
}

.UTIL__section-title {
  text-transform: uppercase;
}

.UTIL__section-subtitle {
  letter-spacing: inherit;
  margin-top: 1rem;
  font-size: 1.25rem;
}
