@import '../../../common/mixins/colors';
@import '../../../common/mixins/prefix';


.AFFILIATION__story {
  position: relative;
  padding: 3.5em 7em 3.5em 14em;

  &::before, &::after {
    content: "";
    display: table;
    clear: both;
  }
}
.AFFILIATION__timeline {
  position: absolute; 
  width: 1px; 
  height: 100%; 
  left: 14em; 
  top: 0;
  border-right: 2px solid #d9d9d9; 
  z-index: 5; 

  &::before, &::after {
    content: "";
    left: -0.4em;
    width: 1em;
    height: 1em;
    background: #d9d9d9;
    position: absolute;
    border-radius: 0.5em;
  }
  &::before { top: 0; }
  &::after { bottom: 0; }
}

.AFFILIATION__entry {
  width: 100%;
  margin: -3.5em 0;
  position: relative;
  z-index: 10;
  float: left;

  &::after {
    content: "";
    display: table;
    clear: both;
  }
  // &:last-child { margin: 0; }
}

.AFFILIATION__content {
  width: 100%;
  padding-left: 3.5em;
  float: left; 
  position: relative;

  .AFFILIATION__panel {
    background: #e6e6e6;
    padding: 1.5em;
    border-left: 5px solid $clr-gl;
    text-align: left;
    opacity: 0;
    @include transform(matrix(1, 0, 0, 1, -200, 0));
    @include transition(0.25s);
  }
  &.active {
    .AFFILIATION__panel {
      opacity: 1;
      @include transform(matrix(1, 0, 0, 1, 0, 0));
    }
    .AFFILIATION__year {
      color: $clr-gl;

      &::after { background-color: $clr-gl; }
    }
  }
}

.AFFILIATION__title {
  color: #191919;
  font-size: 1.6em;
  /*text-transform: uppercase;*/
  font-weight: bold;
  font-variant: small-caps;
  text-align: center;
  padding-left: 4px;

  a { color: $clr-g; }
  span {
    font-variant: normal;
    font-size: 0.7em;
    color: $clr-k;
  }

  div.SPRITE {
    width: 100%;
    max-width: 224px;
  }
}
.AFFILIATION__year {
  font-size: 2em;
  font-weight: 900;
  color: $clr-w;
  text-align: right;
  position: absolute;
  width: 14em;
  top: 40%;
  left: -15em; 

  &::after {
    content: "";
    width: 0.5em;
    height: 0.5em;
    left: 14.8em;
    top: 40%;
    background: $clr-g;
    position: absolute;
    z-index: 6;
    border-radius: 0.5em;
  }
}
.AFFILIATION__text {
  border-left: 2px dashed $clr-kl;
  padding: 1em;
  /*margin: 10px -15px -15px;*/
  color: #000;
  line-height: 150%;

  p { font-size: 1.1em; }
}

@media only screen and (max-width : 991px) {
  .AFFILIATION__story { padding: 3.5em 3.5em 3.5em 7.5em; }
  .AFFILIATION__timeline { left: 7.5em; }
  .AFFILIATION__text {
    text-align: center;
    p { margin-bottom: 0; }
  }
}
