@import '../../../common/mixins/colors';


.STATS__area {
  .STATS__item:last-of-type { border-right: none; }
  .STATS__counter {
    padding-bottom: 2.25em;

    &:hover i.fa { color: $clr-gl; }
    .STATS__num { font-size: 4em; }
    .STATS__text.done { color: $clr-g; }
  }
}

.STATS__github svg { overflow: visible; }
text.month,
text.wday {
  fill: $clr-k;
  font-size: 10px;
}
text.legend {
  fill: $clr-k;
  font-size: 11px;
}
rect.day {
  shape-rendering: crispedges;
  height: 11px;
  width: 11px;

  &:hover { stroke: #333; }
  &.day_0 { fill: #eee; }
  &.day_1 { fill: #d6e685; }
  &.day_2 { fill: #8cc665; }
  &.day_3 { fill: #44a340; }
  &.day_4 { fill: #1e6823; }
}

