{% extends "_error.html" %}

{% block image %}
<img src="/img/error/201.png" height="auto" style="max-width:100%;" />
{% endblock %}

{% block h1 %}
<span class="label label-green">mRNA Transcribed</span>
{% endblock %}

{% block p1 %}
<b>Messenger RNA has been fully transcribed and is being transported through nuclear pores. Protein expression is about to take place.</b>
{% endblock %}

{% block h2 %}
<span class="label label-green">201: Created</span>
{% endblock %}

{% block p2 %}
<code><b>Thanks!</b></code>
<br/>
The request has been fulfilled and resulted in a new resource being created. 
<br/>
<kbd>I have received your email and will follow up!</kbd>

<p style="padding-top:25px;">
  <a class="pull-left" href="/"><i class="fa fa-fw fa-lg fa-arrow-circle-left"></i> <i>Visit my site again~</i></a>
  <a class="pull-right" href="https://www.linkedin.com/in/t47io/" rel="noopener noreferrer external">See my <i class="fa fa-fw fa-linkedin-square"></i> profile <i class="fa fa-fw fa-lg fa-arrow-circle-right"></i></a>
</p>
{% endblock %}
