.sprite { display: inline-block; }


.logo_g,
.logo_o {
  max-width: 783px;
  max-height: 416px;
}
.logo_alt_g,
.logo_alt_o,
.logo_alt_w {
  max-width: 1008px;
  max-height: 320px;
}

.logo_g::after,
.logo_o::after,
.logo_alt_g::after,
.logo_alt_o::after,
.logo_alt_w::after {
  content: ' ';
  display: inline-block;
  max-width: 100%;
  background-size: 100% auto; 
  width: 100%; 
  height: 0; 
}
.logo_g::after,
.logo_o::after {
  background-image: url('/img/t47/t47_logo.png');
  padding-bottom: 53.13%;
}
.logo_alt_g::after,
.logo_alt_o::after,
.logo_alt_w::after {
  background-image: url('/img/t47/t47_logo_alt.png');
  padding-bottom: 31.75%;
}

.logo_g::after { background-position: 0 100%; }
.logo_o::after { background-position: 0 0%; }
.logo_alt_g::after { background-position: 0 50%; }
.logo_alt_o::after { background-position: 0 0%; }
.logo_alt_w::after { background-position: 0 100%; }

