@import '../../common/mixins/media';
@import '../../project/stylesheets/typography';


.LOAD__container {
  text-align: left;

  .LOAD__content {
    margin-top: 0;
    width: 992px;
  }
  .UTIL__image-RNA { background-position: center center; }

  .ERROR__title { margin-bottom: 20px; }
  .ERROR__image { max-width: 100%; }
  hr { width: 60%; }
  .green {
    text-align: left;

    svg {
      height: 6rem;
      width: auto;

      .T47__logo path { fill: $colorGreen; }
    }
  }
}

@include media_width_lt(767px) {
  .LOAD__container {
    height: auto;
    position: static;
    padding: 2rem 0;
    text-align: center;

    .LOAD__content { width: 100%; }
    .UTIL__image-RNA { background-size: 100%; }

    .ERROR__title { margin-bottom: 10px; }
    .ERROR__image { max-width: 75%; }
    hr { width: 80%; }
    .green { text-align: center; }
  }
}
