@import '../../common/mixins/media';
@import '../../project/stylesheets/typography';

.LOAD__container {
  text-align: left;

  .LOAD__content {
    margin-top: 0;
    width: 992px;
  }

  .ERROR__title {
    margin-bottom: 1.5rem;
  }

  .ERROR__image {
    max-width: 75%;
    display: block;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  .ERROR__words {
    margin-top: 1.5rem;
  }

  hr {
    width: 60%;
  }

  .filled {
    text-align: left;

    svg {
      height: 6rem;
      width: auto;

      .T47__logo path {
        fill: $colorMain;
      }
    }
  }
}

@include media_width_gt(992px) {
  .LOAD__container {
    .UTIL__image-RNA {
      &::before {
        background-size: 60%;
      }
    }
  }
}

@include media_width_lt(767px) {
  .LOAD__container {
    height: auto;
    position: static;
    padding: 2rem 0;
    text-align: center;

    .LOAD__content {
      width: 100%;
    }

    .ERROR__title {
      margin-bottom: 0.75rem;
    }

    hr {
      width: 80%;
      z-index: 1;
    }

    .filled {
      text-align: center;
    }
  }
}

@include media_width_lt(511px) {
  body .body {
    overflow-x: hidden;
  }

  .LOAD__container {
    .ERROR__image {
      max-width: 120%;
    }

    .label {
      line-height: 1.25em;
      display: inline-block;
      margin-left: 50%;
      transform: translateX(-50%);
    }
  }
}
