@import '../../common/mixins/colors';
@import '../../common/mixins/media';
@import '../../common/stylesheets/Logo';

.FOOTER {
  text-align: center;
  padding: 0 2em;

  a {
    color: $colorMain;
  }

  .FOOTER__year {
    margin-right: 0.75em;
  }

  .fa {
    display: inline-block;

    &.fa-fw {
      width: 2em;
      text-align: center;
    }
  }

  .fa svg,
  .filled-white svg {
    height: 1em;
    width: auto;
    margin: 0 0.5em;
    vertical-align: text-top;
  }

  @include media_width_lt(767px) {
    .FOOTER__line {
      margin-bottom: 0;
    }
  }
}
