@import '../../common/mixins/colors';
@import '../../common/mixins/media';
@import '../../common/stylesheets/Logo';

.FOOTER {
  text-align: center;
  padding: 0 2rem;
  z-index: 1;

  a {
    color: $colorMain;
  }

  .FOOTER__year {
    margin-right: 0.75rem;
  }

  .fa {
    display: inline-block;

    &.fa-fw {
      width: 2rem;
      text-align: center;
    }
  }

  .fa svg,
  .filled-white svg {
    height: 1rem;
    margin: 0 0.5rem;
    vertical-align: text-top;
  }

  .fa svg {
    width: 1rem;
  }

  .filled-white svg {
    width: auto;
  }
}
