@import '../common/scss/util';
@import '../common/scss/type';

@import '../common/scss/navbar';
@import '../common/scss/footer';
@import '../common/scss/scrolltop';
@import '../common/scss/carousel';

@import './scss/util';
@import './scss/home';
@import './scss/about';
@import './scss/affiliation';
@import './scss/portfolio';
@import './scss/skills';
@import './scss/stats';
@import './scss/pubs';
@import './scss/contact';

@import '../sprites_index';
@import '../sprites_logo';

@import '../mobile';
@import '../font.css';
@import '../wenk.min.css';


html { height: 100% !important; }
body {
	position: relative;
	height: 100%;
	line-height: 1;
	font-size: 14px;
	color: #363940;
	-webkit-text-size-adjust: 100%;

	.body { height: 100%; }
	.boxed { color: $clr-kl; }
}

* {
	@include border_radius(0 !important);

	&:focus { 
		outline: none !important;
		@include box_shadow(none !important);
	}
}

section {
	position: relative;

	&:not(:last-of-type):not(:first-of-type) {
	  overflow: hidden;
	  background-color: $clr-w;
	  padding: 50px 0;
	}
}
small { font-size: 12px; }
h1 { font-size: 36px; }
h2 { font-size: 30px; }
h3 { font-size: 26px; }
h4 { font-size: 22px; }
h5 { font-size: 18px; }
p {	font-size: 14px/1.5em; }


.navbar-fixed-top {
	&.navbar-shrink {
		.container {
			padding-top: 0 !important;
			padding-bottom: 0 !important;
		}		
		.navbar-brand {
			color: $clr-kl;

			&:hover { color: $clr-gdd; }
			&:focus { color: $clr-kl; }
		}

		&.navbar-default {
			.navbar-nav li a { color: $clr-gll; }
			.navbar-brand {
				color: $clr-w;

				&:hover { color: $clr-gdd; }
			}
		}

		&.navbar-inverse {
			background-color: #111;

			.navbar-nav {
				li a {
					color: $clr-kl;

					&:hover, &:focus {
						background-color: transparent;
						color: $clr-gdd;
					}
				}
				.active a, .active a:hover, .active a:focus, li.active a {
					background-color: transparent;
					color: $clr-gdd;
				}
			}
		}
	}
}
.navbar-transparent {
	background-color: transparent;

	.navbar-nav li a {
		color: $clr-w;
		text-transform: uppercase;
	}
	.navbar-nav li:hover a {
		background-color: transparent;
		color: $clr-gl;
	}
	.navbar-brand {
		color: $clr-g;
		opacity: 0.5;

		&:focus { color: $clr-gl; }
	}

	&.navbar-fixed-top .container {
		padding-top: 30px;
		padding-bottom: 0;
	}
	&.navbar-fixed-bottom .container {
		padding-top: 0;
		padding-bottom: 30px;
	}
}
.navbar-nav li a {
	padding: 24px 0;
	margin-left: 25px;
	font-size: 13px;
	font-weight: 600;
}
@media only screen and (max-width : 767px) {
	.navbar-collapse.collapse {
		background-color: $clr-gl;
		border-color: $clr-w;

		float: right;
		text-align: right;
		padding-right: 40px;
	}
	.navbar-default.navbar-shrink .navbar-nav li.active a {
		@include box_shadow(none !important);
	}
	.navbar-nav {
		li { 
			a:hover, a:focus { background-color: $clr-gdd; }
			&.active {
				a { color: $clr-gdd; }
				a:hover, a:focus { color: $clr-w; }
			}
		}
	}

	.collapse {
		display: none;

		&.in { display: block; }
	}
}


.tooltip-inner {
    background-color: #363940;
    color: $clr-wo;
    opacity: 0.9;
}