@import '../../common/mixins/media';
@import './util';

.LOAD__logo svg {
  width: 25rem;
  max-width: 75%;
}

.LOAD__helix {
  height: 20rem;
  width: 30rem;
  max-width: 75%;
  @include transform(scaleX(-1));

  .LOAD__helix-dot {
    position: absolute;
    // top: 0;
    width: 1.5rem;
    height: 1.5rem;
    background: $colorGray;
    opacity: 0;
    border-radius: 1.5rem;
  }
}
@include media_width_lt(991px) {
  .LOAD__helix {
    height: 15rem;

    .LOAD__helix-dot {
      width: 1rem;
      height: 1rem;
      border-radius: 1rem;
    }
  }
}
@include media_width_gt(992px) {
  .LOAD__helix { width: 36rem; }
}

$time: 2s;
$delay: 0.1s;
$padding: 4%;
@mixin animation($val, $off) {
  -webkit-animation: dna_rotate #{$time $val * $delay + $off + 1s} infinite ease-in-out;
  animation: dna_rotate $time #{$val * $delay + $off} infinite ease-in-out;
}
@for $i from 0 through 25 {
  .LOAD__helix div:nth-child( #{$i + 1} ){
    right: $i * $padding;
    @if $i % 2 == 0 {
      background: nth($list-clr, $i % 12 + 1); 
      @include animation($i, 0s);
    }
    @else{
      background: nth($list-clr, $i % 12 + 1); 
      @include animation($i, 1s);
    }
  }
}
