@import '../../common/mixins/media';
@import '../../common/mixins/palette';

$time: 2s;
$delay: 0.1s;
$padding: 4%;
$list-clr: $colorGray, $colorMain, $colorRed, $colorCyan, $colorYellow, $colorPurple, $colorMain, $colorGray, $colorCyan, $colorRed, $colorPurple, $colorYellow;

.LOAD__logo svg {
  width: 25rem;
  max-width: 75%;
}

.LOAD__helix {
  height: 20rem;
  width: 30rem;
  max-width: 75%;
  transform: scaleX(-1);

  .LOAD__helix-dot {
    position: absolute;
    // top: 0;
    width: 1.5rem;
    height: 1.5rem;
    background: $colorGray;
    opacity: 0;
    border-radius: 1.5rem;
    will-change: top, right, opacity, z-index;
  }
}

@include media_width_lt(991px) {
  .LOAD__helix {
    height: 15rem;

    .LOAD__helix-dot {
      width: 1rem;
      height: 1rem;
      border-radius: 1rem;
    }
  }
}
@include media_width_gt(992px) {
  .LOAD__helix {
    width: 36rem;
  }
}

@keyframes dna_rotate {
  $i: 0;

  @while $i <= 100 {
    #{$i}% {
      opacity: 1;

      @if $i % 100 == 0 {
        top: 20%;
        z-index: 0;
        transform: scale(1);
      } @else if $i % 50 == 0 {
        top: 60%;
        z-index: 1;
        transform: scale(1);
      } @else if $i == 25 {
        transform: scale(1.8);
      } @else {
        transform: scale(0.5);
      }
    }
    $i: $i + 25;
  }
}

@for $i from 0 through 25 {
  .LOAD__helix .LOAD__helix-dot:nth-child(#{$i + 1}) {
    right: $i * $padding;

    @if $i % 2 == 0 {
      background-color: nth($list-clr, $i % 12 + 1);
      animation: dna_rotate $time #{$i * $delay + 0s} ease-in-out infinite;
    } @else {
      background-color: nth($list-clr, $i % 12 + 1);
      animation: dna_rotate $time #{$i * $delay + 1s} ease-in-out infinite;
    }
  }
}
