@import '../../common/mixins/media';

.UTIL__image-RNA {
  &::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: url("../images/bg_rna.svg") no-repeat center center;
    background-size: 80%;
  }
}

@include media_width_lt(767px) {
  .UTIL__image-RNA {
    &::before {
      background-size: 100%;
    }
  }
}

@include media_width_lt(511px) {
  .UTIL__image-RNA {
    &::before {
      transform: rotate(90deg);
      width: 100vh;
      height: 100vw;
      top: 50vw;
      left: -25vh;
      background-size: 80%;
    }
  }
}
