@import '../../common/mixins/palette';

$time: 6.75s;
$delay: 0.125s;
$unit: 3rem;
$list-clr: $colorRed, $colorCyan, $colorYellow, $colorPurple, $colorGray, $colorMain;

.LOAD__square-block {
  background-color: transparent;
  opacity: 0;
  float: left;
  display: block;
  overflow: hidden;
  width: $unit;
  height: $unit;
  margin: 0 #{$unit / 6} #{$unit / 6} 0;
  will-change: opacity, background-color;
}

@keyframes square_color {
  $i: 1;

  @while $i <= 99 {
    #{$i - 15}% {
      opacity: 1;
      background-color: nth($list-clr, ceil($i / 16.5));
    }

    #{$i}% {
      opacity: 0;
      background-color: nth($list-clr, ceil($i / 16.5));
    }
    $i: $i + 16.5;
  }
}

@for $i from 0 through 8 {
  .LOAD__square-block--#{$i + 1} {
    animation: square_color $time #{$i * $delay} ease-in-out infinite;
  }
}
