@import '../../common/scss/util';
@import '../../project/scss/util';


$list-clr: $clr-k, $clr-g, $clr-r, $clr-c, $clr-y, $clr-p, $clr-g, $clr-k, $clr-c, $clr-r, $clr-p, $clr-y;


@mixin transform($val) {
  -webkit-transform: $val;
  -ms-transform: $val;
  transform: $val;
}

@include keyframes(dna_rotate) {
  $i: 0;
  @while $i <= 100 {
    #{$i}% {
      opacity: 1;
      @if $i % 100 == 0 {
        top: 20%;
        z-index: 0;
        @include transform(scale(1));
      }
      @else if $i % 50 == 0 {
        top: 60%;
        z-index: 1;
        @include transform(scale(1));
      }
      @else if $i == 25 {
        @include transform(scale(1.8));
      }
      @else {
        @include transform(scale(0.5));
      }
    }
    $i: $i + 25;
  }
}
