@import './util';


.LOAD__logo svg { max-width: 50%; }
@media only screen and (max-width : 767px) {
  .LOAD__logo svg { max-width: 75%; }
}

.LOAD__helix {
  max-width: 70%;
  // max-width: 600px;
  height: 20rem;
  @include transform(scaleX(-1));

  div {
    position: absolute;
    // top: 0;
    width: 1.5rem;
    height: 1.5rem;
    background: $clr-k;
    opacity: 0;
    border-radius: 1.5rem;
  }
}
@media only screen and (max-width : 767px) {
  .LOAD__helix {
    height: 15rem;

    div {
      width: 1rem;
      height: 1rem;
      border-radius: 1rem;
    }
  }
}


$time: 2s;
$delay: 0.1s;
$padding: 4%;
@mixin animation($val, $off) {
  -webkit-animation: dna_rotate #{$time $val * $delay + $off + 1s} infinite ease-in-out;
  animation: dna_rotate $time #{$val * $delay + $off} infinite ease-in-out;
}
@for $i from 0 through 25 {
  .LOAD__helix div:nth-child( #{$i + 1} ){
    right: $i * $padding;
    @if $i % 2 == 0 {
      background: nth($list-clr, $i % 12 + 1); 
      @include animation($i, 0s);
    }
    @else{
      background: nth($list-clr, $i % 12 + 1); 
      @include animation($i, 1s);
    }
  }
}
