<div class="extra-space-xxl SKILLS__trigger"></div>
<div class="container">
  <div class="page-header text-center SKLLLS__header">
    <h2>my skills</h2>
    <div class="divider"></div>
    <p class="subtitle">what I learned</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="SKILLS__panel left">
        {% for s in dat_dict.skills.left %}
        <div class="SKILLS__title">
          <h6><i class="fa fa-fw fa-lg {{s.icon}}"></i> {{s.title}}</h6>
        </div>
          {% for i in s.items %}
          <div class="SKILLS__progress left">
            <div class="SKILLS__bar" role="progressbar" aria-valuenow="{{i[1]}}" aria-valuemin="0" aria-valuemax="100" style="width: {{i[1]}}%;">{{i[0]}}</div>
          </div>
          {% endfor %}
        {% endfor %}
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="SKILLS__panel right">
        {% for s in dat_dict.skills.right %}
        <div class="SKILLS__title">
          <h6><i class="fa fa-fw fa-lg {{s.icon}}"></i> {{s.title}}</h6>
        </div>
          {% for i in s.items %}
          <div class="SKILLS__progress right">
            <div class="SKILLS__bar" role="progressbar" aria-valuenow="{{i[1]}}" aria-valuemin="0" aria-valuemax="100" style="width: {{i[1]}}%;">{{i[0]}}</div>
          </div>
          {% endfor %}
        {% endfor %}
      </div>
    </div>
    
  </div>
</div>